
{% if add.bottom_text == 'scooters'  %}
<div class="bottom-text-wrap">
  <div class="wrapper">
    <h2>Choosing the Right Electric Scooter</h2>
    <p>GOTRAX® is constantly developing new electric scooters with different specs and the latest features. Our number 1 selling electric scooter is the GXL Electric Scooter. The GXL’s  8.5” Inflatable tires and 9-12 mile range make it the perfect electric scooter for adults, commuters, and older teens and at a price that’s reasonable for recreational riders too! For children and early teens, we recommend the G2 Electric Kick Scooter. Perfect for parents worried on giving their kids too much power, the G2 features 2-speed settings and is governed at a max speed of 15mph. For young Children and pre-teens, we recommend the GKS electric scooter coming this summer. Sign up for our mailing list to receive news about the GKS launch.</p>
  </div>
</div>
  


  {% elsif add.bottom_text == "hoverboards"  %}

  {% comment %} Hoverboard {% endcomment %}

  <div class="bottom-text-wrap">
  <div class="wrapper">
    <h2>Choosing the Right Hoverboard</h2>
    <p>GOTRAX® is constantly developing new hoverboards with exciting features and it can be tough deciding which hoverboard to buy. Below is a comparison chart showing the differences like our Bluetooth hoverboards, All terrain hoverboards and other impressive features. It can also be used to pick out the right hoverboard for kids or hoverboards for adults, make sure to check the weight limit of each model for optimum performance. For adult riders we suggest the SRX PRO, it has the largest motor and if you’re going off-road the all-terrain tires are a must! All GOTRAX hoverboards can support up to 220lbs. The Hoverfly ION is great for kids! It features a self-balancing mode that makes it easy to ride, as well comes in several vibrant and fun colors. While the SRX is a step up with all the features of the ion and a built-in Bluetooth speaker. The ECO is our entry model with a classic hoverboard body style that comes at a great price!</p>
  </div>
</div>

  {% endif  %}