
{% if add.table == 'scooters'  %}
<div class="table-img-wrap">
  <div class="desktop">
    <img class="table-img" src="https://cdn.shopify.com/s/files/1/0071/0406/9747/files/Comp_Scooter_v1_Desktop_1.jpg?2064" alt="">
  </div>
  <div class="mobile">
    <img class="table-img" src="https://cdn.shopify.com/s/files/1/0071/0406/9747/files/Comp_Scooter_v1_Mobile_1.jpg?2064" alt="">
  </div>

</div>
  


  {% elsif add.table == "hoverboards"  %}

  {% comment %} Hoverboard {% endcomment %}

  <div class="table-img-wrap">
    <div class="desktop">
      <img class="table-img" src="https://cdn.shopify.com/s/files/1/0078/8362/0407/files/Hoverboard-Comparison-2.0-1920x950v2.jpg?3080" alt="">
    </div>
    <div class="mobile">
      <img class="table-img" src="https://cdn.shopify.com/s/files/1/0078/8362/0407/files/Hoverboard-Comparison-2.0-_Mobilev2.jpg?3080" alt="">
    </div>
  </div>

  {% endif  %}

  