
{% if add.table == 'scooters'  %}

<div class="new-banner-container animate-in">
    <div class="image-container">
      <img src="https://cdn.shopify.com/s/files/1/0071/0406/9747/files/2-WhichScooter_Desktop-resize.jpg?v=1577745474" alt="Which scooter is right for you - Desktop" class="desktop">
      <img src="https://cdn.shopify.com/s/files/1/0071/0406/9747/files/2-WhichScooter_Mobile-resize.jpg?v=1577745474" alt="Which scooter is right for you - Mobile" class="mobile">
    </div>
  </div>

   <div class="bottom-text-wrap animate-in">
    <div class="wrapper">
      <h2>GXL Series</h2>
      <p>The GXL Series is compiled of our classic electric scooters the GXL and the GXL V2. This series is perfect for entry-level riders with all the scooters being at an affordable price.  The GXL is our original electric scooter and a classic from Gotrax. The GXL V2 scooter has everything you love from the GXL but with a handbrake on the console for more efficient braking and a reinforced back fender. The GXL V2 is a commuter ready scooter, but still good recreational riders and beginners. Whether you need it as a mode of transportation or just for fun, this is a great scooter for you. Check out the chart below to see all the details about the GXL series. </p>
    </div>
  </div>

  <div class="table-container animate-in">
    <div class="inner-wrap">
      <img src="https://cdn.shopify.com/s/files/1/0071/0406/9747/files/Comp_GXL_Desktop_ce640a57-925e-469b-8bb2-162c918edca7.jpg?v=1577745474" alt="GXL Comparison Table Desktop" class="desktop">
      <img src="https://cdn.shopify.com/s/files/1/0071/0406/9747/files/Comp_GXL_Mobile_ae4317b6-2cea-43d2-b0f4-bf1d0136596f.jpg?v=1577745474" alt="GXL Comparison Table Mobile" class="mobile">
    </div>
  </div>


   <div class="bottom-text-wrap animate-in">
    <div class="wrapper">
      <h2>Xr Series</h2>
      <p>The Xr Series is a new affordable series of commuting electric scooters. This series features two 2 models for 2020, the Xr & Xr Ultra. The Xr is an improvement on the previous electric scooter design of the GXL V2. With upgrades including a new dual braking system, an improved folding mechanism, and IP54 Waterproofing. The Xr Ultra has all the same features and upgrades of the Xr, but also includes additional upgrades such as a larger 300 Watt and an LG Brand Battery for extra riding distance per charge. Check out the chart below to see all the details about the Xr series</p>
    </div>
  </div>


  <div class="table-container animate-in">
    <div class="inner-wrap">
      <img src="https://cdn.shopify.com/s/files/1/0071/0406/9747/files/Comp_XR_Desktop_d93ea32b-41e5-47aa-8015-d0dd1b1da4d2.jpg?v=1577745474" alt="XR Comparison Table Desktop" class="desktop">
      <img src="https://cdn.shopify.com/s/files/1/0071/0406/9747/files/Comp_XR_Mobile_e6ba30db-b39f-4e85-a9c1-1f411d422104.jpg?v=1577745474" alt="XR Comparison Table Mobile" class="mobile">
    </div>
  </div>


   {% comment %} <div class="bottom-text-wrap">
    <div class="wrapper">
      <h2>G Series</h2>
      <p>The G Series by GOTRAX is our high-performance series of electric scooters. Scooters in this series can travel distances of up to 28 miles per charge and speeds of up to 20mph! We recommend these scooters for commuters and e-scooter enthusiasts. Check out the chart below to see the details about the electric scooters in our G Series.</p>
    </div>
  </div>


  <div class="table-container">
    <div class="inner-wrap">
      <img src="https://cdn.shopify.com/s/files/1/0071/0406/9747/files/Comp_G-Series_Desktop.jpg?2410" alt="G Series Comparison Table Desktop" class="desktop">
      <img src="https://cdn.shopify.com/s/files/1/0071/0406/9747/files/Comp_G-Series_Mobile.jpg?2410" alt="G Series Comparison Table Mobile" class="mobile">
    </div>
  </div> {% endcomment %}




  {% elsif add.table == "hoverboards"  %}
  {% comment %} Hoverboard {% endcomment %}

  <div class="new-banner-container animate-in">
    <div class="image-container">
      <img src="https://cdn.shopify.com/s/files/1/0071/0406/9747/files/1-WhichHoverboard_Desktop-resize.jpg?v=1577745742" alt="Hoverfly Series" class="desktop">
      <img src="https://cdn.shopify.com/s/files/1/0071/0406/9747/files/1-WhichHoverboard_Mobile-re.jpg?v=1577745741" alt="Hoverfly Series" class="mobile">
    </div>
  </div>

   <div class="bottom-text-wrap animate-in">
    <div class="wrapper">
      <h2>Hoverfly Series</h2>
      <p>The Hoverfly Series is compiled of our classic hoverboards the ECO, ION and the XL. This series is perfect for entry-level riders with all the hoverboards being at an affordable price. If you’re new to riding hoverboards and don’t want to spend a fortune on a hoverboard this is the series for you. All hoverboards in this series are tested and certified to UL 2272 electrical standards. The Gotrax ECO hoverboard is a Gotrax classic. The Hoverfly ION is a cutting edge hoverboard perfect for beginner riders.  The XL is Gotrax’s first all-terrain hoverboard. So whether you’re looking to off-road as a beginner or just want a solid board to learn how to ride on this series has a perfect board for every beginner rider. Check out the chart below to see all the details about the Hoverfly series. </p>
    </div>
  </div>

  <div class="table-container animate-in">
    <div class="inner-wrap">
      <img src="https://cdn.shopify.com/s/files/1/0071/0406/9747/files/Comp_Hoverfly_Desktop_ebb5c722-c13b-410d-a722-3cd1e6fe9132.jpg?v=1577745742" alt="Hoverfly Comparison Table Desktop" class="desktop">
      <img src="https://cdn.shopify.com/s/files/1/0071/0406/9747/files/Comp_Hoverfly_Mobile_2bab654d-395a-418d-a2aa-c4326918c58c.jpg?v=1577745742" alt="Hoverfly Comparison Table Mobile" class="mobile">
    </div>
  </div>


   <div class="bottom-text-wrap animate-in">
    <div class="wrapper">
      <h2>SRX Series</h2>
      <p>The SRX Series is compiled with the next generation of hoverboards with all new features and appearances from our Hoverfly series. This series includes the SRX, SRX A6, SRX PRO, and the SRX MINI. The SRX series has a hoverboard for every rider, ranging from the SRX Mini hoverboard for kids to the SRX PRO equipped with 8.5” Off-Road Tires and 500 Watts of power! The SRX, SRX A6 and SRX PRO all feature a built-in Bluetooth speaker so you can safely listen to music while you ride. Check out the chart below to see all the details about the SRX series.</p>
    </div>
  </div>


  <div class="table-container animate-in">
    <div class="inner-wrap">
      <img src="https://cdn.shopify.com/s/files/1/0071/0406/9747/files/Comp_SRX_Desktop_6006c0bb-d88e-4b85-a033-f7958048da67.jpg?v=1577745742" alt="SRX Comparison Table Desktop" class="desktop">
      <img src="https://cdn.shopify.com/s/files/1/0071/0406/9747/files/Comp_SRX_Mobile_846e3e29-810c-4556-a051-05e9833b6788.jpg?v=1577745742" alt="SRX Comparison Table Mobile" class="mobile">
    </div>
  </div>


   <div class="bottom-text-wrap animate-in">
    <div class="wrapper">
      <h2>E Series</h2>
      <p>The E Series includes the GOTRAX E2 and E3 hoverboards and is our high-performance series with the best features and specifications. Both hoverboards in the E Series comes with a built-in Bluetooth speaker, and have an auto self-balancing mode. The body of these 2020 hoverboards is completely redesigned in a unique tech-inspired style. The E2 hoverboard is sure to turn heads with its pulsing LED wheels, LED light bumpers and color-changing headlights. While the E3 is uniquely designed with built-in carrying handles and 8.5” off-road tires. Check out the chart below to view all the details on this high-performance E series!</p>
    </div>
  </div>


  <div class="table-container animate-in">
    <div class="inner-wrap">
      <img src="https://cdn.shopify.com/s/files/1/0071/0406/9747/files/Comp_ESeries_Desktop_79e82dac-2dbc-47b8-9958-c2284c123f02.jpg?v=1577745742" alt="E-Bikes Comparison Table Desktop" class="desktop">
      <img src="https://cdn.shopify.com/s/files/1/0071/0406/9747/files/Comp_ESeries_Mobile_a0ae4850-97fe-4187-8b10-c26d60368f51.jpg?v=1577745742" alt="E-Bikes Comparison Table Mobile" class="mobile">
    </div>
  </div>

  {% elsif add.table == "none"  %}
  {% endif  %}


  