



<footer>
    <div class="top-grid">
        <div class="footer-col links">
            <h4>Customer Support</h4>
            <p>Let us help you find what you're looking for.</p>
            <ul class="short-links">
                <li><a href="/pages/support">Help</a></li>
                <li><a href="/pages/faq">FAQ</a></li>
                <li><a href="/pages/resources">Resources</a></li>
                <li><a href="/pages/contact">Contact</a></li>
            </ul>
        </div>
        <div class="footer-col signup">
            <h4>Sign Me Up</h4>
            <p>GOTRAX exclusive members-only promotions, giveaways, news, and more! Sign up to ensure you don't miss out. We promise to only send you the good stuff!</p>
            <script type="text/javascript" src="https://a.opmnstr.com/app/js/api.min.js" data-account="75117" data-user="66799" async></script>
        </div>
        <div class="footer-col footer-social">
            <h4>Follow Us</h4>
            <ul>
                    <li><a target="_blank" href="https://www.instagram.com/ridegotrax/"><i class="fab fa-instagram"></i></a></li>
                    <li><a target="_blank" href="https://www.facebook.com/RideGOTRAX/"><i class="fab fa-facebook"></i></a></li>
                    <li><a target="_blank" href="https://twitter.com/ridegotrax"><i class="fab fa-twitter"></i></a></li>
            </ul>
        </div>
    </div>
    <div class="footer-bottom">
        <ul>
            <li><a href="/account/login">Account</a></li>
            <li><a href="/account/">Order Status</a></li>
            <li><a href="/pages/shipping-info">Shipping</a></li>
            <li><a href="/pages/return-policy">Returns</a></li>
            <li><a href="/apps/tracktor/">Track Your Order</a></li>
            <li><a href="/pages/warranty-claim">Warranty Claim</a></li>
            <li><a href="/pages/register-your-gotrax">Register Your Gotrax</a></li>
            <li><a href="/pages/store-locator">Store Locator</a></li>
            {% comment %} <li><a The only href="#">Corporate Sales</a></li> {% endcomment %}
            <li><a target="_blank" href="https://gotrax.postaffiliatepro.com/affiliates/">Affiliates</a></li>
            <li><a href="/pages/manuals">Manuals</a></li>
            <li><a href="/pages/become-a-dealer">Dealers</a></li>
            <li><a href="/pages/media-inquiries">Media Requests</a></li>
            <li><a href="/pages/ambassadors">Team</a></li>
            
        </ul>
        <div class="small-footer">
            <p>&copy; 2018 Golabs Inc. All rights reserved.</p>
            <ul class="small-list">
                <li><a href="/pages/privacy-policy">Privacy</a></li>
                <li><a href="/pages/terms-conditions">Terms</a></li>
                {% comment %} <li><a href="#">Site Map</a></li> {% endcomment %}
            </ul>
        </div>
    </div>
</footer>

<!-- Modal -->
<div class="modal modal-fullscreen fade" id="mobileModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div class="mobile-menu-wrap">
            <div class="menu-item with-children">
                <div class="link"><a class="m-sub-trigger" href="#">Shop <span><i class="fa fa-angle-right"></i></span></a></div>
                <div class="m-sub-menu" id="scooters">
                    <h4 class="title"><a class="mm-back" href="#"><span><i class="fa fa-angle-left"></i></a></span> Shop</h4>
                    <ul>
                        {% comment %} <li><a class="mm-sub-trigger" href="#">Scooter A <span><i class="fa fa-angle-right"></i></span></a></li> {% endcomment %}
                        <li><a href="/collections/electric-scooters">Electric Scooters</a></li>
                        <li><a href="/collections/hoverboards">Hoverboards</a></li>
                        <li><a href="/collections/electric-bike">E-Bikes</a></li>
                        <li><a href="/collections/accessories">Accessories</a></li>
                        <li><a href="/collections/parts">Parts</a></li>
                        <li><a href="/collections/gear-and-apparel">Gear</a></li>
                    </ul>
                </div>
                {% comment %} <div class="mm-sub-menu">
                    <h4 class="title"><a class="mm-back" href="#"><span><i class="fa fa-angle-left"></i></span></a> Scooter A</h4>
                     <ul>
                        <li><a href="#">Model 1</a></li>
                        <li><a href="#">Model 2</a></li>
                        <li><a href="#">Model 3</a></li>
                    </ul>
                </div> {% endcomment %}
            </div>

            <div class="menu-item with-children">
                <div class="link"><a class="m-sub-trigger" href="#">Our Style <span><i class="fa fa-angle-right"></i></span></a></div>
                <div class="m-sub-menu" id="scooters">
                    <h4 class="title"><a class="mm-back" href="#"><span><i class="fa fa-angle-left"></i></a></span> Our Style</h4>
                    <ul>
                        {% comment %} <li><a class="mm-sub-trigger" href="#">This is GoTrax <span><i class="fa fa-angle-right"></i></span></a></li> {% endcomment %}
                        
                        <li><a href="/pages/about-us">Our Story</a></li>
                        <li><a href="/blogs/news">Blogs</a></li>
                        <li><a href="/pages/store-locator">Store Locator</a></li>
                        <li><a href="/pages/ambassadors">TEAM GOTRAX</a></li>
                        <li><a href="/pages/resources">Resources</a></li>
                    </ul>
                </div>
                <div class="mm-sub-menu">
                    <h4 class="title"><a class="mm-back" href="#"><span><i class="fa fa-angle-left"></i></span></a> Scooter A</h4>
                     <ul>
                        <li><a href="#">Model 1</a></li>
                        <li><a href="#">Model 2</a></li>
                        <li><a href="#">Model 3</a></li>
                    </ul>
                </div>
            </div>

        </div>
      </div>
    </div>
  </div>
</div>