<header class="primary-menu shrink">
    <div class="notifications-bar">
        <div class="inner-wrap">
            <div class="country">
                <div class="currency-wrap">
                    {% comment %} <div class="doubly-wrapper"></div>  {% endcomment %}
                    <img src="{{'helmet.png' | asset_url}}" alt="GOTRAX">
                </div>
            </div>
            <div class="shipping">
                <p>FREE GROUND SHIPPING on all domestic purchases $99 and up <a href="#">SEE DETAILS</a></p>
            </div>
            <div class="login">
                <a href="/account">Sign In</a>
                <a href="/cart" class="js-drawer-open-right site-nav__link" aria-controls="CartDrawer" aria-expanded="false" >Cart</a>
                <a class="cart-num js-drawer-open-right site-nav__link" aria-controls="CartDrawer" aria-expanded="false" href="#">{{cart.item_count}}</a>
            </div>
        </div>
    </div>

    <div class="primary-nav"  >
        <div class="inner-wrap">
            <div class="logo-wrap">
                <a href="{{shop.url}}">
                    {% comment %} <h1>Gotrax</h1> {% endcomment %}
                    <img src="https://cdn.shopify.com/s/files/1/0071/0406/9747/files/Logo_Text_Teal-01.png?v=1576773969" alt="GOTRAX Logo">
                </a>
            </div>
            <div class="menu-wrap">
                <nav>
                    <ul>
                        <li><a class="mm-trigger" data-mm="shop" href="#">Shop</a></li>
                        <li><a class="mm-trigger" data-mm="thisisgotrax" href="#">Our Style</a></li>
                        {% comment %} <li><a class="mm-trigger" data-mm="desktopCart" href="#">Cart</a></li> {% endcomment %}
                    </ul>
                </nav>
            </div>
            <div class="social-wrap">
                <ul>
                    <li><a target="_blank" href="https://www.instagram.com/ridegotrax/"><i class="fab fa-instagram"></i></a></li>
                    <li><a target="_blank" href="https://www.facebook.com/RideGOTRAX/"><i class="fab fa-facebook"></i></a></li>
                    <li><a target="_blank" href="https://twitter.com/ridegotrax"><i class="fab fa-twitter"></i></a></li>
                    <li><a class="w-search-link" href="#"><i class="fa fa-search"></i></a></li>
                    <li><a id="desktopCartTrigger" data-mm="desktopCart" href="#"><i class="fa fa-shopping-bag"></i></a></li>
                </ul>
            </div>
            <div class="mobile-wrap">
                <ul>
                    <li>
                        <button class="hamburger hamburger--collapse hamburger--slider" type="button" data-toggle="modal" data-target="#mobileModal">
                            <span class="hamburger-box">
                                <span class="hamburger-inner"></span>
                            </span>
                        </button>
                    </li>
                </ul>
            </div>
            <div class="mobile-cart">
                <a href="tel:1-844-446-8729"><i class="fa fa-phone"></i></a>
                <a href="#" class="w-search-link"><i class="fa fa-search"></i></a>
                <a href="#" id="mobileCartTrigger" class="js-drawer-open-right" aria-controls="CartDrawer">{{cart.item_count}}</a>
            </div>
        </div>
        <div class="mega-menu-wrap">
                <div class="sub-menu " id="shop">
                    <ul>
                        <li><a href="/collections/electric-scooters">Electric Scooters</a></li>
                        <li><a href="/collections/hoverboards">Hoverboards</a></li>
                        <li><a href="/collections/electric-bike">E-Bikes</a></li>
                        <li><a href="/collections/accessories">Accessories</a></li>
                        <li><a href="/collections/parts">Parts</a></li>
                        <li><a href="/collections/gear-and-apparel">Gear</a></li>
                        {% comment %} <li><a href="#">Electric Bikes</a></li>
                        <li><a href="#">Electric Skateboards</a></li>
                        <li><a href="#">Helmets</a></li>
                        <li><a href="#">Accessories</a></li>
                        <li><a href="#">Kids</a></li>
                        <li><a href="#">Adults</a></li>
                        <li><a href="#">Apparel</a></li> {% endcomment %}
                        {% comment %} <li><a class="dd-trigger" data-dd="scooterD" href="#">Electric Bikes</a></li> {% endcomment %}
                    </ul>
                </div>
                <div class="sub-menu" id="thisisgotrax">
                    <ul>
                        <li><a href="/pages/about-us">Our Story</a></li>
                        <li><a href="/blogs/news">Blogs</a></li>
                        <li><a href="/pages/store-locator">Store Locator</a></li>
                        <li><a href="/pages/ambassadors">TEAM GOTRAX</a></li>
                        <li><a href="/pages/resources">Resources</a></li>
                    </ul>
                </div>

                <div class="sub-menu" id="desktopCart">
                {% if settings.ajax_cart_method == "drawer" %}
                    <div id="CartDrawer" class="drawer drawer--right">
                    <div class="drawer__header">
                        <div class="drawer__title h3">{{ 'cart.general.title' | t }}</div>
                        <div class="drawer__close js-drawer-close">
                        <button type="button" class="icon-fallback-text cart-close">
                            <span class="icon icon-x" aria-hidden="true"></span>
                            <span class="fallback-text">{{ 'cart.general.close_cart' | t | json }}</span>
                        </button>
                        </div>
                    </div>
                    <div id="CartContainer"></div>
                    </div>
                {% endif %}
                </div>

                <div class="dd-menu-wrap">
                    <div class="dd-menu " id="scooterA">
                        <div class="link-list-wrap">
                            <div class="link-list">
                                <ul>
                                    <li><a href="#">Model 1</a></li>
                                    <li><a href="#">Model 2</a></li>
                                    <li><a href="#">Model 3</a></li>
                                </ul>
                            </div>
                            <div class="link-list">
                                <ul>
                                    <li><a href="#">Model 4</a></li>
                                    <li><a href="#">Model 5</a></li>
                                    <li><a href="#">Model 6</a></li>
                                </ul>
                            </div>
                            <div class="link-list">
                                <ul>
                                    <li><a href="#">Model 7</a></li>
                                    <li><a href="#">Model 8</a></li>
                                    <li><a href="#">Model 9</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="dd-menu" id="scooterB">
                        <div class="link-list-wrap">
                            <div class="link-list">
                                <ul>
                                    <li><a href="#">Modelsss 1</a></li>
                                    <li><a href="#">Model 2</a></li>
                                    <li><a href="#">Model 3</a></li>
                                </ul>
                            </div>
                            <div class="link-list">
                                <ul>
                                    <li><a href="#">Model 4</a></li>
                                    <li><a href="#">Model 5</a></li>
                                    <li><a href="#">Model 6</a></li>
                                </ul>
                            </div>
                            <div class="link-list">
                                <ul>
                                    <li><a href="#">Model 7</a></li>
                                    <li><a href="#">Model 8</a></li>
                                    <li><a href="#">Model 9</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="dd-menu" id="scooterC">
                        <div class="link-list-wrap">
                            <div class="link-list">
                                <ul>
                                    <li><a href="#">CCC 1</a></li>
                                    <li><a href="#">Model 2</a></li>
                                    <li><a href="#">Model 3</a></li>
                                </ul>
                            </div>
                            <div class="link-list">
                                <ul>
                                    <li><a href="#">Model 4</a></li>
                                    <li><a href="#">Model 5</a></li>
                                    <li><a href="#">Model 6</a></li>
                                </ul>
                            </div>
                            <div class="link-list">
                                <ul>
                                    <li><a href="#">Model 7</a></li>
                                    <li><a href="#">Model 8</a></li>
                                    <li><a href="#">Model 9</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="search-wrap">
                    <form action="/search" method="get" class="input-group search-bar" role="search">
                        {% comment %}<input type="hidden" name="type" value="product">{% endcomment %}
                        <input type="search" name="q" value="{{ search.terms | escape }}" autocomplete="off"  placeholder="{{ 'general.search.placeholder' | t }}" class="input-group-field" aria-label="{{ 'general.search.placeholder' | t }}">
                        <span class="input-group-btn">
                            <button type="submit" class="btn icon-fallback-text">
                            <span class="icon icon-search" aria-hidden="true"></span>
                            <span class="fallback-text">{{ 'general.search.submit' | t }}</span>
                            </button>
                        </span>
                    </form>

                    
                </div>

        </div>
    </div>

</header>


{% comment %} {% if settings.ajax_cart_method == "drawer" %}
    <div id="CartDrawer" class="drawer drawer--right">
      <div class="drawer__header">
        <div class="drawer__title h3">{{ 'cart.general.title' | t }}</div>
        <div class="drawer__close js-drawer-close">
          <button type="button" class="icon-fallback-text">
            <span class="icon icon-x" aria-hidden="true"></span>
            <span class="fallback-text">{{ 'cart.general.close_cart' | t | json }}</span>
          </button>
        </div>
      </div>
      <div id="CartContainer"></div>
    </div>
  {% endif %} {% endcomment %}