<!-- /snippets/product-grid-item.liquid -->
{% comment %}

  This snippet is used to showcase each product during the loop,
  'for product in collection.products' in collection.liquid.

  A liquid variable (grid_item_width) is set just before the this
  snippet is included to change the size of the container.
  Once the variable is set on a page, all future instances of this
  snippet will use that width. Overwrite the variable to adjust this.

  Example
    - assign grid_item_width = 'large--one-quarter medium--one-half'

{% endcomment %}


{% assign add = product.metafields.add %}

{% comment %}
  Set the default grid_item_width if no variable is set
{% endcomment %}
{% unless grid_item_width %}
  {% assign grid_item_width = 'large--one-third medium--one-half' %}
{% endunless %}

{% comment %}
  Check if the product is on sale and set a variable to be used below.
{% endcomment %}
{% assign on_sale = false %}
{% if product.compare_at_price > product.price %}
  {% assign on_sale = true %}
{% endif %}

{% comment %}
  Check if the product is sold out and set a variable to be used below.
{% endcomment %}
{% assign sold_out = true %}
{% if product.available %}
  {% assign sold_out = false %}
{% endif %}

<div class="collection-grid-item animate-in">

<div class="inner-wrap">

  {% comment %}
    Link to your product with the 'within: collection' filter for the link to be aware of the collection.
    This allows you to create collection-based navigation on the product page.

    Results of using 'within: collection':
    - Instead of a URL with /products/product-handle
      you would get /collections/collection-handle/products/product-handle

    For more info on navigation within a collection
      - http://docs.shopify.com/support/your-store/collections/how-to-navigate-within-a-collection

  {% endcomment %}

  <div class="title-wrap">
    <a href="{{ product.url | within: collection }}"><h1>{{ product.title }}  </h1></a>
    <p>
    {% comment %}
      You can show a leading 'from' or 'up to' by checking 'product.price_varies'
      if your variants have different prices.
    {% endcomment %}
    {% if on_sale %}
      {% if product.price_varies %}
        {% assign sale_price = product.price | money %}
        {{ 'products.product.on_sale_from_html' | t: price: sale_price }}
      {% else %}
        <strong>{{ 'products.product.on_sale' | t }}</strong>
        {{ product.price | money }}
      {% endif %}
    {% else %}
      {% if product.price_varies %}
        {% assign price = product.price | money %}
        {{ product.price | money }}
      {% else %}
        {{ product.price | money }}
      {% endif %}
    {% endif %}
    
    {% if on_sale %}
      <span class="visually-hidden">{{ 'products.general.regular_price' | t }}</span>
      <s>{{ product.compare_at_price | money }}</s>
    {% endif %}
  </p>
  </div>

  <div class="product-image">  
    <a href="{{ product.url | within: collection }}" class="grid__image">
      <img src="{{ product.featured_image.src | img_url: 'large' }}" {% if collection.handle contains "hoverboards" %} class="shrink" {% else %} class="medium" {% endif %} alt="{{ product.featured_image.alt | escape }}">

      {% assign overlayText = 'Sold Out' %}
      {% for tag in product.tags %}
        {% if tag contains 'coming-soon' %}
        
        {% assign overlayText = 'Coming Soon' %}
             
        {% endif %}
      {% endfor %}


      {% if product.available %}
        
      {% else %}
      <div class="product-overlay">
        <p>{{overlayText}}</p>
      </div>
      {% endif %}

    </a>  
  </div>


  <div class="product-footer">

    {% if add.distance %}
    <div class="features">
      <div class="inner-wrap">
        <h3>Distance: {{add.distance}} Miles <span>Max Speed: {{add.max_speed}}MPH</span></h3>
      </div>
    </div>
    {% endif %}
    <div class="buttons">
        <div class="swatch-wrap">
          {% if product.available and product.variants.size > 1 %}
            {% include 'swatch' with 'Color' %}
          {% endif %}
        </div>
        <a href="{{product.url}}"><button class="btn-sm-grey">Details</button></a>

        {% if product.available%}
          {% if product.tags contains 'no-qs' %}
          <span><button type="submit" class="btn-sm-blue" value="Add to Cart"><a href="{{product.url}}">View Product</a> </button></span>
          {% else %}
          <span><input type="submit" class="btn-sm-blue" value="Add to Cart" onclick="return Shopify.addItem( {{product.variants.first.id }}, 1, cartReveal())"></span>
          {% endif %}

        
          {% else %}

        <span><input type="submit" class="btn-sm-blue sold-out" value="Sold Out" onclick="e => e.preventDefault();"></span>

        {% endif %}
        
    </div>
  </div>

  </div>
</div>

