<!-- /snippets/product-grid-item.liquid -->
{% comment %}

  This snippet is used to showcase each product during the loop,
  'for product in collection.products' in collection.liquid.

  A liquid variable (grid_item_width) is set just before the this
  snippet is included to change the size of the container.
  Once the variable is set on a page, all future instances of this
  snippet will use that width. Overwrite the variable to adjust this.

  Example
    - assign grid_item_width = 'large--one-quarter medium--one-half'

{% endcomment %}

{% comment %}
  Set the default grid_item_width if no variable is set
{% endcomment %}
{% unless grid_item_width %}
  {% assign grid_item_width = 'large--one-third medium--one-half' %}
{% endunless %}

{% comment %}
  Check if the product is on sale and set a variable to be used below.
{% endcomment %}
{% assign on_sale = false %}
{% if product.compare_at_price > product.price %}
  {% assign on_sale = true %}
{% endif %}

{% comment %}
  Check if the product is sold out and set a variable to be used below.
{% endcomment %}
{% assign sold_out = true %}
{% if product.available %}
  {% assign sold_out = false %}
{% endif %}

<div class="collection-grid-item small">

<div class="inner-wrap">

  {% comment %}
    Link to your product with the 'within: collection' filter for the link to be aware of the collection.
    This allows you to create collection-based navigation on the product page.

    Results of using 'within: collection':
    - Instead of a URL with /products/product-handle
      you would get /collections/collection-handle/products/product-handle

    For more info on navigation within a collection
      - http://docs.shopify.com/support/your-store/collections/how-to-navigate-within-a-collection

  {% endcomment %}

  
  
<a href="{{ product.url | within: collection }}">
  <div class="product-image">  
    <div class="grid__image">
      <img src="{{ product.featured_image.src | img_url: 'large' }}" alt="{{ product.featured_image.alt | escape }}">
    </div>  
  </div>
  
  <div class="title-wrap">
   <h1><span>{{product.type}}</span>{{ product.title }}</h1>

     <p>
      {% comment %}
        You can show a leading 'from' or 'up to' by checking 'product.price_varies'
        if your variants have different prices.
      {% endcomment %}
      {% if on_sale %}
        {% if product.price_varies %}
          {% assign sale_price = product.price | money %}
          {{ 'products.product.on_sale_from_html' | t: price: sale_price }}
          
        {% else %}
          {{ product.price | money }}
        {% endif %}
      {% else %}
        {% if product.price_varies %}
          {% assign price = product.price | money %}
          {{ product.price | money }}
        {% else %}
          {{ product.price | money }}
        {% endif %}
      {% endif %}
      {% if sold_out %}
        <br><strong>{{ 'products.product.sold_out' | t }}</strong>
      {% endif %}
      {% if on_sale %}
        <span class="visually-hidden">{{ 'products.general.regular_price' | t }}</span>
        <s class="sale-wrap">{{ product.compare_at_price | money }}</s>
      {% endif %}
    </p>
  </div>

  </a>


  <div class="product-footer">

    <div class="buttons">
        <a href="{{product.url}}"><button class="btn-sm-grey">Details</button></a>
        <span><input type="submit" class="btn-sm-blue" onclick="Shopify.addItem({{product.variants.first.id }}, 1, cartReveal())" value="Add to Cart"></span>
    </div>

  </div>

  </div>

  </div>



