
<section class="quote-wrap animate-in">
  <div class="primary-quote wrapper sm">
    <h2>"The Gotrax GXL electric scooter isn’t just a great deal, but it is also amazing for convenience ... making it a perfect commuting scooter."</h2>
  </div>

  <div class="small-logo-grid">
    <div class="wrapper">

      <a class="active" data-text='"The Gotrax GXL electric scooter isn’t just a great deal, but it is also amazing for convenience ... making it a perfect commuting scooter."' href="#">
        <img src="https://cdn.shopify.com/s/files/1/0071/0406/9747/files/techradarlogo.png?114" alt="">
      </a>
      <a href="#"  data-text='"The GXL can be a gamechanger for anyone looking to cure the commuter’s blues."'>
        <img src="https://cdn.shopify.com/s/files/1/0071/0406/9747/files/mashable_logo.png?114" alt="">
      </a>
      <a data-text='"A heck of a deal for this robust scooter."' href="#">
        <img src="https://cdn.shopify.com/s/files/1/0071/0406/9747/files/cropped-new-electrek-logo.png?114" alt="">
      </a>

    </div>
  </div>
</section>