<div class="icon-banner">
  
    <div class="desktop-image" style="background-image: url('https://cdn.shopify.com/s/files/1/0078/8362/0407/files/Icon-Desktop.jpg?3243'); "></div>
    <div class="mobile-image" style="background-image: url('https://cdn.shopify.com/s/files/1/0078/8362/0407/files/Icon-Mobile.jpg?3243');"></div>
  </div>