
{% if add.related_product_1 %}
<section class="small-product-preview-wrap">
  <div class="title-wrap">
    <h2>Customers who bought this item also bought:</h2>
  </div>
  <div class="small-product-preview">
    <div class="inner-wrap slider">
            
            {% if add.related_product_1 %}
            <div class="collection-grid-item small">
                <div class="inner-wrap">
                    <a href="{{ all_products[add.related_product_1].url }}">
                        <div class="product-image">  
                            <div class="grid__image">
                            <img src="{{ all_products[add.related_product_1].featured_image.src | img_url: 'large'}}" alt="{{ all_products[add.related_product_1].featured_image.alt | escape }}">
                            </div>  
                        </div>
            
                        <div class="title-wrap">
                            <h1><span>{{all_products[add.related_product_1].type}}</span>{{ all_products[add.related_product_1].title }}</h1>
                            <p>
                            {% comment %}
                                You can show a leading 'from' or 'up to' by checking 'product.price_varies'
                                if your variants have different prices.
                            {% endcomment %}
                            {% if on_sale %}
                                {% if all_products[add.related_product_1].price_varies %}
                                {% assign sale_price = all_products[add.related_product_1].price | money %}
                                {{ 'products.product.on_sale_from_html' | t: price: sale_price }}
                                
                                {% else %}
                                {{ all_products[add.related_product_1].price | money }}
                                {% endif %}
                            {% else %}
                                {% if all_products[add.related_product_1].price_varies %}
                                {% assign price = all_products[add.related_product_1].price | money %}
                                {{ all_products[add.related_product_1].price | money }}
                                {% else %}
                                {{ all_products[add.related_product_1].price | money }}
                                {% endif %}
                            {% endif %}
                            {% if sold_out %}
                                <br><strong>{{ 'products.product.sold_out' | t }}</strong>
                            {% endif %}
                            </p>
                        </div>

            </a>

            <div class="product-footer">
                <div class="buttons">
                    <a href="{{all_products[add.related_product_1].url}}"><button class="btn-sm-grey">Details</button></a>
                    <span><input type="submit" class="btn-sm-blue" onclick="Shopify.addItem({{all_products[add.related_product_1].variants.first.id }}, 1, cartReveal())" value="Add to Cart"></span>
                </div>
            </div>

        </div>
    </div>

    {% endif %}

{% comment %} 2 {% endcomment %}
    {% if add.related_product_2 %}
            <div class="collection-grid-item small">
                <div class="inner-wrap">
                    <a href="{{ all_products[add.related_product_2].url }}">
                        <div class="product-image">  
                            <div class="grid__image">
                            <img src="{{ all_products[add.related_product_2].featured_image.src | img_url: 'large'}}" alt="{{ all_products[add.related_product_1].featured_image.alt | escape }}">
                            </div>  
                        </div>
            
                        <div class="title-wrap">
                            <h1><span>{{all_products[add.related_product_2].type}}</span>{{ all_products[add.related_product_2].title }}</h1>
                            <p>
                            {% comment %}
                                You can show a leading 'from' or 'up to' by checking 'product.price_varies'
                                if your variants have different prices.
                            {% endcomment %}
                            {% if on_sale %}
                                {% if all_products[add.related_product_2].price_varies %}
                                {% assign sale_price = all_products[add.related_product_2].price | money %}
                                {{ 'products.product.on_sale_from_html' | t: price: sale_price }}
                                
                                {% else %}
                                {{ all_products[add.related_product_2].price | money }}
                                {% endif %}
                            {% else %}
                                {% if all_products[add.related_product_2].price_varies %}
                                {% assign price = all_products[add.related_product_2].price | money %}
                                {{ all_products[add.related_product_2].price | money }}
                                {% else %}
                                {{ all_products[add.related_product_2].price | money }}
                                {% endif %}
                            {% endif %}
                            {% if sold_out %}
                                <br><strong>{{ 'products.product.sold_out' | t }}</strong>
                            {% endif %}
                            </p>
                        </div>

            </a>

            <div class="product-footer">
                <div class="buttons">
                    <a href="{{all_products[add.related_product_2].url}}"><button class="btn-sm-grey">Details</button></a>
                    <span><input type="submit" class="btn-sm-blue" onclick="Shopify.addItem({{all_products[add.related_product_2].variants.first.id }}, 1, cartReveal())" value="Add to Cart"></span>
                </div>
            </div>

        </div>
    </div>

    {% endif %}


{% comment %} 3 {% endcomment %}
    {% if add.related_product_2 %}
            <div class="collection-grid-item small">
                <div class="inner-wrap">
                    <a href="{{ all_products[add.related_product_3].url }}">
                        <div class="product-image">  
                            <div class="grid__image">
                            <img src="{{ all_products[add.related_product_3].featured_image.src | img_url: 'large'}}" alt="{{ all_products[add.related_product_3].featured_image.alt | escape }}">
                            </div>  
                        </div>
            
                        <div class="title-wrap">
                            <h1><span>{{all_products[add.related_product_3].type}}</span>{{ all_products[add.related_product_3].title }}</h1>
                            <p>
                            {% comment %}
                                You can show a leading 'from' or 'up to' by checking 'product.price_varies'
                                if your variants have different prices.
                            {% endcomment %}
                            {% if on_sale %}
                                {% if all_products[add.related_product_3].price_varies %}
                                {% assign sale_price = all_products[add.related_product_3].price | money %}
                                {{ 'products.product.on_sale_from_html' | t: price: sale_price }}
                                
                                {% else %}
                                {{ all_products[add.related_product_3].price | money }}
                                {% endif %}
                            {% else %}
                                {% if all_products[add.related_product_3].price_varies %}
                                {% assign price = all_products[add.related_product_3].price | money %}
                                {{ all_products[add.related_product_3].price | money }}
                                {% else %}
                                {{ all_products[add.related_product_3].price | money }}
                                {% endif %}
                            {% endif %}
                            {% if sold_out %}
                                <br><strong>{{ 'products.product.sold_out' | t }}</strong>
                            {% endif %}
                            </p>
                        </div>

            </a>

            <div class="product-footer">
                <div class="buttons">
                    <a href="{{all_products[add.related_product_3].url}}"><button class="btn-sm-grey">Details</button></a>
                    <span><input type="submit" class="btn-sm-blue" onclick="Shopify.addItem({{all_products[add.related_product_3].variants.first.id }}, 1, cartReveal())" value="Add to Cart"></span>
                </div>
            </div>

        </div>
    </div>

    {% endif %}



    
  </div>
  </div>
</section>
{% endif %}