<!-- /templates/customers/reset_password.liquid -->

<div class="grid press normalize cust-spacing">
  <div class="grid__item large--one-third push--large--one-third text-center">

    <div class="form-vertical">
      {% form 'reset_customer_password' %}

        <h1>{{ 'customer.reset_password.title' | t }}</h1>

        <p>{{ 'customer.reset_password.subtext' | t: email: email }}</p>

        {{ form.errors | default_errors }}

        <label for="ResetPassword" class="hidden-label">{{ 'customer.reset_password.password' | t }}</label>
        <input type="password" value="" name="customer[password]" id="ResetPassword" class="input-full{% if form.errors contains 'password' %} error{% endif %}" placeholder="{{ 'customer.reset_password.password' | t }}">

        <label for="PasswordConfirmation" class="hidden-label">{{ 'customer.reset_password.password_confirm' | t }}</label>
        <input type="password" value="" name="customer[password_confirmation]" id="PasswordConfirmation" class="input-full{% if form.errors contains 'password_confirmation' %} error{% endif %}" placeholder="{{ 'customer.reset_password.password_confirm' | t }}">

        <div class="text-center">
          <input type="submit" class="btn btn--full" value="{{ 'customer.reset_password.submit' | t }}">
        </div>

      {% endform %}
    </div>

  </div>
</div>
