<!doctype html>
<!--[if IE 8]><html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="ie9 no-js"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js"> <!--<![endif]-->
<head>

  <!-- Basic page needs ================================================== -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  {% if settings.favicon_enable %}
  <link rel="shortcut icon" href="{{ 'favicon.png' | asset_url }}" type="image/png" />
  {% endif %}

  <!-- Title and description ================================================== -->
  <title>
  {{ page_title }}{% if current_tags %}{% assign meta_tags = current_tags | join: ', ' %} &ndash; {{ 'general.meta.tags' | t: tags: meta_tags }}{% endif %}{% if current_page != 1 %} &ndash; {{ 'general.meta.page' | t: page: current_page }}{% endif %}{% unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless %}
  </title>

  {% if page_description %}
  <meta name="description" content="{{ page_description | escape }}">
  {% endif %}


  {% comment %} <meta property="og:image" content="https://cdn.shopify.com/s/files/1/0071/0406/9747/files/e-cat-1.jpg?17856617864279046894">
  <meta property="og:image:secure_url" content="https://cdn.shopify.com/s/files/1/0071/0406/9747/files/e-cat-1.jpg?17856617864279046894"> {% endcomment %}
  

  <!-- Helpers ================================================== -->
  {% include 'social-meta-tags' %}
  <link rel="canonical" href="{{ canonical_url }}">
  <meta name="theme-color" content="{{ settings.color_primary }}">

  <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
  <!-- CSS ================================================== -->

    {{ 'https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.css' | stylesheet_tag }}
    {{ 'https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.css' | stylesheet_tag }}


  {{ 'animate.css' | asset_url | stylesheet_tag }}
  {{ 'https://use.fontawesome.com/releases/v5.2.0/css/all.css' | stylesheet_tag }}
  {{ 'https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css' | stylesheet_tag }}

  

  {{ 'timber.scss.css' | asset_url | stylesheet_tag }}
  <script>function cartReveal() {
        ajaxCart.load();
        document.querySelector('#desktopCart').classList.add('active');
      };</script>
  <!-- Header hook for plugins ================================================== -->
  {{ content_for_header }}
  {% include 'oldIE-js' %}

  {{ '//ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js' | script_tag }}
  {{ 'api.jquery.js' | shopify_asset_url | script_tag }}
  {{ 'modernizr.min.js' | asset_url | script_tag }}

  {% comment %}
    If you store has customer accounts disabled, you can remove the following JS file
  {% endcomment %}
  {% if template contains 'customers' %}
    {{ 'shopify_common.js' | shopify_asset_url | script_tag }}
  {% endif %}


</head>

{% comment %}
  Add the page template as a class for easy page or template specific styling.
{% endcomment %}
<body id="{{ page_title | handle }}" class="{% if customer %}customer-logged-in {% endif %}template-{{ template | replace: '.', ' ' | truncatewords: 1, '' | handle }}" >


{% comment %} Landing Snippet {% endcomment %}
<!-- WPMG ROI Tracking Script BEGIN -->
<script>(function (w, id, q) {var s='script',d=w.document,p=d.getElementsByTagName(s)[0],n=d.createElement(s);
w._crq=w._crq?w._crq:[];w._crq.push(q);n.src='//www.conversionruler.com/bin/js.php?siteid='+id;p.parentNode.insertBefore(n, p);
}(window,'7114',0));</script><noscript><div style="position: absolute; left: 0"><img
src="https://www.conversionruler.com/bin/tracker.php?siteid=7114&amp;nojs=1" alt="" width="1" height="1"
/></div></noscript>
<!-- WPMG ROI Tracking Script END -->

{% comment %} BING ADS {% endcomment %}

<script>(function(w,d,t,r,u){var f,n,i;w[u]=w[u]||[],f=function(){var o={ti:"13002715"};o.q=w[u],w[u]=new UET(o),w[u].push("pageLoad")},n=d.createElement(t),n.src=r,n.async=1,n.onload=n.onreadystatechange=function(){var s=this.readyState;s&&s!=="loaded"&&s!=="complete"||(f(),n.onload=n.onreadystatechange=null)},i=d.getElementsByTagName(t)[0],i.parentNode.insertBefore(n,i)})(window,document,"script","//bat.bing.com/bat.js","uetq");</script>



    {% include 'header' %}

  <main class="main-content" role="main">
      <div class="inner-page-wrap">
        {{ content_for_layout }}
      </div>
    </main>

    <!-- begin site-footer -->
   {% include 'footer' %}
    <!-- //site-footer -->




  </div>

  

  {{ 'fastclick.min.js' | asset_url | script_tag }}
  
  {{ 'timber.js' | asset_url | script_tag }}

  {{ 'https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.js' | script_tag }}
  {{ 'https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js' | script_tag }}
  {{ 'slider.js' | asset_url | script_tag }}
  
  
  
  <script src="https://unpkg.com/scrollreveal"></script>

  {% if template contains 'faq' %}
  {{'accordion.js' | asset_url | script_tag }}
  {% endif %}
  {{ 'main.js' | asset_url | script_tag }}

    

  






  <script>

   $(document).ready(function() {
    
    
  
    // Update cart count
      Shopify.onItemAdded = function(cart) {
          jQuery.getJSON('/cart.js', function(cart) {
          ajaxCart.load();
          cartReveal();
        });

      };


      setTimeout(function() {
      ajaxCart.load();
    }, 800);
    

    if(document.querySelector('#about-us')) {


      }


    // AJAX Add Item
      Shopify.addItem = function(variant_id, quantity, callback) {
        var quantity = quantity || 1;
        var params = {
          type: 'POST',
          url: '/cart/add.js',
          data: 'quantity=' + quantity + '&id=' + variant_id,
          dataType: 'json',
          success: function(line_item) {
            if ((typeof callback) === 'function') {
              console.log('it succeeded');
              callback(line_item);
            }
            else {
              console.log('it failed');
              Shopify.onItemAdded(line_item);
            }
          },
          error: function(XMLHttpRequest, textStatus) {
            Shopify.onError(XMLHttpRequest, textStatus);
          }
        };
        jQuery.ajax(params);
      };

  });

  </script>
	

  {% comment %}
    Template-specific js
  {% endcomment %}
  <script>
    {% if resetPassword %}
      $(function() {
        timber.resetPasswordSuccess();
      });
    {% endif %}
  </script>

  {% comment %}
    Ajaxify your cart with this plugin.
    Documentation:
      - http://shopify.com/timber#ajax-cart
  {% endcomment %}
  {% if settings.ajax_cart_method == "drawer" %}
    {{ 'handlebars.min.js' | asset_url | script_tag }}
    {% include 'ajax-cart-template' %}
    {{ 'ajax-cart.js' | asset_url | script_tag }}
    <script>
      jQuery(function($) {
        ajaxCart.init({
          formSelector: '#AddToCartForm',
          cartContainer: '#CartContainer',
          addToCartSelector: '#AddToCart',
          cartCountSelector: '#CartCount',
          cartCostSelector: '#CartCost',
          moneyFormat: {{ shop.money_format | json }}
        });
      });

      
    </script>
  {% endif %}

  <script>
    
 </script> 

<script>
jQuery(function() {
  jQuery('.swatch :radio').change(function() {
    var optionIndex = jQuery(this).closest('.swatch').attr('data-option-index');
    var optionValue = jQuery(this).val();
    console.log('here', optionIndex, optionValue);
  
    let target = this.parentElement.parentElement.nextElementSibling.querySelector('form .single-option-selector');
    
    jQuery(target)
      .eq(optionIndex)
      .val(optionValue)
      .trigger('change');
  });
});
</script>

</body>
</html>
