{% for block in section.blocks %}
    <div class="am-wrap">
        <a href="{{block.settings.am_link}}">
            <div class="inner-wrap">
                <div class="am-image">
                    <div class="image" style="background-image: url({{block.settings.am_image.src | img_url: 'master'}})"></div>
                </div>
                <div class="am-content">
                    <h2>{{block.settings.am_name}}</h2>
                    <p>{{block.settings.am_location}}</p>
                </div>
            </div>
        </a>
    </div>
{% endfor %}

{% schema %}
{
  "name": "Ambassadors",
  "settings": [
    {
     "type": "header",
     "content": "Ambassadors",
     "info": "This is where you add them"
    }
  ],
  "blocks": [
    {
      "type": "select",
      "name": "Ambassadors",
      "settings": [
        {
          "id": "am_name",
          "type": "text",
       	  "label": "Ambassador Name"
        },
        {
          "id": "am_location",
          "type": "text",
       	  "label": "Ambassador Job"
        },
        {
          "id": "am_image",
          "type": "image_picker",
       	  "label": "Ambassador Image"
        },
        {
          "id": "am_link",
          "type": "text",
       	  "label": "Ambassador Link"
        }
      ]
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}