{% for block in section.blocks %}
<div class="fade-slide">
      <div class="inner-wrap">
        <div class="title-wrap">
          <h2>{{ block.settings.featuredSlideTitle }}</h2>
        </div>
        <div class="image-wrap">
          <div class="image" style="background-image: url('{{ block.settings.featuredSlideImage | img_url: 'master' }}');"></div>
        </div>
        <div class="content-wrap">
          <p>{{ block.settings.featuredSlideCaption }}</p>
          <div class="btn-wrap"><a href="{{ block.settings.featuredSlideUrl }}" class="btn-black">Shop Now</a></div>
        </div>
      </div>
      
    </div>

{% endfor %} 




{% schema %} 
  {
    "name": "Slider",
    "blocks":[
      {
        "type": "block-1",
        "name": "Slide",
        "settings": [
          {
            "type": "image_picker",
            "id": "featuredSlideImage",
            "label": "Slide Image"
          },
          {
            "type": "text",
            "id": "featuredSlideTitle",
            "label": "Slide Title"
          },
          {
            "type": "textarea",
            "id": "featuredSlideCaption",
            "label": "Slide Caption"
          },
          {
            "type": "text",
            "id": "featuredSlideUrl",
            "label": "Slide URL"
          }
        ]
      }
    ]
  }
{% endschema %}
