<!-- /templates/blog.liquid -->
{% comment %}

  Loop through a defined number of articles with the 'paginate' tag.
  Don't forget to close the tag after your loop.

{% endcomment %}

{% paginate blog.articles by 6 %}

{% comment %} {% include 'breadcrumb' %} {% endcomment %}

{% comment %}
  This template is also used for listing out articles of a specific tag.
  You can change layouts or styles by checking if current_tags is true.
{% endcomment %}
<div class="grid--rev normalize blog">

  <div class="grid__item large--one-whole blog-wrap">

    <div class="title-wrap">
      <h1>{{ blog.title }}</h1>
    </div>

    {% comment %}
      Loop through each article in your blog. This is limited to what you set for pagination above.

      For more info on article liquid tags:
        - http://docs.shopify.com/themes/liquid-variables/article
    {% endcomment %}


    <div class="blog-grid">
      {% for article in blog.articles %}
      
      <div class="article">
          <div class="inner-wrap">
          <a href="{{ article.url }}">
              {% if article.image %}
              <div class="article__banner" style="background-image: url( {{ article | img_url: '1024x1024' }});"></div>
              {% endif %}
              <div class="article__card--body">
                <div class="title-wrap">
                {% capture date %}<time datetime="{{ article.published_at | date: '%Y-%m-%d' }}">{{ article.published_at | date: format: 'month_day_year' }}</time>{% endcapture %}
                  <h2 class="h3">{{ article.title }} <span>Posted on {{ date }}</span></h2>
                </div>
                <div class="rte">
                  {% if article.excerpt.size > 0 %}
                    {{ article.excerpt }}
                  {% else %}
                    <p>{{ article.content | strip_html | truncatewords: 30 }}</p>
                  {% endif %}
                </div>
                <div class="btn-wrap"><button class="black-btn">Read More</button></div>
              </div>
            </a>
          </div>
          
        </div>

{% comment %} {% include 'tags-article' %} {% endcomment %}

    {% endfor %}
    
    
    </div>
    

    {% if paginate.pages > 1 %}
      <hr>
      <div class="pagination">
        {{ paginate | default_pagination }}
      </div>
    {% endif %}

  </div>

  

</div>

{% endpaginate %}
