<!-- /templates/collection.liquid -->
{% comment %}

  For more information on collection tags:
    - http://docs.shopify.com/themes/liquid-variables/collection

{% endcomment %}

{% paginate collection.products by 12 %}


{% comment %} {% include 'breadcrumb' %} {% endcomment %}
{% assign add = collection.metafields.add %}

<div class="collection-grid collection-spacing">
  {% for product in collection.products %}

  {% include 'product-grid-item-yeti' %}


  {% endfor %}

</div>






{% comment %}
  Use .grid--rev so that the collection tags appear below the products on mobile
{% endcomment %}
<div class="grid--rev">

    {% if paginate.pages > 1 %}
      <hr>
      <div class="pagination">
        <div class="inner-wrap">
          {{ paginate | default_pagination | replace: '&laquo; Previous', '&larr;' | replace: 'Next &raquo;', '&rarr;' }}
        </div>
      </div>
    {% endif %}


</div>



{% if add.whybuy == 'scooters'  %}
<div class="why-buy-wrap">
    <div class="title-wrap">
      <h2>Why Buy Electric Scooters from GOTRAX?</h2>
    </div>

    <div class="why-buy-grid">

      <div class="item">
        <div class="title"><h4><img src="https://cdn.shopify.com/s/files/1/0071/0406/9747/files/ul.png?15821839500346403726" alt="" class="small-icon"> <span>It’s no surprise GOTRAX has the most popular electric scooters for sale</span> </h4></div>
        <div class="body">
          <p>Here at GOTRAX we’ve been making electric scooters for years! With each new model, we introduce better quality and more features. In 2018 GOTRAX exploded on the scene with the GXL electric scooter at $499.99 quickly becoming one of the most popular e-scooters available. You can find countless reviews, videos, and tech articles, and we are even more excited to debut several new models in 2019.</p>
        </div>
      </div>

      <div class="item">
        <div class="title"><h4><i class="fa fa-people-carry"></i> <span>Our E-scooters have the best features, specs, and pricing</span></h4></div>
        <div class="body">
          <p>GOTRAX Electric scooters come with the latest features and the specs you’re looking for! Whether you’re a commuter going to work, or just looking for some recreational fun we’ve got an e-scooter for you. We offer a wide variety of electric scooters for adults and kids. The GOTRAX GXL Electric scooter for adults is made with a 250 Watt Motor and 36v Battery, making it the most competitive e-scooter in its price range. GOTRAX Electric scooters are built with materials and can support up to 220 lbs. See details on product pages for more information on specific e-scooter weight limits.</p>
        </div>
      </div>

      <div class="item">
        <div class="title"><h4><i class="fa fa-smile-beam"></i> <span>30 Day Returns & 90 Day Warranty</span> </h4></div>
        <div class="body">
          <p>Our #1 mission at GOTRAX Is to provide outstanding customer service. We’re dedicated to working our boots off until every customer is satisfied. Every GOTRAX product comes with a 90-day limited warranty and a 30 day return policy! You can contact our customer service M-F by live chat, email, or phone. Our agents are standing by in Dallas, TX ready to help.</p>
        </div>
      </div>

      <div class="item">
        <div class="title"><h4><i class="fa fa-shipping-fast"></i> <span>Fast & Free Shipping</span></h4></div>
        <div class="body">
          <p>GOTRAX provides free 24-hour shipping Monday-Friday on all electric scooters for sale. GOTRAX provides tracking #’s via email and you can check on your order any time at the bottom of our web page. The GOTRAX website is certified to meet the requirements of an amazon seller-fulfilled prime warehouse and has an impeccable track record. We ship via FedEx, UPS, and USPS to the 48 contiguous states. </p>
        </div>
      </div>

    </div>


  </div>




{% elsif add.whybuy == 'ebikes' %}

<div class="why-buy-wrap">
    
    <div class="title-wrap">
      <h2>Why Buy Hoverboards from GOTRAX?</h2>
    </div>

    <div class="why-buy-grid">
      <div class="item">
        <div class="title"><h4><i class="fa fa-bicycle"></i><span>Change your Commute</span> </h4></div>
        <div class="body">
          <p>Change your idea of what it is to commute! Our E-Bikes are affordable and we offer financing. Instead of spending hundreds of dollars every month on a car or taking uber, save money and get yourself an electric bike. The amount of electricity needed to commute 5 days a week ads up to only a few dollars per month, and the overall investment in the e-bike will pay for itself as it saves you on gas, insurance and car maintenance.</p>
        </div>
      </div>

      <div class="item">
        <div class="title"><h4><i class="fa fa-lightbulb"></i><span> Our Electric Bikes Have Great Specs at a Great Price</span></h4></div>
        <div class="body">
          <p>GOTRAX does a lot of research before creating products. Our electric bikes are at some of the most competitive price points you can find period! We have all the features you’re looking for including bikes that fold, quality LED displays and 36v or larger batteries! All at an affordable price, with financing through Klarna available.</p>
        </div>
      </div>

      <div class="item">
        <div class="title"><h4><i class="fa fa-smile-beam"></i> <span>30 Day Returns & 90 Day Warranty</span></h4></div>
        <div class="body">
          <p>Our #1 mission at GOTRAX Is to provide outstanding customer service. We’re dedicated to working our boots off until every customer is satisfied. Every GOTRAX product comes with a 90-day limited warranty and a 30 day return policy! You can contact our customer service M-F by email, or phone. Our agents are standing by in Dallas, TX ready to help.</p>
        </div>
      </div>

      <div class="item">
        <div class="title"><h4><i class="fa fa-shipping-fast"></i> <span>Fast & Free Shipping</span></h4></div>
        <div class="body">
          <p>GOTRAX provides free shipping Monday-Friday on all hoverboards for sale. GOTRAX provides tracking #’s via email and you can check on your order any time at the bottom of our web page. The GOTRAX website is certified to meet the requirements of an amazon seller-fulfilled prime warehouseand has an impeccable track record. We ship via FedEx, UPS, and USPS to the 48 contiguous states.</p>
        </div>
      </div>

    </div>
    </div>

{% elsif add.whybuy == 'hoverboards' %}
  {% comment %} hoverboards {% endcomment %}

    <div class="why-buy-wrap">
    <div class="title-wrap">
      <h2>Why Buy Hoverboards from GOTRAX?</h2>
    </div>

    <div class="why-buy-grid">

      <div class="item">
        <div class="title"><h4><img src="https://cdn.shopify.com/s/files/1/0071/0406/9747/files/ul.png?15821839500346403726" alt="" class="small-icon"> <span>UL Certified Hoverboards for Sale</span> </h4></div>
        <div class="body">
          <p>Every GOTRAX Hoverboard is tested and certified to UL 2272 electrical safety standards. At GOTRAX our top concern is always producing the safest and highest quality Hoverboards. When you buy a hoverboard from us you’ll feel safe knowing that all our hoverboards for sale are UL certified and our top engineers have tested each product to make sure its safe for you or your kids.</p>
        </div>
      </div>

      <div class="item">
        <div class="title"><h4><i class="fa fa-lightbulb"></i><span> Our Hoverboards have the best features & specs</span></h4></div>
        <div class="body">
          <p>GOTRAX provides Hoverboards in the most vibrant and unique colors around. We at GOTRAX find it important to allow our customers to be able to pick a unique color that matches their personality and style. Our hoverboards have different mixes of Bluetooth capabilities, mode, and some have all-terrain tires. GOTRAX has a wide variety of hoverboards for kids and adults. GOTRAX hoverboards are built with high-quality materials and can support up to 220 lbs. See details on product pages for more information.</p>
        </div>
      </div>

      <div class="item">
        <div class="title"><h4><i class="fa fa-smile-beam"></i> <span>30 Day Returns & 90 Day Warranty</span></h4></div>
        <div class="body">
          <p>Our #1 mission at GOTRAX Is to provide outstanding customer service. We’re dedicated to working our boots off until every customer is satisfied. Every GOTRAX product comes with a 90-day limited warranty and a 30 day return policy! You can contact our customer service M-F by live chat, email, or phone. Our agents are standing by in Dallas, TX ready to help.</p>
        </div>
      </div>

      <div class="item">
        <div class="title"><h4><i class="fa fa-shipping-fast"></i> <span>Fast & Free Shipping</span></h4></div>
        <div class="body">
          <p>GOTRAX provides free shipping Monday-Friday on all hoverboards for sale. GOTRAX provides tracking #’s via email and you can check on your order any time at the bottom of our web page. The GOTRAX website is certified to meet the requirements of an amazon seller-fulfilled prime warehouse and has an impeccable track record. We ship via FedEx, UPS, and USPS to the 48 contiguous states. </p>
        </div>
      </div>

    </div>


  </div>

{% endif %}



{% endpaginate %}


