<!-- /templates/collection.liquid -->
{% comment %}

  For more information on collection tags:
    - http://docs.shopify.com/themes/liquid-variables/collection

{% endcomment %}

{% paginate collection.products by 12 %}

{% comment %} {% include 'breadcrumb' %} {% endcomment %}
{% assign add = collection.metafields.add %}

<div class="collection-banner-wrap">
  <div class="collection-banner" style="background-image: url({{add.banner}})">
    <div class="inner-content">
      <h1>{{collection.title}}</h1>
      <p>The Hopper® was built for those adventures where you want to grab your gear and go. It’s the original 100% leakproof, ice-for-days portable cooler. And because we used materials found in things like HazMat suits and whitewater rafts, it’s also tough as nails. The Hopper is made in sizes to fit any adventure, whether that’s on a wild river in a kayak or a floatplane trip to remote salmon streams.</p>
    </div>
    {% if add.overlay == 'true' %}
      <div class="overlay"></div>
    {% endif %}
  </div>
</div>


<div class="collection-grid">
  {% for product in collection.products %}

  {% include 'product-grid-item-yeti' %}


  {% endfor %}

</div>


{% comment %}
  Use .grid--rev so that the collection tags appear below the products on mobile
{% endcomment %}
<div class="grid--rev">

    {% if paginate.pages > 1 %}
      <hr>
      <div class="pagination">
        {{ paginate | default_pagination | replace: '&laquo; Previous', '&larr;' | replace: 'Next &raquo;', '&rarr;' }}
      </div>
    {% endif %}


</div>

{% endpaginate %}


