<!-- /templates/collection.liquid -->
{% comment %}

  For more information on collection tags:
    - http://docs.shopify.com/themes/liquid-variables/collection

{% endcomment %}

{% paginate collection.products by 12 %}


{% comment %} {% include 'breadcrumb' %} {% endcomment %}
{% assign add = collection.metafields.add %}

<div class="collection-grid collection-spacing">
  {% for product in collection.products %}

  {% include 'product-grid-item-yeti' %}


  {% endfor %}

</div>






{% comment %}
  Use .grid--rev so that the collection tags appear below the products on mobile
{% endcomment %}
<div class="grid--rev">

    {% if paginate.pages > 1 %}
      <hr>
      <div class="pagination">
        <div class="inner-wrap">
          {{ paginate | default_pagination | replace: '&laquo; Previous', '&larr;' | replace: 'Next &raquo;', '&rarr;' }}
        </div>
      </div>
    {% endif %}


</div>





<div class="why-buy-wrap">
    
    <div class="title-wrap">
      <h2>Why Buy Electric Bikes from GOTRAX?</h2>
    </div>

    <div class="why-buy-grid">
      <div class="item">
        <div class="title"><h4><i class="fa fa-bicycle"></i><span>Change your Commute</span> </h4></div>
        <div class="body">
          <p>Change your idea of what it is to commute! Our E-Bikes are affordable and we offer financing. Instead of spending hundreds of dollars every month on a car or taking uber, save money and get yourself an electric bike. The amount of electricity needed to commute 5 days a week ads up to only a few dollars per month, and the overall investment in the e-bike will pay for itself as it saves you on gas, insurance and car maintenance.</p>
        </div>
      </div>

      <div class="item">
        <div class="title"><h4><i class="fa fa-lightbulb"></i><span> Our Electric Bikes Have Great Specs at a Great Price</span></h4></div>
        <div class="body">
          <p>GOTRAX does a lot of research before creating products. Our electric bikes are at some of the most competitive price points you can find period! We have all the features you’re looking for including bikes that fold, quality LED displays and 36v or larger batteries! All at an affordable price, with financing through Klarna available.</p>
        </div>
      </div>

      <div class="item">
        <div class="title"><h4><i class="fa fa-smile-beam"></i> <span>30 Day Returns & 90 Day Warranty</span></h4></div>
        <div class="body">
          <p>Our #1 mission at GOTRAX Is to provide outstanding customer service. We’re dedicated to working our boots off until every customer is satisfied. Every GOTRAX product comes with a 90-day limited warranty and a 30 day return policy! You can contact our customer service M-F by email, or phone. Our agents are standing by in Dallas, TX ready to help.</p>
        </div>
      </div>

      <div class="item">
        <div class="title"><h4><i class="fa fa-shipping-fast"></i> <span>Fast & Free Shipping</span></h4></div>
        <div class="body">
          <p>GOTRAX provides free shipping Monday-Friday on all hoverboards for sale. GOTRAX provides tracking #’s via email and you can check on your order any time at the bottom of our web page. The GOTRAX website is certified to meet the requirements of an amazon seller-fulfilled prime warehouseand has an impeccable track record. We ship via FedEx, UPS, and USPS to the 48 contiguous states.</p>
        </div>
      </div>

    </div>
    </div>




{% endpaginate %}


