<!-- /templates/collection.liquid -->
{% comment %}

  For more information on collection tags:
    - http://docs.shopify.com/themes/liquid-variables/collection

{% endcomment %}

{% paginate collection.products by 12 %}

{% comment %} {% include 'breadcrumb' %} {% endcomment %}
{% assign add = collection.metafields.add %}


<div class="collection-grid collection-spacing tri-view">
  {% for product in collection.products %}

  {% include 'product-grid-item-yeti' %}


  {% endfor %}

</div>




{% comment %}
  Use .grid--rev so that the collection tags appear below the products on mobile
{% endcomment %}
<div class="grid--rev">

    {% if paginate.pages > 1 %}
      <hr>
      <div class="pagination">
        <div class="inner-wrap">
          {{ paginate | default_pagination | replace: '&laquo; Previous', '&larr;' | replace: 'Next &raquo;', '&rarr;' }}
        </div>
      </div>
    {% endif %}


</div>

{% endpaginate %}


