<div class="fullscreen-banner-wrap">
  <div class="banner-image" style="background: linear-gradient(rgba(0, 0, 0, 0),rgba(216, 2, 72,.0)) 0 0/cover,url('{{ settings.topBannerImage | img_url: 'master' }}') top center/cover no-repeat;"></div>
  {% comment %} {{ settings.topBannerImage | img_url: 'master' }} {% endcomment %}
  <div class="banner-content">
    <img src="https://cdn.shopify.com/s/files/1/0071/0406/9747/files/croppedLogo_Text_Green-01.png?v=1576774250" alt="GOTRAX">
    <p>Say Hello to the Future</p>
  </div>
  <div class="arrow-wrap">
    <a href="#featured" data-speed="300" class="scroll animated infinite pulse slow">
      <span>More Info</span>
      <?xml version="1.0" encoding="utf-8"?>
      <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" viewBox="0 0 129 129"
        enable-background="new 0 0 129 129" width="512px" height="512px">
        <g>
          <path d="m121.3,34.6c-1.6-1.6-4.2-1.6-5.8,0l-51,51.1-51.1-51.1c-1.6-1.6-4.2-1.6-5.8,0-1.6,1.6-1.6,4.2 0,5.8l53.9,53.9c0.8,0.8 1.8,1.2 2.9,1.2 1,0 2.1-0.4 2.9-1.2l53.9-53.9c1.7-1.6 1.7-4.2 0.1-5.8z"
            fill="#FFFFFF" />
        </g>
      </svg>
    </a>
  </div>
</div>

<div class="hp-inner-content">



  <div class="featured-tri-view-wrap animate-in" id="featured">
    {% comment %} <div class="title-wrap">
      <h2>Featured</h2>
    </div> {% endcomment %}

    <div class="feature-grid">



      <div class="feature-grid-item">
        <a href="/collections/hoverboards">
          <div class="inner-wrap">
            <div class="image-wrap">
              <div class="image" style="background-image: url('{{ settings.featuredItemBImage | img_url: 'master' }}')"></div>
              <div class="overlay">
                <div class="overlay-content">
                  <h3>Hoverboards</h3>
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>

      <div class="feature-grid-item">
        <a href="/collections/electric-scooters">
          <div class="inner-wrap">
            <div class="image-wrap">
              <div class="image" style="background-image: url('{{ settings.featuredItemAImage | img_url: 'master' }}')"></div>
              <div class="overlay">
                <div class="overlay-content">
                  <h3>Electric Scooters</h3>
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>

      <div class="feature-grid-item">
        <a href="/collections/accessories">
          <div class="inner-wrap">
            <div class="image-wrap">
              <div class="image" style="background-image: url('{{ settings.featuredItemCImage | img_url: 'master' }}')"></div>
              <div class="overlay">
                <div class="overlay-content">
                  <h3>Accessories</h3>
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>



    </div>
  </div>



  <a href="{{ settings.fw-1-url }}">
    <div class="fw-section-wrap animate-in" id="fw-2">
      <div class="image" style="background-image: url('{{ settings.fw-1-image | img_url: 'master' }}');">
        <div class="overlay"></div>
      </div>
      <img src="https://cdn.shopify.com/s/files/1/0071/0406/9747/files/992x1400_Homepage_GKS_Mobile.jpg?2358" alt="">
      <div class="caption">
        <h2>{{ settings.fw-1-text }}</h2>
        {% comment %} <div class="btn-wrap">
          <button class="btn-outline red">Shop Now</button>
        </div> {% endcomment %}
      </div>
    </div>
  </a>


  
 

  {% assign add = page.metafields.add %}

  <a href="{{ settings.fw-2-url }}">
    <div class="fw-section-wrap animate-in" id="fw-1">
      <div class="image" style="background-image: url('{{ settings.fw-2-image | img_url: 'master' }}');">
        <div class="overlay"></div>
      </div>
      <img src="https://cdn.shopify.com/s/files/1/0071/0406/9747/files/992x1400_Homepage_XR_Mobile.jpg?2358" alt="">
      <div class="caption flipped">
        <h2>{{ settings.fw-2-text }}</h2>
        <div class="btn-wrap">
          <button class="btn-outline red">View Details</button>
        </div>
      </div>
    </div>
</div>
</a>



{% include 'quote-wrap' %}

<div class="wrapper sm animate-in">
  <img src="https://cdn.shopify.com/s/files/1/0071/0406/9747/files/GoTraxMediaBanner-01.jpg?2418" alt="Media Requests Banner">
</div>


<div class="why-buy-wrap animate-in">
  <div class="title-wrap">
    <h2>Why Should I Buy From GOTRAX <span>Our electric rideables aren't the only reason why our customers choose
        GOTRAX.</span></h2>
  </div>

  <div class="why-buy-grid">

    <div class="item">
      <div class="title">
        <h4><img src="https://cdn.shopify.com/s/files/1/0071/0406/9747/files/ul.png?15821839500346403726" alt="" class="small-icon">
          <span>UL Certified Products</span> </h4>
      </div>
      <div class="body">
        <p>Every GOTRAX Hoverboard is tested and certified to UL safety standards. All GOTRAX products are designed by our top engineers with high-quality construction for the utmost safety of our customers.</p>
      </div>
    </div>

    <div class="item">
      <div class="title">
        <h4><img src="{{'flag.png' | asset_url | img_src: 'master'}}" alt="" class="small-icon xs"> U.S. Based Shipping
          & Support</span></h4>
      </div>
      <div class="body">
        <p>Our support team and logistics team are both located at our headquarters in Dallas TX. We have built in order tracking and our customer support team is available via contact page submission, email, live chat, or phone. Visit the Contact Us page for more information.</p>
      </div>
    </div>

    <div class="item">
      <div class="title">
        <h4><i class="fa fa-smile-beam"></i> <span>30 Day Returns & 90 Day Warranty </span></h4>
      </div>
      <div class="body">
        <p>Our #1 mission at GOTRAX is to provide outstanding customer service. We’re dedicated to working our boots off until every customer is satisfied. Every GOTRAX product comes with a 90-day limited warranty and a 30 day return policy! You can contact our customer service M-F by live chat, email, or phone. Our agents are standing by in Dallas, TX ready to help.</p>
      </div>
    </div>

    <div class="item">
      <div class="title">
        <h4><i class="fa fa-shipping-fast"></i> <span>Fast & Free Shipping</span></h4>
      </div>
      <div class="body">
        <p>GOTRAX provides free shipping on all electric scooters for sale. GOTRAX provides tracking #’s via email and you can check on your order any time at the bottom of our web page. The GOTRAX website is certified to meet the requirements of an amazon seller-fulfilled prime warehouse and has an impeccable track record. We ship via FedEx, UPS, and USPS to the 48 contiguous states. Shipping time extended during holiday season 11/24-12/31 See shipping page for holiday ship times.</p>
      </div>
    </div>

  </div>


</div>