<!-- /templates/page.liquid -->
<div class="grid register">

  <div class="grid__item">

    <div class="title-wrap">
      <h1>{{ page.title }}</h1>
    </div>
    

    {% comment %}
      Regular page content goes here.
    {% endcomment %}
    <div class="rte">
      {{ page.content }}
    </div>

    <div class="small-form-wrap">
      <div style="margin:0 auto;" id="zbwid-d60d4a82"></div>
    </div>

  </div>

</div>


<script>
  let allLabels = document.querySelectorAll('.form-radio-wrap .inner-wrap label');


  function labelToggle(e) {

      if(document.querySelector('.form-radio-wrap .inner-wrap label.active')) {
        let allActiveLabels = document.querySelectorAll('.form-radio-wrap .inner-wrap label.active');

        for(let i = 0; i < allActiveLabels.length; i++) {
          allActiveLabels[i].classList.remove('active');
        }
      }
     

      e.target.classList.add('active');
  }


  for(let i = 0; i < allLabels.length; i++) {
    allLabels[i].addEventListener('click', labelToggle)
  }


  function checkReceipt() {
    if(document.querySelector('#ContactFormPL').value.toLowerCase() == 'in-store') {
      document.querySelector('.file-wrap').style.display = 'block';
    } else {
      document.querySelector('.file-wrap').style.display = 'none';
    }
  }

try {
  document.querySelector('#ContactFormPL').addEventListener('change', checkReceipt);
} catch(e) {
  console.log(e.message);
}
  

</script>