<!-- /templates/page.liquid -->
<div class="panes-wrap">
  {% comment %} <div class="title-wrap"><h1>GOTRAX</h1></div> {% endcomment %}
  <div class="pane" style="background: linear-gradient(rgba(20,20,20,.5),rgba(20,20,20,0)) 0 0/cover,url('https://cdn.shopify.com/s/files/1/0071/0406/9747/files/5_pane_image_1.jpg?7996436771081260682') center/cover no-repeat;">
    <div class="pane-content">
      <h3>FAQ</h3>
      <div class="btn-wrap">
        <a href="/pages/faq" class="btn-dark">Learn More</a>
      </div>
    </div>
  </div>

  <div class="pane" style="background: linear-gradient(rgba(20,20,20,.5),rgba(20,20,20,0)) 0 0/cover,url('https://cdn.shopify.com/s/files/1/0071/0406/9747/files/5_pane_image_2_copy.jpg?7260920670200583986') center/cover no-repeat;">
    <div class="pane-content">
      <h3>Contact Us</h3>
      <div class="btn-wrap">
        <a href="/pages/contact" class="btn-dark">Learn More</a>
      </div>
    </div>
  </div>

  <div class="pane" style="background: linear-gradient(rgba(20,20,20,.5),rgba(20,20,20,0)) 0 0/cover,url('https://cdn.shopify.com/s/files/1/0071/0406/9747/files/5_pane_Image_3.jpg?7996436771081260682') center/cover no-repeat;">
    <div class="pane-content"> 
      <h3>Return Policy</h3>
      <div class="btn-wrap">
        <a href="/pages/return-policy" class="btn-dark">Learn More</a>
      </div>
    </div>
  </div>

  <div class="pane" style="background: linear-gradient(rgba(20,20,20,.5),rgba(20,20,20,0)) 0 0/cover,url('https://cdn.shopify.com/s/files/1/0071/0406/9747/files/tada.jpg?15377401475786859069') center/cover no-repeat;">
    <div class="pane-content">
      <h3>Warranty</h3>
      <div class="btn-wrap">
        <a href="/pages/warranty" class="btn-dark">Learn More</a>
      </div>
    </div>
  </div>

  <div class="pane" style="background: linear-gradient(rgba(20,20,20,.5),rgba(20,20,20,0)) 0 0/cover,url('https://cdn.shopify.com/s/files/1/0071/0406/9747/files/5_pane_image_5.jpg?7996436771081260682') center/cover no-repeat;">
    <div class="pane-content">
      <h3>Manuals</h3>
      <div class="btn-wrap">
        <a href="/pages/manuals" class="btn-dark">Learn More</a>
      </div>
    </div>
  </div>

  
</div>