<!-- /templates/page.liquid -->
<div class="grid page-balance">

  <div class="grid__item large--two-thirds push--large--one-sixth page-balance">

    <h1>{{ page.title }}</h1>

    {% comment %}
      Regular page content goes here.
    {% endcomment %}
    <div class="rte">
      {{ page.content }}
    </div>

    <div class="instafeed-wrap">
      <div id="insta-feed"></div>
    </div>

  </div>

</div>
