<!-- /templates/page.ambassadors.liquid -->
<div class="grid page-balance">

  <div class="wrapper am">

    <h1>{{ page.title }}</h1>

    {% comment %}
      Regular page content goes here.
    {% endcomment %}
    <div class="rte">
      {{ page.content }}
    </div>

    <div class="am-grid-container">
      <div class="am-grid">
        {% section 'am-grid' %}
      </div>
    </div>

  </div>

</div>
