<!-- /templates/page.contact.liquid -->
{% comment %}

  This page template is a requirement if you are submitting your theme to the Shopify Theme Store.
  Be sure to select page.contact as the template from the admin page to have this template take effect.

  For information on adding more fields, visit:
    - http://docs.shopify.com/support/configuration/store-customization/adding-fields-to-the-liquid-contact-form

{% endcomment %}

<div class="grid page-balance">

  <div class="grid__item large--two-thirds push--large--one-sixth">
  <h2 class="contact-title">Contact us online, we're happy to help!</h2>


    {% comment %}
      Regular page content goes here.
    {% endcomment %}

    <div class="split-wrap">
      <div class="rte">
        {{ page.content }}
      </div>

      {% comment %}
        Contact form starts here
      {% endcomment %}
      <div class="form-vertical">
        
        {% form 'contact' %}

          {% comment %}
            Successful message
          {% endcomment %}
          {% if form.posted_successfully? %}
            <p class="note form-success">
              {{ 'contact.form.post_success' | t }}
            </p>
          {% endif %}

          {{ form.errors | default_errors }}

          {% assign name_attr = 'contact.form.first_name' | t | handle %}
          <label for="ContactFormFirstName" class="hidden-label">{{ 'contact.form.first_name' | t }}</label>
          <input type="text" id="ContactFormFirstName" class="input-full" required name="contact[{{ name_attr }}]" placeholder="{{ 'contact.form.first_name' | t }}" autocapitalize="words">
          
          {% assign name_attr = 'contact.form.last_name' | t | handle %}
          <label for="ContactFormLastName" class="hidden-label">{{ 'contact.form.last_name' | t }}</label>
          <input type="text" id="ContactFormLastName" class="input-full" required name="contact[{{ name_attr }}]" placeholder="{{ 'contact.form.last_name' | t }}" autocapitalize="words">

          <label for="ContactFormEmail" class="hidden-label">{{ 'contact.form.email' | t }}</label>
          <input type="email" id="ContactFormEmail" class="input-full" name="contact[email]" placeholder="{{ 'contact.form.email' | t }}" autocorrect="off" autocapitalize="off" required value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}">

          {% assign name_attr = 'contact.form.phone' | t | handle %}
          <label for="ContactFormPhone" class="hidden-label">{{ 'contact.form.phone' | t }}</label>
          <input type="tel" id="ContactFormPhone" class="input-full" name="contact[{{ name_attr }}]" placeholder="{{ 'contact.form.phone' | t }}" required pattern="[0-9\-]*" value="{% if form[name_attr] %}{{ form[name_attr] }}{% elsif customer %}{{ customer.phone }}{% endif %}">

          {% assign name_attr = 'contact.form.ordernum' | t | handle %}
          <label for="ContactOrderNum" class="hidden-label">Order Number</label>
          <input type="text" id="ContactFormOrderNum" class="input-full" name="contact[{{ name_attr }}]" required placeholder="Order Number" autocapitalize="words">

          <label class="hidden-label" for="ContactFormProduct">Select a product</label>
            <select class="space" required id="ContactFormProduct" name="contact[Product]">
              <option selected disabled>Select a product *</option>
              <option>Hoverboard ECO</option>
              <option>Hoverboard ION</option>
              <option>Hoverboard XL</option>
              <option>GXL Scooter</option>
              <option>GXL V2</option>
              <option>G1 Scooter</option>
              <option>G1 Scooter</option>
              <option>G2 Scooter</option>
              <option>XR Scooter</option>
              <option>XR Ultra Scooter</option>
              <option>Cadet Scooter</option>
              <option>Hover Kart</option>
              <option>Fluxx Watt Hoverboard</option>
              <option>Fluxx Watt Plus Hoverboard</option>
              <option>SRX Hoverboard</option>
              <option>SRX Pro Hoverboard</option>
              <option>SRX MINI</option>
              <option>GKS</option>
              <option>SRX A6</option>
              <option>SHIFT S1</option>
              <option>E2</option>
              <option>E3</option>
            </select> 

          <label class="hidden-label" for="ContactFormPurchaseLocation">Select a purchase location</label>
            <select class="space" required id="ContactFormPurchaseLocation" name="contact[PurchaseLocation]">
              <option selected disabled>Select a purchase location *</option>
              <option>Academy Sports</option>
              <option>AFFES</option>
              <option>Amazon</option>
              <option>Best Buy</option>
              <option>Bluestem</option>
              <option>Dick's Sporting Goods</option>
              <option>Dunham's Sports</option>
              <option>Fry's Electronics</option>
              <option>Macy's</option>
              <option>GOTRAX.com</option>
              <option>Staples</option>
              <option>Target</option>
              <option>Other</option>
            </select> 


          <label for="ContactFormMessage" class="hidden-label">{{ 'contact.form.message' | t }}</label>
          <textarea rows="10" id="ContactFormMessage" required class="input-full" name="contact[body]" placeholder="{{ 'contact.form.message' | t }}">{% if form.body %}{{ form.body }}{% endif %}</textarea>

          <input type="submit" class="btn right" value="{{ 'contact.form.send' | t }}">

        {% endform %}
      </div>
    </div>
  </div>

</div>
