{% layout 'map' %}

<!-- /templates/page.liquid -->
<div class="single-page-wrap">

  <div class="map-wrap">

    <div class="title-wrap">
      <h1>{{ page.title }}</h1>
    </div>
    

    {% comment %}
      Regular page content goes here.
    {% endcomment %}
    <div class="rte">
      {{ page.content }}
    </div>
    

  </div>

</div>
