<!-- /templates/page.liquid -->
<div class="grid register">

  <div class="grid__item">

    <div class="title-wrap">
      <h1>{{ page.title }}</h1>
    </div>


    {% comment %}
    Regular page content goes here.
    {% endcomment %}
    <div class="rte wrapper" style="max-width: 700px; margin: 0 auto;">
      {{ page.content }}
    </div>

    <div class="small-form-wrap">
      <div style="margin:0 auto;" id="zbwid-40a24c54"></div>
    </div>

  </div>

</div>


<script>
  // Date Switcher

  function checkDate() {
    let ogDate = document.querySelector('#ContactFormPurchaseDate').value.split('-');
    ogDate[1] = "0" + parseFloat((ogDate[1]) - 1).toString();
    ogDate = new Date(...ogDate);
    console.log(ogDate);

    var warrantyPeriod = ogDate;
    warrantyPeriod.setDate(warrantyPeriod.getDate() + 30);
    console.log(warrantyPeriod);

    let today = new Date;

    if (today < warrantyPeriod) {
      console.log('warranty is good');
      document.querySelector('.refund-option').style.display = 'block';
    } else {
      console.log('warranty is expired');
      document.querySelector('.refund-option').style.display = 'none';
      document.querySelector('#ContactFormEx option').selected = true;

    }
  }

  function checkReceipt() {
    if (document.querySelector('#ContactFormPL').value.toLowerCase() == 'in-store') {
      document.querySelector('.file-wrap').style.display = 'block';
    } else {
      document.querySelector('.file-wrap').style.display = 'none';
    }
  }

try {
  document.querySelector('#ContactFormPL').addEventListener('change', checkReceipt);

  document.querySelector('#ContactFormPurchaseDate').addEventListener('change', checkDate);
} catch(e) {
  console.log(e.message)
}
  



  // Color Switcher
  let allLabels = document.querySelectorAll('.form-radio-wrap .inner-wrap label');

  function labelToggle(e) {

    if (document.querySelector('.form-radio-wrap .inner-wrap label.active')) {
      let allActiveLabels = document.querySelectorAll('.form-radio-wrap .inner-wrap label.active');

      for (let i = 0; i < allActiveLabels.length; i++) {
        allActiveLabels[i].classList.remove('active');
      }
    }


    e.target.classList.add('active');
  }


  for (let i = 0; i < allLabels.length; i++) {
    allLabels[i].addEventListener('click', labelToggle)
  }
</script>