<!-- /templates/page-pharrell.liquid -->

<div class="fullscreen-banner-wrap" style="padding-top: 38px;">
  <div class="banner-image" style="background: linear-gradient(rgba(216, 2, 72, .6),rgba(216, 2, 72,.6)) 0 0/cover,url(https://cdn.shopify.com/s/files/1/0071/0406/9747/files/banner.jpg?67326282904674665) top center/cover no-repeat;"></div>
  <div class="banner-content">
    <h1>Welcome to GOTRAX</h1>
    <p>We make awesome scooters 🛴🛴🛴</p>
  </div>
  <div class="arrow-wrap">
    <a href="#featured" class="animated infinite pulse slow">
      <span>More Info</span>
      <?xml version="1.0" encoding="utf-8"?>
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" viewBox="0 0 129 129" enable-background="new 0 0 129 129" width="512px" height="512px">
          <g>
            <path d="m121.3,34.6c-1.6-1.6-4.2-1.6-5.8,0l-51,51.1-51.1-51.1c-1.6-1.6-4.2-1.6-5.8,0-1.6,1.6-1.6,4.2 0,5.8l53.9,53.9c0.8,0.8 1.8,1.2 2.9,1.2 1,0 2.1-0.4 2.9-1.2l53.9-53.9c1.7-1.6 1.7-4.2 0.1-5.8z" fill="#FFFFFF"/>
          </g>
        </svg>
    </a>
  </div>
</div>

<div class="featured-tri-view-wrap" id="featured">
  
  <div class="title-wrap">
    <h2>Featured</h2>
  </div>

  <div class="feature-grid">
    
    <div class="feature-grid-item">
      <div class="inner-wrap">
        <div class="image-wrap">
          <div class="image" style="background-image: url('http://d1eftdjv0gj6pj.cloudfront.net/featured2_1.jpg')"></div>
        </div>
        <div class="content-wrap">
          <h5>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus animi corporis harum?</h5>
         <div class="link-wrap">
            <a href="#">WATCH</a>
          </div>
        </div>
      </div>
    </div>

    <div class="feature-grid-item">
      <div class="inner-wrap">
        <div class="image-wrap">
          <div class="image" style="background-image: url('http://d1eftdjv0gj6pj.cloudfront.net/featured2_1.jpg')"></div>
        </div>
        <div class="content-wrap">
          <h5>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus animi corporis harum?</h5>
          <div class="link-wrap">
            <a href="#">WATCH</a>
          </div>
        </div>
      </div>
    </div>

    <div class="feature-grid-item">
      <div class="inner-wrap">
        <div class="image-wrap">
          <div class="image" style="background-image: url('http://d1eftdjv0gj6pj.cloudfront.net/featured2_1.jpg')"></div>
        </div>
        <div class="content-wrap">
          <h5>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus animi corporis harum?</h5>
          <div class="link-wrap">
            <a href="#">WATCH</a>
          </div>

        </div>
      </div>
    </div>

  </div>
</div>

<div class="fade-slider-wrap">
  <div class="fade-slider">
    
    <div class="fade-slide">
      <div class="inner-wrap">
        <div class="title-wrap">
        <h2>Title 1</h2>
        </div>
        <div class="image-wrap">
          <div class="image" style="background-image: url('http://d1eftdjv0gj6pj.cloudfront.net/Adidas_Supercolor-D_Category_Page.jpg');"></div>
        </div>
        <div class="content-wrap">
          <p>A collection inspired by vintage floral prints discovered while visiting Paris's historic Marché Saint Pierre, one of the largest fabric stores in the world. 2015.</p>
          <div class="btn-wrap"><a href="#" class="btn-black">Shop Now</a></div>
        </div>
      </div>
      
    </div>


    <div class="fade-slide"> 
      <div class="inner-wrap">
        <div class="title-wrap">
          <h2>Title 2</h2>
        </div>
        <div class="image-wrap">
          <div class="image" style="background-image: url('https://cdn.shopify.com/s/files/1/0071/0406/9747/files/Adidas_Supershell-D_Category_Page.jpg?10850243948771657350');"></div>
        </div>
        <div class="content-wrap">
          <p>A collection inspired by vintage floral prints discovered while visiting Paris's historic Marché Saint Pierre, one of the largest fabric stores in the world. 2015.</p>
          <div class="btn-wrap"><a href="#" class="btn-black">Shop Now</a></div>
        </div>
      </div>
    </div>

    <div class="fade-slide">
      <div class="inner-wrap">
        <div class="title-wrap">
          <h2>Title 3</h2>
        </div>
        <div class="image-wrap">
          <div class="image" style="background-image: url('https://cdn.shopify.com/s/files/1/0071/0406/9747/files/Adidas_Supercolor-D_Category_Page.jpg?17486946208533654395');"></div>
        </div>
        <div class="content-wrap">
          <p>A collection inspired by vintage floral prints discovered while visiting Paris's historic Marché Saint Pierre, one of the largest fabric stores in the world. 2015.</p>
          <div class="btn-wrap"><a href="#" class="btn-black">Shop Now</a></div>
        </div>
      </div>
    </div>

     <div class="fade-slide">
      <div class="inner-wrap">
        <div class="title-wrap">
        <h2>Title 1</h2>
        </div>
        <div class="image-wrap">
          <div class="image" style="background-image: url('http://d1eftdjv0gj6pj.cloudfront.net/Adidas_Supercolor-D_Category_Page.jpg');"></div>
        </div>
        <div class="content-wrap">
          <p>A collection inspired by vintage floral prints discovered while visiting Paris's historic Marché Saint Pierre, one of the largest fabric stores in the world. 2015.</p>
          <div class="btn-wrap"><a href="#" class="btn-black">Shop Now</a></div>
        </div>
      </div>
      
    </div>


    <div class="fade-slide"> 
      <div class="inner-wrap">
        <div class="title-wrap">
          <h2>Title 2</h2>
        </div>
        <div class="image-wrap">
          <div class="image" style="background-image: url('https://cdn.shopify.com/s/files/1/0071/0406/9747/files/Adidas_Supershell-D_Category_Page.jpg?10850243948771657350');"></div>
        </div>
        <div class="content-wrap">
          <p>A collection inspired by vintage floral prints discovered while visiting Paris's historic Marché Saint Pierre, one of the largest fabric stores in the world. 2015.</p>
          <div class="btn-wrap"><a href="#" class="btn-black">Shop Now</a></div>
        </div>
      </div>
    </div>

    <div class="fade-slide">
      <div class="inner-wrap">
        <div class="title-wrap">
          <h2>Title 3</h2>
        </div>
        <div class="image-wrap">
          <div class="image" style="background-image: url('https://cdn.shopify.com/s/files/1/0071/0406/9747/files/Adidas_Supercolor-D_Category_Page.jpg?17486946208533654395');"></div>
        </div>
        <div class="content-wrap">
          <p>A collection inspired by vintage floral prints discovered while visiting Paris's historic Marché Saint Pierre, one of the largest fabric stores in the world. 2015.</p>
          <div class="btn-wrap"><a href="#" class="btn-black">Shop Now</a></div>
        </div>
      </div>
    </div>

  </div>

    
      <a href="#" class="prev-wrap"><div class="prev"></div></a>
      <a href="#" class="next-wrap"><div class="next"></div></a>
    

</div>

{% assign add = page.metafields.add %}




<div class="content-row">
  <div class="inner-wrap">
      <div class="content-wrap">
        <h3>{{ add.row1_title }}</h3>
        <p>{{ add.row1_blurb }}</p>
      </div>
      <div class="image-wrap">
        <div class="side-image" style="background-image: url('{{ add.row1_image }}')"></div>
      </div>
  </div>
</div>

<div class="content-row flipped">
  <div class="inner-wrap">
      <div class="content-wrap">
        <h3>{{ add.row2_title }}</h3>
        <p>{{ add.row2_blurb }}</p>
      </div>
      <div class="image-wrap">
        <div class="side-image" style="background-image: url('{{ add.row2_image }}')"></div>
      </div>
  </div>
</div>

<div class="content-row">
  <div class="inner-wrap">
      <div class="content-wrap">
        <h3>{{ add.row3_title }}</h3>
        <p>{{ add.row3_blurb }}</p>
      </div>
      <div class="image-wrap">
        <div class="side-image" style="background-image: url('{{ add.row3_image }}')"></div>
      </div>
  </div>
</div>

<div class="basic-banner-wrap">
  <div class="banner home" style="background: linear-gradient(rgba(20,20,20,.0),rgba(20,20,20,.0)) 0 0/cover,url('https://cdn.shopify.com/s/files/1/0071/0406/9747/files/59fa96242e2bc-D_Category_Page.jpg?10672837369591777461') center/cover no-repeat;"></div>
      {% comment %} <div class="content-wrap">
          <h1>Why rent when you can own?</h1>
          <div class="btn-wrap">
            <a href="#" class="btn-blue">Shop Now</a>
          </div>
      </div> {% endcomment %}
</div>