<!-- /templates/page.liquid -->
<div class="grid page-balance">

  <div class="grid__item large--two-thirds push--large--one-sixth page-balance">

    <h1>{{ page.title }}</h1>

    {% comment %}
      Regular page content goes here.
    {% endcomment %}
    <div class="rte wrapper">
      {{ page.content }}
    </div>
    

  </div>

</div>
