<!-- /templates/page.liquid -->
<div class="grid register">

  <div class="grid__item">

    <div class="title-wrap">
      <h1>{{ page.title }}</h1>
    </div>
    

    {% comment %}
      Regular page content goes here.
    {% endcomment %}
    <div class="rte">
      {{ page.content }}
    </div>

    <div class="small-form-wrap">
      {% form 'contact' %}

          {% comment %}
            Successful message
          {% endcomment %}
          {% if form.posted_successfully? %}
            <p class="note form-success">
              {{ 'contact.form.post_success' | t }}
            </p>
          {% endif %}

          {{ form.errors | default_errors }}

          {% assign name_attr = 'contact.form.name' | t | handle %}
          <label for="ContactFormName" class="hidden-label">{{ 'contact.form.name' | t }}</label>
          <input type="text" id="ContactFormName" class="input-full" name="contact[{{ name_attr }}]" placeholder="{{ 'contact.form.name' | t }}" autocapitalize="words" value="{% if form[name_attr] %}{{ form[name_attr] }}{% elsif customer %}{{ customer.name }}{% endif %}">

          {% assign name_attr = 'contact.form.ordernum' | t | handle %}
          <label for="ContactOrderNum" class="hidden-label">Order Number</label>
          <input type="text" id="ContactFormOrderNum" class="input-full" name="contact[{{ name_attr }}]" placeholder="Order Number" autocapitalize="words">

          {% assign name_attr = 'contact.form.address' | t | handle %}
          <label for="ContactOrderAddress" class="hidden-label">Address</label>
          <input type="text" id="ContactFormAddress" class="input-full" name="contact[{{ name_attr }}]" placeholder="Address" autocapitalize="words">
        {{contact.form.address}}
          <label for="ContactFormModel">Model</label>
            <select id="ContactFormModel" name="contact[Model]">
              <option>GXL</option>
              <option>G2</option>
              <option>G1</option>
              <option>Hoverfly ECO</option>
              <option>Hoverfly XL</option>
              <option>Hoverfly ION</option>
            </select>

              <div class="form-radio-wrap">
                <h4>Colors:</h4> 
              <div class="inner-wrap">

                  <input type="radio"
                        name="contact[Color]"
                        id="colorBlack"
                        value="Black" />
                  <label class="wrap black" for="colorBlack"></label>

                  <input type="radio"
                        name="contact[Color]"
                        id="colorWhite"
                        value="White" />
                  <label class="wrap white" for="colorWhite"></label>

                  <input type="radio"
                        name="contact[Color]"
                        id="colorBlue"
                        value="Blue" />
                  <label class="wrap blue" for="colorBlue"></label>

                  <input type="radio"
                        name="contact[Color]"
                        id="colorPink"
                        value="Pink" />
                  <label class="wrap pink" for="colorPink"></label>

                  <input type="radio"
                        name="contact[Color]"
                        id="colorPurple"
                        value="Purple" />
                  <label class="wrap purple" for="colorPurple"></label>

                  <input type="radio"
                        name="contact[Color]"
                        id="colorGreen"
                        value="Green" />
                  <label class="wrap green" for="colorGreen"></label>

                  <input type="radio"
                        name="contact[Color]"
                        id="colorRed"
                        value="Red" />
                  <label class="wrap red" for="colorRed"></label>

                </div> 

                <label for="ContactFormPL">Purchase Location</label>
                  <select id="ContactFormPL" name="contact[Purchase Location]">
                    <option>In-Store</option>
                    <option>Online</option>
                  </select>


                  <label for="FileUpload" class="label--hidden">Upload Receipt</label>
                  <input type="file" id="FileUpload" name="file[Upload Receipt]" multiple>

              </div>

              
             


          



          <label for="ContactFormPurchaseDate" class="hidden-label">Purchase Date</label>
          <input type="date" id="ContactFormPurchaseDate" class="input-full" name="contact[purchase_date]" placeholder="Purchase Date" autocorrect="off" autocapitalize="off">

          <label for="ContactFormEmail" class="hidden-label">{{ 'contact.form.email' | t }}</label>
          <input type="email" id="ContactFormEmail" class="input-full" name="contact[email]" placeholder="{{ 'contact.form.email' | t }}" autocorrect="off" autocapitalize="off" value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}">

          {% assign name_attr = 'contact.form.phone' | t | handle %}
          <label for="ContactFormPhone" class="hidden-label">{{ 'contact.form.phone' | t }}</label>
          <input type="tel" id="ContactFormPhone" class="input-full" name="contact[{{ name_attr }}]" placeholder="{{ 'contact.form.phone' | t }}" pattern="[0-9\-]*" value="{% if form[name_attr] %}{{ form[name_attr] }}{% elsif customer %}{{ customer.phone }}{% endif %}">

          

          <input type="submit" class="btn right" value="{{ 'contact.form.send' | t }}">

        {% endform %}
    </div>

  </div>

</div>


<script>
  let allLabels = document.querySelectorAll('.form-radio-wrap .inner-wrap label');


  function labelToggle(e) {

      if(document.querySelector('.form-radio-wrap .inner-wrap label.active')) {
        let allActiveLabels = document.querySelectorAll('.form-radio-wrap .inner-wrap label.active');

        for(let i = 0; i < allActiveLabels.length; i++) {
          allActiveLabels[i].classList.remove('active');
        }
      }
     

      e.target.classList.add('active');
  }


  for(let i = 0; i < allLabels.length; i++) {
    allLabels[i].addEventListener('click', labelToggle)
  }

</script>