<!-- /templates/page.teamliquid -->
<div class="grid register">

  <div class="grid__item">

    <div class="title-wrap">
      <h1>{{ page.title }}</h1>
      <p class="text-center">This form is to sign up for TEAM GOTRAX. TEAM GOTRAX members will receive early access to exclusive members-only promotions, giveaways, news, and more! Sign up to ensure you don’t miss out. We promise to only send you the good stuff!</p>
    </div>
    

    {% comment %}
      Regular page content goes here.
    {% endcomment %}
    

    <div class="small-form-wrap no-margin">
      <div class="_form_15"></div><script src="https://gotrax.activehosted.com/f/embed.php?id=15" type="text/javascript" charset="utf-8"></script>
    </div>
    </div>

    <div class="rte">
      {{page.content}}
    </div>

  </div>

</div>


<script>


  // Date Switcher

  function checkDate() {
    let ogDate = document.querySelector('#ContactFormPurchaseDate').value.split('-');
    ogDate[1] = "0" + parseFloat((ogDate[1]) - 1).toString();
    ogDate = new Date(...ogDate);
    console.log(ogDate);

    var warrantyPeriod = ogDate;
    warrantyPeriod.setDate(warrantyPeriod.getDate() + 30);
    console.log(warrantyPeriod);

    let today = new Date;

    if(today < warrantyPeriod) {
      console.log('warranty is good');
      document.querySelector('.refund-option').style.display = 'none';
    } else {
      console.log('warranty is expired');
      document.querySelector('.refund-option').style.display = 'none';
      document.querySelector('#ContactFormEx option').selected = true;

    }
  }

  document.querySelector('#ContactFormPurchaseDate').addEventListener('change', checkDate);



  // Color Switcher
  let allLabels = document.querySelectorAll('.form-radio-wrap .inner-wrap label');

  function labelToggle(e) {

      if(document.querySelector('.form-radio-wrap .inner-wrap label.active')) {
        let allActiveLabels = document.querySelectorAll('.form-radio-wrap .inner-wrap label.active');

        for(let i = 0; i < allActiveLabels.length; i++) {
          allActiveLabels[i].classList.remove('active');
        }
      }
     

      e.target.classList.add('active');
  }


  for(let i = 0; i < allLabels.length; i++) {
    allLabels[i].addEventListener('click', labelToggle)
  }

</script>