  <!-- /templates/page.liquid -->
<div class="grid page-balance">

  <div class="grid__item large--two-thirds push--large--one-sixth page-balance">

    <h1>{{ page.title }}</h1>

    <div class="manual-section-wrap">

      <div class="title-wrap">
        <h2>Scooters</h2>
      </div>

      <div class="manual-grid">
        <div class="inner-wrap">

          <div class="manual-wrap">
            <div class="title">
              <h4>GXL</h4>
            </div>
            <div class="link"><a target="_blank" download href="https://cdn.shopify.com/s/files/1/0071/0406/9747/files/Manual_GXL_new_final_5.14.pdf?994">Download
                here</a></div>
          </div>

          <div class="manual-wrap">
            <div class="title">
              <h4>GXL Handbrake Edition</h4>
            </div>
            <div class="link"><a target="_blank" download href="https://cdn.shopify.com/s/files/1/0071/0406/9747/files/Manual_GXLHB_v2_new_final_5.14.pdf?995">Download
                here</a></div>
          </div>

          <div class="manual-wrap">
            <div class="title">
              <h4>G2</h4>
            </div>
            <div class="link"><a target="_blank" download href="https://cdn.shopify.com/s/files/1/0071/0406/9747/files/Manual_G2_new_final_5.14.pdf?995">Download
                here</a></div>
          </div>

          <div class="manual-wrap">
            <div class="title">
              <h4>G1 (Glider)</h4>
            </div>
            <div class="link"><a target="_blank" download href="https://cdn.shopify.com/s/files/1/0071/0406/9747/files/G1_User_Manual.pdf?6364888802325957391">Download
                here</a></div>
          </div>

          <div class="manual-wrap">
            <div class="title">
              <h4>GKS</h4>
            </div>
            <div class="link"><a target="_blank" download href="https://cdn.shopify.com/s/files/1/0071/0406/9747/files/Manual_GKS_5.22.pdf?1591">Download
                here</a></div>
          </div>


          <div class="manual-wrap">
            <div class="title">
              <h4>Cadet</h4>
            </div>
            <div class="link"><a target="_blank" download href="https://cdn.shopify.com/s/files/1/0071/0406/9747/files/CADET_User_Manual.pdf?5409843813527415828">Download
                here</a></div>
          </div>

        </div>
      </div>


    </div>
    <div class="manual-section-wrap">

      <div class="title-wrap">
        <h2>Electric Bikes</h2>
      </div>

      <div class="manual-grid">
        <div class="inner-wrap">

          <div class="manual-wrap">
            <div class="title">
              <h4>Shift S1</h4>
            </div>
            <div class="link"><a target="_blank" download href="https://cdn.shopify.com/s/files/1/0071/0406/9747/files/Manual_BikeShiftS1_new_final_5.14.pdf?995">Download
                here</a></div>
          </div>


        </div>
      </div>


    </div>




    <div class="manual-section-wrap">

      <div class="title-wrap">
        <h2>Hoverboards</h2>
      </div>

      <div class="manual-grid">
        <div class="inner-wrap">

          <div class="manual-wrap">
            <div class="title">
              <h4>E2</h4>
            </div>
            <div class="link"><a target="_blank" download href="https://cdn.shopify.com/s/files/1/0071/0406/9747/files/Manual_E2.pdf?1930">Download
                here</a></div>
          </div>

          <div class="manual-wrap">
            <div class="title">
              <h4>E3</h4>
            </div>
            <div class="link"><a target="_blank" download href="https://cdn.shopify.com/s/files/1/0071/0406/9747/files/Manual_E3.pdf?1930">Download
                here</a></div>
          </div>

          <div class="manual-wrap">
            <div class="title">
              <h4>XL</h4>
            </div>
            <div class="link"><a target="_blank" download href="https://cdn.shopify.com/s/files/1/0071/0406/9747/files/XL_Hoverboard_User_Manual_4.pdf?5409843813527415828">Download
                here</a></div>
          </div>

          <div class="manual-wrap">
            <div class="title">
              <h4>ION</h4>
            </div>
            <div class="link"><a target="_blank" download href="https://cdn.shopify.com/s/files/1/0071/0406/9747/files/Manual_ION_new_final_5.14.pdf?998">Download
                here</a></div>
          </div>

          <div class="manual-wrap">
            <div class="title">
              <h4>ECO</h4>
            </div>
            <div class="link"><a target="_blank" download href="https://cdn.shopify.com/s/files/1/0071/0406/9747/files/ECO_User_Manual_1.pdf?5409843813527415828">Download
                here</a></div>
          </div>

          <div class="manual-wrap">
            <div class="title">
              <h4>SRX</h4>
            </div>
            <div class="link"><a target="_blank" download href="https://cdn.shopify.com/s/files/1/0071/0406/9747/files/Manual_SRX_new_final_5.14.pdf?998">Download
                here</a></div>
          </div>
          
          <div class="manual-wrap">
            <div class="title">
              <h4>SRX PRO</h4>
            </div>
            <div class="link"><a target="_blank" download href="https://cdn.shopify.com/s/files/1/0071/0406/9747/files/Manual_SRXPro_new_final_5.14.pdf?998">Download
                here</a></div>
          </div>

          <div class="manual-wrap">
            <div class="title">
              <h4>SRX A6</h4>
            </div>
            <div class="link"><a target="_blank" download href="https://cdn.shopify.com/s/files/1/0071/0406/9747/files/Manual_SRX-A6_5.14.pdf?1001">Download
                here</a></div>
          </div>

          <div class="manual-wrap">
            <div class="title">
              <h4>SRX Mini</h4>
            </div>
            <div class="link"><a target="_blank" download href="https://cdn.shopify.com/s/files/1/0071/0406/9747/files/Manual_SRX_Mini_4.17_1.pdf?1591">Download
                here</a></div>
          </div>

          


        </div>
      </div>


    </div>


    <div class="manual-section-wrap">

      <div class="title-wrap">
        <h2>Accessories</h2>
      </div>

      <div class="manual-grid">
        <div class="inner-wrap">

          <div class="manual-wrap">
            <div class="title">
              <h4>Go-Kart</h4>
            </div>
            <div class="link"><a target="_blank" download href="https://cdn.shopify.com/s/files/1/0071/0406/9747/files/KartUser_Manual.pdf?6331321463182923421">Download
                here</a></div>
          </div>

          <div class="manual-wrap">
            <div class="title">
              <h4>Helmet</h4>
            </div>
            <div class="link"><a target="_blank" download href="https://cdn.shopify.com/s/files/1/0071/0406/9747/files/Helmet_User_Manual.pdf?6331321463182923421">Download
                here</a></div>
          </div>

        </div>
      </div>
    </div>

   




  </div>