  <!-- /templates/page.liquid -->
<div class="grid page-balance">

  <div class="grid__item large--two-thirds push--large--one-sixth page-balance">

    <h1>{{ page.title }}</h1>


    <div class="manual-section-wrap">

      <div class="title-wrap">
        <h2>GXL</h2>
      </div>

      <div class="manual-grid">
        <div class="inner-wrap">

          <div class="manual-wrap">
            <div class="title">
              <h4>Assembly Instructions</h4>
            </div>
            <div class="link">
              <a target="_blank" download href="https://www.youtube.com/watch?v=ltaGZ8pALNA">Watch
                now</a>
                </div>
          </div>

          <div class="manual-wrap">
            <div class="title">
              <h4>Motor Swap</h4>
            </div>
            <div class="link">
              <a target="_blank" download href="https://cdn.shopify.com/s/files/1/0071/0406/9747/files/Guide_GXL_MotorSwapV2_10.28.pdf?2458">Download
                here</a>
                </div>
          </div>

          <div class="manual-wrap">
            <div class="title">
              <h4>Safety Pin Installation</h4>
            </div>
            <div class="link"><a target="_blank" download href="https://www.youtube.com/watch?v=OXRBOL09HSI">Watch now</a></div>
          </div>

            <div class="manual-wrap">
              <div class="title">
                <h4>Tire Changing Procedure</h4>
              </div>
              <div class="link">
                  <a target="_blank" href="https://www.youtube.com/watch?v=nfBQTT0NQbw&feature=youtu.be">Watch here</a>
                  <a target="_blank" href="https://cdn.shopify.com/s/files/1/0071/0406/9747/files/Guide_Rear-Tire-Change.pdf?1846">Download here</a>
              </div>
            </div>

            <div class="manual-wrap">
              <div class="title">
                <h4>Tire Filling Procedure</h4>
              </div>
              <div class="link">
                <a target="_blank" download href="https://cdn.shopify.com/s/files/1/0071/0406/9747/files/Guide_GXLTires_5.6.pdf?883">Download here</a>
              </div>
            </div>


            <div class="manual-wrap">
              <div class="title">
                <h4>Tightening Brakes</h4>
              </div>
              <div class="link">
                <a target="_blank" download href="https://cdn.shopify.com/s/files/1/0071/0406/9747/files/Guide_TightenBrakeGXL.pdf?1851">Download here</a>
              </div>
            </div>





        </div>
      </div>
    </div>

    <div class="manual-section-wrap">

      <div class="title-wrap">
        <h2>GXL Handbrake Edition</h2>
      </div>

      <div class="manual-grid">
        <div class="inner-wrap">

          <div class="manual-wrap">
            <div class="title">
                <h4>Changing the Rear Fender</h4>
            </div>
            <div class="link">
              <a target="_blank" download href="https://cdn.shopify.com/s/files/1/0071/0406/9747/files/Guide_Fender_7.11.pdf?1677">Download here</a>
            </div>
          </div>


          <div class="manual-wrap">
            <div class="title">
              <h4>Motor Swap</h4>
            </div>
            <div class="link">
              <a target="_blank" download href="https://cdn.shopify.com/s/files/1/0071/0406/9747/files/Guide_GXL_MotorSwapV2_10.28.pdf?2458">Download
                here</a>
                </div>
          </div>
          
          <div class="manual-wrap">
            <div class="title">
                <h4>Replacing the Battery</h4>
            </div>
            <div class="link">
              <a target="_blank" download href="https://cdn.shopify.com/s/files/1/0071/0406/9747/files/Guide_BatteryChange_bce5c9f4-ac5f-469a-89ce-e2f3ca00ca5d.pdf?1880">Download here</a>
            </div>
          </div>
          

          <div class="manual-wrap">
            <div class="title">
              <h4>Assembly Instructions</h4>
            </div>
            <div class="link"><a target="_blank" download href="https://www.youtube.com/watch?v=0SBT1LLUYhk">Watch now</a></div>
          </div>

          <div class="manual-wrap">
              <div class="title">
                <h4>Attaching The Handbrake</h4>
              </div>
              <div class="link">
                <a target="_blank" download href="https://cdn.shopify.com/s/files/1/0071/0406/9747/files/Guide_AttachingHandbrake.pdf?4373582413254198561">Download here</a>
              </div>
            </div>


          <div class="manual-wrap">
            <div class="title">
                <h4>Securing The Safety Pin</h4>
            </div>
            <div class="link">
              <a target="_blank" download href="https://cdn.shopify.com/s/files/1/0071/0406/9747/files/Guide_SecuringSafetyGoTrax.pdf?4373582413254198561">Download here</a>
            </div>
          </div>

          <div class="manual-wrap">
            <div class="title">
                <h4>Rear Brake Adjustment Instructions to Avoid Noises</h4>
            </div>
            <div class="link">
              <a target="_blank" download href="https://cdn.shopify.com/s/files/1/0071/0406/9747/files/Guide_Fender_7.11.pdf?1677">Download here</a>
            </div>
          </div>

          


        </div>
      </div>
    </div>


    <div class="manual-section-wrap">

      <div class="title-wrap">
        <h2>G2</h2>
      </div>

      <div class="manual-grid">
        <div class="inner-wrap">

          <div class="manual-wrap">
            <div class="title">
              <h4>Assembly Instructions</h4>
            </div>
            <div class="link"><a target="_blank" download href="https://www.youtube.com/watch?v=YNA2GagVGLc">Watch now</a></div>
          </div>

          


        </div>
      </div>
    </div>


    <div class="manual-section-wrap">

      <div class="title-wrap">
        <h2>GKS</h2>
      </div>

      <div class="manual-grid">
        <div class="inner-wrap">

          <div class="manual-wrap">
            <div class="title">
              <h4>Assembly Instructions</h4>
            </div>
            <div class="link"><a target="_blank" download href="https://cdn.shopify.com/s/files/1/0071/0406/9747/files/Guide_GKS-Installation_8.13.pdf?1877">Download here</a></div>
          </div>

          <div class="manual-wrap">
            <div class="title">
              <h4>Replacing the GKS Scooter Battery and Circuit Board</h4>
            </div>
            <div class="link"><a target="_blank" download href="https://cdn.shopify.com/s/files/1/0071/0406/9747/files/Guide_GKSBatteryCircuitboard.pdf?2751">Download here</a></div>
          </div>

          


        </div>
      </div>
    </div>


     <div class="manual-section-wrap">

      <div class="title-wrap">
        <h2>ION</h2>
      </div>

      <div class="manual-grid">
        <div class="inner-wrap">

          <div class="manual-wrap">
            <div class="title">
              <h4>Lights and Beeping Sounds Meaning</h4>
            </div>
            <div class="link"><a target="_blank" download href="https://cdn.shopify.com/s/files/1/0071/0406/9747/files/Guide_IonLights.pdf?1845">Download here</a></div>
          </div>

          


        </div>
      </div>
    </div>

     <div class="manual-section-wrap">

      <div class="title-wrap">
        <h2>ECO</h2>
      </div>

      <div class="manual-grid">
        <div class="inner-wrap">

          <div class="manual-wrap">
            <div class="title">
              <h4>Lights and Beeping Sounds Meaning</h4>
            </div>
            <div class="link">
              <a target="_blank" download href="https://cdn.shopify.com/s/files/1/0071/0406/9747/files/Guide_EcoLights_8.5.pdf?1795">Download here</a>
            </div>
          </div>

          


        </div>
      </div>
    </div>

     <div class="manual-section-wrap">

      <div class="title-wrap">
        <h2>SRX</h2>
      </div>

      <div class="manual-grid">
        <div class="inner-wrap">

          <div class="manual-wrap">
            <div class="title">
              <h4>Lights and Beeping Sounds Meaning</h4>
            </div>
            <div class="link"><a target="_blank" download href="https://cdn.shopify.com/s/files/1/0071/0406/9747/files/Guide_SRXLights.pdf?1849">Download here</a></div>
          </div>

          


        </div>
      </div>
    </div>

     <div class="manual-section-wrap">

      <div class="title-wrap">
        <h2>SRX PRO</h2>
      </div>

      <div class="manual-grid">
        <div class="inner-wrap">

          <div class="manual-wrap">
            <div class="title">
              <h4>Lights and Beeping Sounds Meaning</h4>
            </div>
            <div class="link"><a target="_blank" download href="https://cdn.shopify.com/s/files/1/0071/0406/9747/files/Guide_SRXProLights.pdf?1851">Download here</a></div>
          </div>

          


        </div>
      </div>
    </div>

     <div class="manual-section-wrap">

      <div class="title-wrap">
        <h2>SRX</h2>
      </div>

      <div class="manual-grid">
        <div class="inner-wrap">

          <div class="manual-wrap">
            <div class="title">
              <h4>Lights and Beeping Sounds Meaning</h4>
            </div>
            <div class="link"><a target="_blank" download href="https://cdn.shopify.com/s/files/1/0071/0406/9747/files/Guide_SRXLights.pdf?1849">Download here</a></div>
          </div>

          


        </div>
      </div>
    </div>



        <div class="manual-section-wrap">

          <div class="title-wrap">
            <h2>Accessories</h2>
          </div>

          <div class="manual-grid">
            <div class="inner-wrap">

            

              
              <div class="manual-wrap">
                <div class="title">
                    <h4>Honey Comb Tubeless Tire Installation </h4>
                </div>
                <div class="link">
                  <a target="_blank" download href="https://www.youtube.com/watch?v=xFGaf9n5G0Q">Watch now</a>
                </div>
              </div>
              <div class="manual-wrap">
                <div class="title">
                    <h4>Honey Comb Tubeless Tire Installation </h4>
                </div>
                <div class="link">
                  <a target="_blank" download href="https://cdn.shopify.com/s/files/1/0071/0406/9747/files/Guide_Installing_the_Inner_Tube.pdf?2057">Download here</a>
                </div>
              </div>
              
              <div class="manual-wrap">
                <div class="title">
                    <h4>Installing the Innertube </h4>
                </div>
                <div class="link">
                  <a target="_blank" download href="https://cdn.shopify.com/s/files/1/0071/0406/9747/files/Guide_HoneycombFrontTire.pdf?1990">Download here</a>
                </div>
              </div>
              
              <div class="manual-wrap">
                <div class="title">
                    <h4>Honey Comb Rear Tire Installation </h4>
                </div>
                <div class="link">
                  <a target="_blank" download href="https://cdn.shopify.com/s/files/1/0071/0406/9747/files/Guide_HoneycombRearTire.pdf?1990">Download here</a>
                </div>
              </div>


              <div class="manual-wrap">
                <div class="title">
                    <h4>Installing the Scooter Rack</h4>
                </div>
                <div class="link">
                  <a target="_blank" download href="https://cdn2.shopify.com/s/files/1/0071/0406/9747/files/Guide_Rack_7.16.pdf?1713">Download here</a>
                </div>
              </div> 

              <div class="manual-wrap">
                <div class="title">
                    <h4>Installing Headlights</h4>
                </div>
                <div class="link">
                  <a target="_blank" download href="https://cdn.shopify.com/s/files/1/0071/0406/9747/files/Guide_HeadLights_8.13.pdf?1875">Download here</a>
                </div>
              </div> 

              <div class="manual-wrap">
                <div class="title">
                    <h4>Installing Tail Lights</h4>
                </div>
                <div class="link">
                  <a target="_blank" download href="https://cdn.shopify.com/s/files/1/0071/0406/9747/files/Guide_TailLights_8.13.pdf?1875">Download here</a>
                </div>
              </div> 

              






            </div>
          </div>
        </div>


        <div class="manual-section-wrap">

          <div class="title-wrap">
            <h2>Misc</h2>
          </div>

          <div class="manual-grid">
            <div class="inner-wrap">

            <div class="manual-wrap">
              <div class="title">
                  <h4>How to Recalibrate your GOTRAX Hoverboard</h4>
              </div>
              <div class="link">
                <a target="_blank" download href="https://www.youtube.com/watch?v=l7DqqWAGxyg">Watch now</a>
              </div>
            </div> 

            <div class="manual-wrap">
              <div class="title">
                  <h4>Replacing the Rubber Charging Port Cover</h4>
              </div>
              <div class="link">
                <a target="_blank" download href="https://cdn.shopify.com/s/files/1/0071/0406/9747/files/Guide_RubberBattery.pdf?2751">Download here</a>
              </div>
            </div> 

            <div class="manual-wrap">
              <div class="title">
                  <h4>Hoverboard LED Lights Explained</h4>
              </div>
              <div class="link">
                <a target="_blank" download href="https://cdn.shopify.com/s/files/1/0071/0406/9747/files/Guide_Hoverboards_7.25.pdf?1771">Download here</a>
              </div>
            </div> 

              
              

              <div class="manual-wrap">
                <div class="title">
                    <h4>Changing Your Hoverboard Battery</h4>
                </div>
                <div class="link">
                  <a target="_blank" download href="https://cdn.shopify.com/s/files/1/0071/0406/9747/files/Guide_HoverboardBattery_6.24.pdf?1497">Download here</a>
                </div>
              </div>
              
              

            </div>
          </div>
        </div>

  </div>