<!-- /templates/page.liquid -->
<div class="grid register">

  <div class="grid__item">

    <div class="title-wrap">
      <h1>{{ page.title }}</h1>
      <p class="text-center">This form is for Influencers and Media websites outlets to contact GOTRAX.com about promotions opportunities and reviews. We try our best to respond to all requests within 72 hours. Thank you for your patience and we hope to work with you in the future. If you are looking to make affiliate sales please click <a href="https://gotrax.postaffiliatepro.com/affiliates/">here</a>.</p>
    </div>
    

    {% comment %}
      Regular page content goes here.
    {% endcomment %}
    <div class="rte">
      {{ page.content }}
    </div>

    <div class="small-form-wrap">
    <div style="margin:0 auto;" id="zbwid-6de70b05"></div>

    <img src="https://cdn.shopify.com/s/files/1/0071/0406/9747/files/GoTraxMediaBanner-01.jpg?2418" alt="Media Requests Banner">

    </div>

  </div>

</div>


<script>


  // Date Switcher

  function checkDate() {
    let ogDate = document.querySelector('#ContactFormPurchaseDate').value.split('-');
    ogDate[1] = "0" + parseFloat((ogDate[1]) - 1).toString();
    ogDate = new Date(...ogDate);
    console.log(ogDate);

    var warrantyPeriod = ogDate;
    warrantyPeriod.setDate(warrantyPeriod.getDate() + 30);
    console.log(warrantyPeriod);

    let today = new Date;

    if(today < warrantyPeriod) {
      console.log('warranty is good');
      document.querySelector('.refund-option').style.display = 'none';
    } else {
      console.log('warranty is expired');
      document.querySelector('.refund-option').style.display = 'none';
      document.querySelector('#ContactFormEx option').selected = true;

    }
  }

  document.querySelector('#ContactFormPurchaseDate').addEventListener('change', checkDate);



  // Color Switcher
  let allLabels = document.querySelectorAll('.form-radio-wrap .inner-wrap label');

  function labelToggle(e) {

      if(document.querySelector('.form-radio-wrap .inner-wrap label.active')) {
        let allActiveLabels = document.querySelectorAll('.form-radio-wrap .inner-wrap label.active');

        for(let i = 0; i < allActiveLabels.length; i++) {
          allActiveLabels[i].classList.remove('active');
        }
      }
     

      e.target.classList.add('active');
  }


  for(let i = 0; i < allLabels.length; i++) {
    allLabels[i].addEventListener('click', labelToggle)
  }

</script>