<!-- /templates/product.liquid -->
{% comment %}

  Rich snippets (itemscope, itemtype, etc.) for products are a theme requirement,
  and allow search engines to easily understand what the content is.

  For more information on these Scheme.org tags, visit:
    - http://schema.org/docs/gs.html

{% endcomment %}

{% layout 'product-x' %}
{% assign current_variant = product.selected_or_first_available_variant %}

<div class="basic-product-page-marker">  </div>

{% assign add = product.metafields.add %}



<div class="outer-product-wrap" itemscope itemtype="http://schema.org/Product">

  <meta itemprop="url" content="{{ shop.url }}{{ product.url }}">
  <meta itemprop="image" content="{{ product.featured_image.src | img_url: 'grande' }}">


    






  {% comment %} END X {% endcomment %}

  {% comment %}
    Get first variant, or deep linked one
  {% endcomment %}
<div id="slideshow-wrap">
  {% comment %}
    Get first variant, or deep linked one
  {% endcomment %}

  <div class="no-pad-breadcrumb">
    {% include 'breadcrumb' %}
  </div>

  <div class="grid product-single px">

    
    <div class="grid__item large--one-half text-center">
      {% comment %} <div class="product-single__photos" id="ProductPhoto">
        {% assign featured_image = current_variant.featured_image | default: product.featured_image %}
        <img src="{{ featured_image | img_url: 'large' }}" alt="{{ featured_image.alt | escape }}" id="ProductPhotoImg">
      </div> {% endcomment %}
  
  
      <div class="product-image-slider-wrap">
        <div class="product-image-slider">
          {% for image in product.images %}
              <div class="p-slide-wrap {{image.alt | downcase}}">
                <span class="product-single__thumbnail">
                    <img src="{{ image.src | img_url: 'master' }}" class="hide" alt="{{ image.alt | escape }}">
                  </span>
              </div>
            {% endfor %}
        </div>
        <div class="arrow-wrap hide">
          <div class="prev">
            <img src="{{ 'right-arrow-blue.png' | asset_url }}" alt="Previous Product Image" class="img-responsive">
          </div>
          <div class="next">
            <img src="{{ 'right-arrow-blue.png' | asset_url }}" alt="Next Product Image" class="img-responsive">
          </div>
        </div>
      </div>

      
      


      {% comment %}
        Create thumbnails if we have more than one product image
      {% endcomment %}
      {% comment %} {% if product.images.size > 1 %}
        <ul class="product-single__thumbnails grid-uniform" id="ProductThumbs">

          {% for image in product.images %}
            <li class="grid__item one-quarter">
              <a href="{{ image.src | img_url: 'large' }}" class="product-single__thumbnail">
                <img src="{{ image.src | img_url: 'compact' }}" alt="{{ image.alt | escape }}">
              </a>
            </li>
          {% endfor %}

        </ul>
      {% endif %} {% endcomment %}
    </div>

    <div class="grid__item large--one-half product-info">
      <div class="inner-wrap">
        <div class="title-wrap">
          <h1 class="product-title" itemprop="name">{{ product.title }} <span><span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span></span></h1>
        </div>
        <div class="product-description rte" itemprop="description">
          {{ product.description }}
        </div>

      <div class="small-cart-wrap" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
        <meta itemprop="priceCurrency" content="{{ shop.currency }}">

        <link itemprop="availability" href="http://schema.org/{% if product.available %}InStock{% else %}OutOfStock{% endif %}">
        
        {% comment %}
          ID addToCartForm is a selector for the ajax cart plugin
        {% endcomment %}
        <form action="/cart/add" method="post" enctype="multipart/form-data" id="AddToCartForm" class="form-vertical">

          {% comment %}
            Add product variants as a dropdown.
              - By default, each variant (or combination of variants) will display as its own <option>
              - To separate these into multiple steps, which we suggest, use option_selection.js (see below)

            You can leverage jQuery to add a callback on page load and each time the select element changes:
              - Include option_selection.js (as seen at the bottom of this file)
              - This allows you to use JavaScript anytime the variant dropdown changes
              - This also separates out your variant options (ie. size, color, etc.) to separate select elements

            For more information on products with multiple options, visit:
              - http://docs.shopify.com/support/your-website/themes/can-i-make-my-theme-use-products-with-multiple-options#update-product-liquid
          {% endcomment %}
          <select name="id" id="productSelect" class="product-single__variants">
            {% for variant in product.variants %}
              {% if variant.available %}

                {% comment %}
                  Note: if you use option_selection.js, your <select> tag will be overwritten, meaning what you have inside <option> will not reflect what you coded below.
                {% endcomment %}
                <option {% if variant == product.selected_or_first_available_variant %} selected="selected" {% endif %} data-sku="{{ variant.sku }}" value="{{ variant.id }}">{{ variant.title }} - {{ variant.price | money_with_currency }}</option>

              {% else %}
                <option disabled="disabled">
                  {{ variant.title }} - {{ 'products.product.sold_out' | t }}
                </option>
              {% endif %}
            {% endfor %}
          </select>

          <span class="visually-hidden">{{ 'products.general.regular_price' | t }}</span>
          <span id="ProductPrice" class="h2" itemprop="price" content="{{ current_variant.price | divided_by: 100.00 }}">
            {{ current_variant.price | money }}
          </span>

          {% if product.compare_at_price_max > product.price %}
            {% comment %} <span class="visually-hidden">{{ 'products.general.sale_price' | t }}</span>
            <span class="h2" id="ComparePrice">
              <span class="red-line"> {{ current_variant.compare_at_price | money }}</span>
            </span>
            <h1>{{ current_variant.compare_at_price | money }}</h1> {% endcomment %}
             <span class="red-line h2"> {{ current_variant.compare_at_price | money }}</span>
          {% endif %}

          <div class="map-pin"><a href="/pages/store-locator" target="_blank"><i class="fa fa-map-pin"></i> Find Nearest Store</a></div>

          <div class="product-description-footer">
            <input type="number" id="Quantity" name="quantity" value="1" min="1" class="quantity-selector">
            <button type="submit" name="add" id="AddToCart" class="btn" onClick="cartReveal();" >
              <span id="AddToCartText">{{ 'products.product.add_to_cart' | t }}</span>
            </button>
          </div>

          <div class="other-info-wrap">

            <div class="secure-wrap">
              <h4><i class="fa fa-lock"></i> Safe & secure checkout</h4>
            </div>
            <div class="icon-wrap">
              
            <div class="product-icon">
                <div class="image">
                  <i class="fa fa-calendar" aria-hidden="true"></i>
                </div>
                <div class="text">30 day return</div>
              </div>

            <div class="product-icon">
                <div class="image">
                  <i class="fa fa-check-circle" aria-hidden="true"></i>
                </div>
                <div class="text">90 day limited warranty</div>
              </div>

              <div class="product-icon">
                <div class="image">
                  <i class="fa fa-phone-square" aria-hidden="true"></i>
                </div>
                <div class="text">US-based support</div>
              </div>

              <div class="product-icon">
                <div class="image">
                  <i class="fa fa-shipping-fast" aria-hidden="true"></i>
                </div>
                <div class="text" style="padding: 0px 25px;">Free Shipping</div>
              </div>


              
            </div>
            </div>
          </div>
          
        </form>
          </div>
      </div>

      

      {% comment %}
        If the user is on a collection product page (ie with /collections/collection-handle/products/product-handle)
        in the URL, we can show next/previous links to other products in the collection.
      {% endcomment %}
      {% comment %} {% if collection %}
        {% if collection.previous_product or collection.next_product %}
          <p>
            {% if collection.previous_product %}
              <span class="left">
                {{ 'products.general.previous_product_html' | t | link_to: collection.previous_product }}
              </span>
            {% endif %}
            {% if collection.next_product %}
              <span class="right">
                {{ 'products.general.next_product_html' | t | link_to: collection.next_product }}
              </span>
            {% endif %}
          </p>
        {% endif %}
      {% endif %} {% endcomment %}

    </div>
  </div>



  {% comment %} <div class="owner-info-wrap">
    <div class="title-wrap">
      <h3>Owner Info</h3>
    </div>
    <div class="inner-wrap">

      <div class="info-wrap">
        <div class="image"></div>
        <div class="text"></div>
      </div>

      <div class="info-wrap">
        <div class="image"></div>
        <div class="text"></div>
      </div>

    </div>
  </div> {% endcomment %}

  {% if add.fw-image %}
    <section class="fw-banner product-banner" style="background-image: url('{{add.fw-image}}')"></section>
  {% endif %}

    {% if add.cr_1_desktop  %}
    
      <div class="new-cr">
        <div class="desktop-image contain" style="background-image: url('{{add.cr_1_desktop}}'); "></div>
        <div class="mobile-image contain" style="background-image: url('{{add.cr_1_mobile}}');"></div>
      </div>

    {% endif %}

    {% if add.cr_2_desktop  %}
      
      <div class="new-cr">
        <div class="desktop-image" style="background-image: url('{{add.cr_2_desktop}}'); "></div>
        <div class="mobile-image" style="background-image: url('{{add.cr_2_mobile}}');"></div>
      </div>

    {% endif %}

{% if add.featured_image %}
  <section class="feature-split-grid">
    <div class="half-banner" style="background-image: url('{{add.featured_image}}')">
    </div>
    <div class="text-wrap">
      <div class="inner-wrap">
        <div class="title-wrap">
          <h1>Technology &amp; Features <span>{{add.featured_blurb}}</span></h1>
        </div>
        <div class="text-body">
            
          {% if add.blurb_1_title  %}
            <div class="icon-blurb-wrap">
              <div class="tech-icon">
                {% if add.blurb_1_icon == 'tire' %}
                  <img class="tire-icon" src="https://cdn.shopify.com/s/files/1/0071/0406/9747/files/car-wheel_1.png?13566156503524715669" alt="Tire">
                {% elsif add.blurb_1_icon == 'ul' %}
                  <img class="tire-icon" src="https://cdn.shopify.com/s/files/1/0071/0406/9747/files/ul.png?15821839500346403726" alt="UL Certified">
                {% else %}
                  <i class="fa fa-{{add.blurb_1_icon}}"></i>
                {% endif %}
              </div>
              <div class="text">
                <h4>{{add.blurb_1_title}}</h4>
                <p>{{add.blurb_1_body}}</p>
              </div>
            </div>
          {% endif %}
          
          {% if add.blurb_2_title  %}
            <div class="icon-blurb-wrap">
              <div class="tech-icon">
                {% if add.blurb_2_icon == 'tire' %}
                  <img class="tire-icon" src="https://cdn.shopify.com/s/files/1/0071/0406/9747/files/car-wheel_1.png?13566156503524715669" alt="Tire">
                {% elsif add.blurb_2_icon == 'ul' %}
                  <img class="tire-icon" src="https://cdn.shopify.com/s/files/1/0071/0406/9747/files/ul.png?15821839500346403726" alt="UL Certified">
                {% else %}
                  <i class="fa fa-{{add.blurb_2_icon}}"></i>
                {% endif %}
              </div>
              <div class="text">
                <h4>{{add.blurb_2_title}}</h4>
                <p>{{add.blurb_2_body}}</p>
              </div>
            </div>
          {% endif %}


          {% if add.blurb_3_title  %}

            <div class="icon-blurb-wrap">
              <div class="tech-icon">
                {% if add.blurb_3_icon == 'tire' %}
                  <img class="tire-icon" src="https://cdn.shopify.com/s/files/1/0071/0406/9747/files/car-wheel_1.png?13566156503524715669" alt="Tire">
                {% elsif add.blurb_3_icon == 'ul' %}
                  <img class="tire-icon" src="https://cdn.shopify.com/s/files/1/0071/0406/9747/files/ul.png?15821839500346403726" alt="UL Certified">
                {% else %}
                  <i class="fa fa-{{add.blurb_3_icon}}"></i>
                {% endif %}
              </div>
              <div class="text">
                <h4>{{add.blurb_3_title}}</h4>
                <p>{{add.blurb_3_body}}</p>
              </div>
            </div>

          {% endif %}

          {% if add.blurb_4_title  %}

            <div class="icon-blurb-wrap">
              <div class="tech-icon">
                {% if add.blurb_4_icon == 'tire' %}
                  <img class="tire-icon" src="https://cdn.shopify.com/s/files/1/0071/0406/9747/files/car-wheel_1.png?13566156503524715669" alt="Tire">
                {% elsif add.blurb_4_icon == 'ul' %}
                  <img class="tire-icon" src="https://cdn.shopify.com/s/files/1/0071/0406/9747/files/ul.png?15821839500346403726" alt="UL Certified">
                {% else %}
                  <i class="fa fa-{{add.blurb_4_icon}}"></i>
                {% endif %}
                
              </div>
              <div class="text">
                <h4>{{add.blurb_4_title}}</h4>
                <p>{{add.blurb_4_body}}</p>
              </div>
            </div>
          {% endif %}
          
          </div>
        </div>
    </div>
  </section>
  {% endif %}

  <div class="video-wrap">
    {{add.iframe}}
  </div>


  {% if add.cr_1_blurb  %}
  
  <div  {% if add.cr_1_invert  %} class="content-row invert" {% else %} class="content-row" {% endif %}>
    <div class="inner-wrap">
        <div class="content-wrap">
          {{ add.cr_1_blurb }}

          {% comment %} <div class="btn-wrap">
            <a href="#" class="btn-black">Shop</a>
          </div> {% endcomment %}
        </div>
        <div class="image-wrap">
          <div class="side-image" style="background-image: url('{{ add.cr_1_image }}')"></div>
        </div>
    </div>
  </div>

  {% endif %}

  
  {% if add.cr_2_blurb  %}
  <div {% if add.cr_2_invert  %} class="content-row flipped invert" {% else %} class="content-row flipped" {% endif %} >
    <div class="inner-wrap">
        <div class="content-wrap">
          {{ add.cr_2_blurb }}
        </div>
        <div class="image-wrap">
          <div class="side-image" style="background-image: url('{{ add.cr_2_image }}')"></div>
        </div>
    </div>
  </div>

  {% endif  %}


  {% if add.cr_3_blurb  %}

  <div {% if add.cr_3_invert  %} class="content-row invert" {% else %} class="content-row" {% endif %}>
    <div class="inner-wrap">
        <div class="content-wrap">
          {{ add.cr_3_blurb }}
        </div>
        <div class="image-wrap">
          <div class="side-image" style="background-image: url('{{ add.cr_3_image }}')"></div>
        </div>
    </div>
  </div>

  {% endif   %}


{% if add.table == 'scooters'  %}
  <div class="table-wrap">
    <div class="title-wrap">
      <h3>Compare our vehicles</h3>
    </div>
    <div class="inner-wrap">
    <div class="table100 ver6 m-b-110">
      <table class="table-gtdata">
      <thead>
      <tr class="imgRow" style="max-height: 30px;">
      <th class="column100 column3"></th>
      <th class="column100 column3">
        <h3>GXL</h3>
      </th>
      <th class="column100 column3">
        <h3>G2</h3>
      </th>
      <th class="column100 column4">
        <h3>G1</h3>
      
      </th>
      <th class="column100 column5">
        <h3>G-Cadet</h3>
      
      </th>
      
      </tr>
      <tr class="imgRow" style="max-height: 30px;">
      <td class="column100">
        <img src="{{'helmet.png' | asset_url}}" alt="GOTRAX" />
      </td>
      <td>
        <img src="https://cdn.shopify.com/s/files/1/0071/0406/9747/files/gxl_e51e4596-b209-43c8-85f1-0c426ecffc44.png?11028218818797914768" alt="GXL" class="table-img">
      </td>
      <td>
        <img src="https://cdn.shopify.com/s/files/1/0071/0406/9747/files/g2_e25ba7c5-7855-4007-9133-9d248503a2f9.png?11028218818797914768" alt="G2" class="table-img">
      </td>
      <td>
        <img src="https://cdn.shopify.com/s/files/1/0071/0406/9747/files/pink.png?5589466683351302607" alt="G1" class="table-img">
      </td>
      <td>
        <img src="https://cdn.shopify.com/s/files/1/0071/0406/9747/files/g-cadet.png?110282188187979147688" alt="G-Cadet" class="table-img">
      </td>
      
      </tr>
      <tr style="background-color: #ffffff;">
      <td style="height: 0px; padding: 0px;" colspan="6"></td>
      </tr>
      </thead>
      <tbody>
      <tr class="row100">
      <td class="column100 column1"><i class="fa fa-car-battery"></i>&nbsp; Motor</td>
      <td class="column100 column2">250W</td>
      <td class="column100 column3">200W</td>
      <td class="column100 column4">250W</td>
      <td class="column100 column5">100W</td>
      
      </tr>

      <tr class="row100">
      <td class="column100 column1"><i class="fa fa-tachometer-alt"></i>&nbsp; Max Speed</td>
      <td class="column100 column2">15 MPH</td>
      <td class="column100 column3">17 MPH</td>
      <td class="column100 column4">16 MPH</td>
      <td class="column100 column5">11 MPH</td>
      
      </tr>

      <tr class="row100">
      <td class="column100 column1"><i class="fa fa-long-arrow-alt-right"></i>&nbsp; Distance</td>
      <td class="column100 column3">12.5 miles</td>
      <td class="column100 column4">15 miles</td>
      <td class="column100 column5">9 miles</td>
      <td class="column100 column5">7 miles</td>
      
      </tr>

      <tr class="row100">
      <td class="column100 column1"><img src="https://cdn.shopify.com/s/files/1/0071/0406/9747/files/car-wheel.png?5589466683351302607" alt="Tire" style="max-width: 14px;">&nbsp; Wheel Size</td>
      <td class="column100 column3">8.5"</td>
      <td class="column100 column4">8"</td>
      <td class="column100 column5">5.4"</td>
      <td class="column100 column5">8"</td>
      
      </tr>

      <tr class="row100">
      <td class="column100 column1"><img src="https://cdn.shopify.com/s/files/1/0071/0406/9747/files/car-wheel.png?5589466683351302607" alt="Tire" style="max-width: 14px;">&nbsp; Wheel Material</td>
      <td class="column100 column3">Air Filled Tires</td>
      <td class="column100 column4">Solid Rubber Tires</td>
      <td class="column100 column5">Solid Rubber Tires</td>
      <td class="column100 column5">Solid Rubber Tires</td>
      
      </tr>

      <tr class="row100">
      <td class="column100 column1"><i class="fa fa-weight"></i>&nbsp; Weight Limit</td>
      <td class="column100 column2">220 lb</td>
      <td class="column100 column3">220 lb</td>
      <td class="column100 column4">220 lb</td>
      <td class="column100 column5">121 lb</td>
      
      </tr>
    
      
      <tr class="row100">
      <td class="column100 column1"><i class="fa fa-charging-station"></i>&nbsp; Charging Time</td>
      <td class="column100 column2">4 hours</td>
      <td class="column100 column3">4 hours</td>
      <td class="column100 column4">3 hours</td>
      <td class="column100 column5">8 hours</td>

      <tr class="row100">
        <td class="column100 column1"><i class="fa fa-file-alt"></i>&nbsp; Pages</td>
        <td class="column100 column2"><a href="/collections/electric-scooters/products/gxl-electric-commuter-scooter">View</a></td>
        <td class="column100 column3"><a href="/collections/electric-scooters/products/g2-electric-kick-scooter">View</a></td>
        <td class="column100 column4"><a href="/collections/electric-scooters/products/g1-folding-electric-scooter">View</a></td>
        <td class="column100 column5"><a href="/collections/electric-scooters/products/glider-cadet-electric-scooter-for-kids">View</a></td>  
      </tr>
      
      </tr>
      </tbody>
      </table>
      </div>
    </div>
  </div>


  {% elsif add.table == "hoverboards"  %}

  {% comment %} Hoverboard {% endcomment %}

  <div class="table-wrap">
    <div class="title-wrap">
      <h3>Compare our vehicles</h3>
    </div>
    <div class="inner-wrap">
    <div class="table100 ver6 m-b-110">
      <table class="table-gtdata">
      <thead>
      <tr class="imgRow" style="max-height: 30px;">
      <th class="column100 column3"></th>
      <th class="column100 column3">
        <h3>Hoverfly XL</h3>
      </th>
      <th class="column100 column3">
        <h3>Hoverfly Eco</h3>
      </th>
      <th class="column100 column4">
        <h3>Hoverfly ION</h3>
      
      </th>
      
      
      </tr>
      <tr class="imgRow" style="max-height: 30px;">
      <td class="column100">
        <img src="//cdn.shopify.com/s/files/1/0071/0406/9747/t/4/assets/helmet.png?1794525561736191897" alt="GOTRAX">
      </td>
      <td>
        <img src="https://cdn.shopify.com/s/files/1/0071/0406/9747/files/newxl.png?731720207536313988" alt="Hoverfly XL" class="table-img">
      </td>
      <td>
        <img src="https://cdn.shopify.com/s/files/1/0071/0406/9747/files/neweco.png?731720207536313988" alt="Hoverfly ECO" class="table-img">
      </td>
      <td>
        <img src="https://cdn.shopify.com/s/files/1/0071/0406/9747/files/fly.png?3418397834561454394" alt="Hoverfly ION" class="table-img">
      </td>
      
      
      </tr>
      <tr style="background-color: #ffffff;">
      <td style="height: 0px; padding: 0px;" colspan="6"></td>
      </tr>
      </thead>
      <tbody>
      <tr class="row100">
      <td class="column100 column1"><i class="fa fa-car-battery"></i>&nbsp; Motor</td>
      <td class="column100 column2">350W</td>
      <td class="column100 column3">250W</td>
      <td class="column100 column4">200W</td>
      
      
      </tr>

      <tr class="row100">
      <td class="column100 column1"><i class="fa fa-tachometer-alt"></i>&nbsp; Max Speed</td>
      <td class="column100 column2">7.4 MPH</td>
      <td class="column100 column3">7.4 MPH</td>
      <td class="column100 column4">6.2 MPH</td>
      
      
      </tr>

      <tr class="row100">
      <td class="column100 column1"><i class="fa fa-long-arrow-alt-right"></i>&nbsp; Distance</td>
      <td class="column100 column3">~9- to 10 miles</td>
      <td class="column100 column4">~9- to 10 miles</td>
      <td class="column100 column5">~5- to 9 miles</td>
      
      
      </tr>

      <tr class="row100">
      <td class="column100 column1"><img src="https://cdn.shopify.com/s/files/1/0071/0406/9747/files/car-wheel.png?5589466683351302607" alt="Tire" style="max-width: 14px;">&nbsp; Wheel Size</td>
      <td class="column100 column3">8.5"</td>
      <td class="column100 column4">6.5"</td>
      <td class="column100 column5">6"</td>
      
      
      </tr>

      <tr class="row100">
      <td class="column100 column1"><img src="https://cdn.shopify.com/s/files/1/0071/0406/9747/files/car-wheel.png?5589466683351302607" alt="Tire" style="max-width: 14px;">&nbsp; Wheel Material</td>
      <td class="column100 column3">Hard Rubber Tires</td>
      <td class="column100 column4">Solid Rubber Tires</td>
      <td class="column100 column5">Solid Rubber Tires</td>
      
      
      </tr>

      <tr class="row100">
      <td class="column100 column1"><i class="fa fa-weight"></i>&nbsp; Weight Limit</td>
      <td class="column100 column2">220 lb</td>
      <td class="column100 column3">220 lb</td>
      <td class="column100 column4">176 lb</td>
      
      
      </tr>
    
      
      <tr class="row100">
      <td class="column100 column1"><i class="fa fa-charging-station"></i>&nbsp; Charging Time</td>
      <td class="column100 column2">2-3 hours</td>
      <td class="column100 column3">1.5 hours</td>
      <td class="column100 column4">3-4 hours</td>
      

      </tr><tr class="row100">
        <td class="column100 column1"><i class="fa fa-file-alt"></i>&nbsp; Pages</td>
        <td class="column100 column2"><a href="/collections/hoverboards/products/hoverfly-xl-off-road-hoverboard">View</a></td>
        <td class="column100 column3"><a href="/collections/hoverboards/products/hoverfly-eco-hoverboard-for-sale">View</a></td>
        <td class="column100 column4"><a href="/collections/hoverboards/products/ion-self-balancing-hoverboard">View</a></td>
          
      </tr>
      
      
      </tbody>
      </table>
      </div>
    </div>
  </div>

  {% endif  %}

 {% include 'small-product-preview' %}
  {% comment %} <div class="review-wrap">
    <div id="shopify-product-reviews" data-id="{{product.id}}">{{ product.metafields.spr.reviews }}</div>
  </div> {% endcomment %}


</div>
</div>

<div class="product-slide-header">
        <div class="inner-wrap">
            <div class="title-wrap">
                <h2>{{product.title}}</h2>
            </div>
            <div class="var-wrap">

               <form action="/cart/add" method="post" enctype="multipart/form-data" id="AddToCartForm" class="form-vertical">

                {% comment %}
                  Add product variants as a dropdown.
                    - By default, each variant (or combination of variants) will display as its own <option>
                    - To separate these into multiple steps, which we suggest, use option_selection.js (see below)

                  You can leverage jQuery to add a callback on page load and each time the select element changes:
                    - Include option_selection.js (as seen at the bottom of this file)
                    - This allows you to use JavaScript anytime the variant dropdown changes
                    - This also separates out your variant options (ie. size, color, etc.) to separate select elements

                  For more information on products with multiple options, visit:
                    - http://docs.shopify.com/support/your-website/themes/can-i-make-my-theme-use-products-with-multiple-options#update-product-liquid
                {% endcomment %}
                <select name="id" id="productSelect" class="product-single__variants">
                  {% for variant in product.variants %}
                    {% if variant.available %}

                      {% comment %}
                        Note: if you use option_selection.js, your <select> tag will be overwritten, meaning what you have inside <option> will not reflect what you coded below.
                      {% endcomment %}
                      <option {% if variant == product.selected_or_first_available_variant %} selected="selected" {% endif %} data-sku="{{ variant.sku }}" value="{{ variant.id }}">{{ variant.title }} - {{ variant.price | money_with_currency }}</option>

                    {% else %}
                      <option disabled="disabled">
                        {{ variant.title }} - {{ 'products.product.sold_out' | t }}
                      </option>
                    {% endif %}
                  {% endfor %}
                </select>

                <div class="price-wrap">
                
                
                
                <div class="inner-price-wrap">
                  <span class="visually-hidden">{{ 'products.general.regular_price' | t }}</span>
                  <span id="ProductPrice" class="h2" itemprop="price" content="{{ current_variant.price | divided_by: 100.00 }}">
                    {{ current_variant.price | money }}
                  </span>
                

                {% if product.compare_at_price_max > product.price %}
                  {% comment %} <span class="visually-hidden">{{ 'products.general.sale_price' | t }}</span>
                  <span class="h2" id="ComparePrice">
                    <span class="red-line"> {{ current_variant.compare_at_price | money }}</span>
                  </span>
                  <h1>{{ current_variant.compare_at_price | money }}</h1> {% endcomment %}
                  <span class="red-line h2"> {{ current_variant.compare_at_price | money }}</span>
                {% endif %}
                  </div>
                </div> 

                <div class="product-description-footer">
                  <input type="number" id="Quantity" name="quantity" value="1" min="1" class="quantity-selector">
                  <button type="submit" name="add" id="AddToCart" class="btn" onClick="cartReveal();" >
                    <span id="AddToCartText">{{ 'products.product.add_to_cart' | t }}</span>
                  </button>
                </div>

                  </div>
                </div>
                
              </form>


            </div>
        </div>
    </div>


{% comment %}
  To take advantage of a callback on the select dropdown, add option_selection.js
  and customize the JS in timber.productPage as needed.

  Currently, timber.productPage does the following:
    - Hides your <select> tag from above
    - Breaks out the product variants into separate product options, if more than one exists
    - Generates a <select> tag for each product option
    - Enables/disables elements based on variant availability

  Callback notes:
    - Keep the callback available to the global scope (window.selectCallback) so that advanced
      addons can override it.
      * E.g. multiple currencies http://docs.shopify.com/manual/configuration/store-customization/currencies-and-translations/currencies/how-to-toggle-between-two-currencies
{% endcomment %}
{{ 'option_selection.js' | shopify_asset_url | script_tag }}
<script>
  var selectCallback = function(variant, selector) {
    timber.productPage({
      money_format: "{{ shop.money_format }}",
      variant: variant,
      selector: selector
    });
  };

  jQuery(function($) {
    new Shopify.OptionSelectors('productSelect', {
      product: {{ product | json }},
      onVariantSelected: selectCallback,
      enableHistoryState: true
    });

    // Add label if only one product option and it isn't 'Title'. Could be 'Size'.
    {% if product.options.size == 1 and product.options.first != 'Title' %}
      $('.selector-wrapper:eq(0)').prepend('<label for="productSelect-option-0">{{ product.options.first | escape }}</label>');
    {% endif %}

    // Hide selectors if we only have 1 variant and its title contains 'Default'.
    {% if product.variants.size == 1 and product.variants.first.title contains 'Default' %}
      $('.selector-wrapper').hide();
    {% endif %}
  });


 


</script>
