<!-- /templates/product.liquid -->
{% comment %}

  Rich snippets (itemscope, itemtype, etc.) for products are a theme requirement,
  and allow search engines to easily understand what the content is.

  For more information on these Scheme.org tags, visit:
    - http://schema.org/docs/gs.html

{% endcomment %}

{% layout 'product-x' %}
{% assign current_variant = product.selected_or_first_available_variant %}

{% assign add = product.metafields.add %}
<style>

  .selector-wrapper {
    display: none;
  }

  

</style>


{% if add.darkBlue %}

<style>
  .blue label {
    background-color: #1b2a43!important;
  }
</style>

{% endif %}

<div class="outer-product-wrap" itemscope itemtype="http://schema.org/Product">

  <meta itemprop="url" content="{{ shop.url }}{{ product.url }}">
  <meta itemprop="image" content="{{ product.featured_image.src | img_url: 'grande' }}">


    






  {% comment %} END X {% endcomment %}

  {% comment %}
    Get first variant, or deep linked one
  {% endcomment %}
<div id="slideshow-wrap">
  {% comment %}
    Get first variant, or deep linked one
  {% endcomment %}

  <div class="no-pad-breadcrumb" id="productStart">
    {% include 'breadcrumb' %}
  </div>

  <div class="grid product-single px">

    
    <div class="grid__item large--one-half text-center">
      {% comment %} <div class="product-single__photos" id="ProductPhoto">
        {% assign featured_image = current_variant.featured_image | default: product.featured_image %}
        <img src="{{ featured_image | img_url: 'large' }}" alt="{{ featured_image.alt | escape }}" id="ProductPhotoImg">
      </div> {% endcomment %}
  
  
      <div class="product-image-slider-wrap">
        <div class="product-image-slider">
          {% for image in product.images %}
              <div class="p-slide-wrap {{image.alt | downcase}}">
                <span class="product-single__thumbnail">
                    <img src="{{ image.src | img_url: 'master' }}" class="hide" alt="{{ image.alt | escape }}">
                  </span>
              </div>
            {% endfor %}
        </div>
        <div class="arrow-wrap hide">
          <div class="prev">
            <img src="{{ 'right-arrow-blue.png' | asset_url }}" alt="Previous Product Image" class="img-responsive">
          </div>
          <div class="next">
            <img src="{{ 'right-arrow-blue.png' | asset_url }}" alt="Next Product Image" class="img-responsive">
          </div>
        </div>
      </div>

      
    </div>

    <div class="grid__item large--one-half product-info">
      <div class="inner-wrap">
        <div class="title-wrap">
          <h1 class="product-title" itemprop="name">{{ product.title }} <span><span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span></span></h1>
        </div>
        <div class="product-description rte" itemprop="description">
          {{ product.description }}
        </div>
      {% include 'swatch' with 'Color' %}
      <p class="selected-color"><span class="{{product.selected_or_first_available_variant.title | downcase}}">{{product.selected_or_first_available_variant.title}}</span> Selected</p>
      <div class="small-cart-wrap" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
        <meta itemprop="priceCurrency" content="{{ shop.currency }}">

        <link itemprop="availability" href="http://schema.org/{% if product.available %}InStock{% else %}OutOfStock{% endif %}">
        
        {% comment %}
          ID addToCartForm is a selector for the ajax cart plugin
        {% endcomment %}
        <form action="/cart/add" method="post" enctype="multipart/form-data" id="AddToCartForm" class="form-vertical">

          {% comment %}
            Add product variants as a dropdown.
              - By default, each variant (or combination of variants) will display as its own <option>
              - To separate these into multiple steps, which we suggest, use option_selection.js (see below)

            You can leverage jQuery to add a callback on page load and each time the select element changes:
              - Include option_selection.js (as seen at the bottom of this file)
              - This allows you to use JavaScript anytime the variant dropdown changes
              - This also separates out your variant options (ie. size, color, etc.) to separate select elements

            For more information on products with multiple options, visit:
              - http://docs.shopify.com/support/your-website/themes/can-i-make-my-theme-use-products-with-multiple-options#update-product-liquid
          {% endcomment %}
          <select name="id" id="productSelect" class="product-single__variants">
            {% for variant in product.variants %}
              {% if variant.available %}

                {% comment %}
                  Note: if you use option_selection.js, your <select> tag will be overwritten, meaning what you have inside <option> will not reflect what you coded below.
                {% endcomment %}
                <option {% if variant == product.selected_or_first_available_variant %} selected="selected" {% endif %} data-sku="{{ variant.sku }}" value="{{ variant.id }}">{{ variant.title }} - {{ variant.price | money_with_currency }}</option>

              {% else %}
                <option disabled="disabled">
                  {{ variant.title }} - {{ 'products.product.sold_out' | t }}
                </option>
              {% endif %}
            {% endfor %}
          </select>

          <span class="visually-hidden">{{ 'products.general.regular_price' | t }}</span>
          <span id="ProductPrice" class="h2" itemprop="price" content="{{ current_variant.price | divided_by: 100.00 }}">
            {{ current_variant.price | money }}
          </span>

          {% if product.compare_at_price_max > product.price %}
            {% comment %} <span class="visually-hidden">{{ 'products.general.sale_price' | t }}</span>
            <span class="h2" id="ComparePrice">
              <span class="red-line"> {{ current_variant.compare_at_price | money }}</span>
            </span>
            <h1>{{ current_variant.compare_at_price | money }}</h1> {% endcomment %}
             <span class="red-line h2"> {{ current_variant.compare_at_price | money }}</span>
          {% endif %}

          <div class="map-pin"><a href="/pages/store-locator" target="_blank"><i class="fa fa-map-pin"></i> Find Nearest Store</a></div>

          <div class="product-description-footer">
            <input type="number" id="Quantity" name="quantity" value="1" min="1" class="quantity-selector">
            <button type="submit" name="add" id="AddToCart" class="btn" onClick="cartReveal();" >
              <span id="AddToCartText">{{ 'products.product.add_to_cart' | t }}</span>
            </button>
          </div>

          <div class="other-info-wrap">

            <div class="secure-wrap">
              <h4><i class="fa fa-lock"></i> Safe & secure checkout</h4>
            </div>
            <div class="icon-wrap">
              
            <div class="product-icon">
                <div class="image">
                  <i class="fa fa-calendar" aria-hidden="true"></i>
                </div>
                <div class="text">30 day return</div>
              </div>

            <div class="product-icon">
                <div class="image">
                  <i class="fa fa-check-circle" aria-hidden="true"></i>
                </div>
                <div class="text">90 day limited warranty</div>
              </div>

              <div class="product-icon">
                <div class="image">
                  <i class="fa fa-phone-square" aria-hidden="true"></i>
                </div>
                <div class="text">US-based support</div>
              </div>

              <div class="product-icon">
                <div class="image">
                  <i class="fa fa-shipping-fast" aria-hidden="true"></i>
                </div>
                <div class="text" style="padding: 0px 25px;">Free Shipping</div>
              </div>


              
            </div>
            </div>
          </div>
          
        </form>
          </div>
      </div>

      

      {% comment %}
        If the user is on a collection product page (ie with /collections/collection-handle/products/product-handle)
        in the URL, we can show next/previous links to other products in the collection.
      {% endcomment %}
      {% comment %} {% if collection %}
        {% if collection.previous_product or collection.next_product %}
          <p>
            {% if collection.previous_product %}
              <span class="left">
                {{ 'products.general.previous_product_html' | t | link_to: collection.previous_product }}
              </span>
            {% endif %}
            {% if collection.next_product %}
              <span class="right">
                {{ 'products.general.next_product_html' | t | link_to: collection.next_product }}
              </span>
            {% endif %}
          </p>
        {% endif %}
      {% endif %} {% endcomment %}

    </div>
  </div>



  {% comment %} <div class="owner-info-wrap">
    <div class="title-wrap">
      <h3>Owner Info</h3>
    </div>
    <div class="inner-wrap">

      <div class="info-wrap">
        <div class="image"></div>
        <div class="text"></div>
      </div>

      <div class="info-wrap">
        <div class="image"></div>
        <div class="text"></div>
      </div>

    </div>
  </div> {% endcomment %}


  <div class="fs-video-wrap">
      <div id="player"></div>
    </div>
  


{% comment %} {% if add.blurb_1_title  %}
  <section class="feature-split-grid">
    <div class="half-banner contain" style="background-image: url('{{add.featured_image}}')">
    </div>
    <div class="text-wrap">
      <div class="inner-wrap">
        <div class="title-wrap">
          <h1>Technology &amp; Features <span>{{add.featured_blurb}}</span></h1>
        </div>
        <div class="text-body">
            
          {% if add.blurb_1_title  %}
            <div class="icon-blurb-wrap">
              <div class="tech-icon">
                {% if add.blurb_1_icon == 'tire' %}
                  <img class="tire-icon" src="https://cdn.shopify.com/s/files/1/0071/0406/9747/files/car-wheel_1.png?13566156503524715669" alt="Tire">
                {% elsif add.blurb_1_icon == 'ul' %}
                  <img class="tire-icon" src="https://cdn.shopify.com/s/files/1/0071/0406/9747/files/ul.png?15821839500346403726" alt="UL Certified">
                {% else %}
                  <i class="fa fa-{{add.blurb_1_icon}}"></i>
                {% endif %}
              </div>
              <div class="text">
                <h4>{{add.blurb_1_title}}</h4>
                <p>{{add.blurb_1_body}}</p>
              </div>
            </div>
          {% endif %}

          
          {% if add.blurb_2_title  %}
            <div class="icon-blurb-wrap">
              <div class="tech-icon">

                  <img class="tire-icon" src="https://cdn.shopify.com/s/files/1/0078/8362/0407/files/traffic-light-solid.svg?3339" alt="Dual Braking">
              </div>
              <div class="text">
                <h4>{{add.blurb_2_title}}</h4>
                <p>{{add.blurb_2_body}}</p>
              </div>
            </div>
          {% endif %}


          {% if add.blurb_3_title %}

            <div class="icon-blurb-wrap">
              <div class="tech-icon">
                {% if add.blurb_3_icon == 'tire' %}
                  <img class="tire-icon" src="https://cdn.shopify.com/s/files/1/0071/0406/9747/files/car-wheel_1.png?13566156503524715669" alt="Tire" />
                {% elsif add.blurb_3_icon == 'ul' %}
                  <img class="tire-icon" src="https://cdn.shopify.com/s/files/1/0071/0406/9747/files/ul.png?15821839500346403726" alt="UL Certified" />
                {% else %}
                  <i class="fa fa-{{add.blurb_3_icon}}"></i>
                {% endif %}
              </div>
              <div class="text">
                <h4>{{add.blurb_3_title}}</h4>
                <p>{{add.blurb_3_body}}</p>
              </div>
            </div>

          {% endif %}

          {% if add.blurb_4_title  %}

            <div class="icon-blurb-wrap">
              <div class="tech-icon">
                {% if add.blurb_4_icon == 'tire' %}
                  <img class="tire-icon" src="https://cdn.shopify.com/s/files/1/0071/0406/9747/files/car-wheel_1.png?13566156503524715669" alt="Tire">
                {% elsif add.blurb_4_icon == 'ul' %}
                  <img class="tire-icon" src="https://cdn.shopify.com/s/files/1/0071/0406/9747/files/ul.png?15821839500346403726" alt="UL Certified">
                {% else %}
                  <i class="fa fa-{{add.blurb_4_icon}}"></i>
                {% endif %}
                
              </div>
              <div class="text">
                <h4>{{add.blurb_4_title}}</h4>
                <p>{{add.blurb_4_body}}</p>
              </div>
            </div>
          {% endif %}


          {% if add.blurb_5_title  %}

            <div class="icon-blurb-wrap">
              <div class="tech-icon">
                {% if add.blurb_5_icon == 'tire' %}
                  <img class="tire-icon" src="https://cdn.shopify.com/s/files/1/0071/0406/9747/files/car-wheel_1.png?13566156503524715669" alt="Tire">
                {% elsif add.blurb_5_icon == 'ul' %}
                  <img class="tire-icon" src="https://cdn.shopify.com/s/files/1/0071/0406/9747/files/ul.png?15821839500346403726" alt="UL Certified">
                {% else %}
                  <i class="fa fa-{{add.blurb_5_icon}}"></i>
                {% endif %}
                
              </div>
              <div class="text">
                <h4>{{add.blurb_5_title}}</h4>
                <p>{{add.blurb_5_body}}</p>
              </div>
            </div>
          {% endif %}
          
          </div>
        </div>
    </div>
  </section>
  {% endif %} {% endcomment %}

  <div class="video-wrap">
    {{add.iframe}}
  </div>

  

{% if add.cr_1_desktop  %}
  
  <div class="new-cr">
    <div class="desktop-image" style="background-image: url('{{add.cr_1_desktop}}'); "></div>
    <div class="mobile-image" style="background-image: url('{{add.cr_1_mobile}}');"></div>
  </div>

{% endif %}

{% comment %} on purpose {% endcomment %}
{% if add.cr_3_desktop  %}
  
  <div class="new-cr">
    <div class="desktop-image" style="background-image: url('{{add.cr_3_desktop}}'); "></div>
    <div class="mobile-image" style="background-image: url('{{add.cr_3_mobile}}');"></div>
  </div>

{% endif %}

{% if add.cr_2_desktop  %}
  
  <div class="new-cr">
    <div class="desktop-image" style="background-image: url('{{add.cr_2_desktop}}'); "></div>
    <div class="mobile-image" style="background-image: url('{{add.cr_2_mobile}}');"></div>
  </div>

{% endif %}


{% if add.spec_banner  %}
  
  <div class="new-cr spec-banner">
    <div class="desktop-image" style="background-image: url('{{add.spec_banner}}'); "></div>
    <div class="mobile-image" style="background-image: url('{{add.spec_banner_mobile}}');"></div>
  </div>

{% endif %}


{% comment %} <div class="product-color-switcher show-hand">
  <div class="title-wrap">
    <h2>Choose your color</h2>
    <p>Choose between 6 unique colors! With so many styles to choose from there’s a perfect color for everyone.</p>
  </div>
  <div class="wrapper main-image-container">
      <img src="https://cdn.shopify.com/s/files/1/0078/8362/0407/files/SRX_A6_Hand_Blue.png?2809" alt="" class="active blue" style="display: block;">
      <img src="https://cdn.shopify.com/s/files/1/0078/8362/0407/files/SRX_A6_Hand_Teal.png?2809" alt="" class="teal">
      <img src="https://cdn.shopify.com/s/files/1/0078/8362/0407/files/SRX_A6_Hand_Black.png?2809" alt="" class="black">
      <img src="https://cdn.shopify.com/s/files/1/0078/8362/0407/files/SRX_A6_Hand_Gray.png?2809" alt="" class="grey">
      <img src="https://cdn.shopify.com/s/files/1/0078/8362/0407/files/SRX_A6_Hand_Pink.png?2809" alt="" class="pink">
      <img src="https://cdn.shopify.com/s/files/1/0078/8362/0407/files/SRX_A6_Hand_White.png?2809" alt="" class="white">
  </div> {% endcomment %}

  {% comment %} <div class="color-controls-wrap">
    <div class="wrapper fw">
      <div class="color-wrap">
        <div class="color" data-target-color="blue" style="background-color: #06c7f1;"></div>
      </div>
      <div class="color-wrap">
        <div class="color" data-target-color="teal" style="background-color: teal;"></div>
      </div>
      <div class="color-wrap">
        <div class="color" data-target-color="black" style="background-color: black;"></div>
      </div>
      <div class="color-wrap">
        <div class="color" data-target-color="grey" style="background-color: grey;"></div>
      </div>
      <div class="color-wrap">
        <div class="color" data-target-color="pink" style="background-color: pink;"></div>
      </div>
      <div class="color-wrap">
        <div class="color" data-target-color="white" style="background-color: white;"></div>
      </div>

    </div>
  </div>
</div> {% endcomment %}





{% if add.cr_8_desktop  %}

<div class="new-cr">
    <div class="desktop-image" style="background-image: url('{{add.cr_8_desktop}}'); "></div>
    <div class="mobile-image" style="background-image: url('{{add.cr_8_mobile}}');"></div>
  </div>
</div>

{% endif  %}




{% comment %} <h1>color changing banner</h1> {% endcomment %}

{% if add.cr_4_desktop  %}
  
  <div class="new-cr">
    <div class="desktop-image" style="background-image: url('{{add.cr_4_desktop}}'); "></div>
    <img src="{{add.cr_4_mobile}}" alt="" class="mobile-img">
    {% comment %} <div class="mobile-image lifestyle" style="background-image: url('{{add.cr_4_mobile}}');"></div> {% endcomment %}
  </div>

{% endif %}


{% comment %} <div class="bottom-text-wrap">
  <div class="wrapper">
    <h2>Choosing the Right Hoverboard</h2>
    <p>You are currently viewing our SRX A6 Hoverboard. This hoverboard is a unique twist on our previous model the SRX. It features an all new style of LED wheels, new color options, while still delivering the same great features as the SRX. The self-balancing mode makes it easy to ride, and the built in Bluetooth speaker lets you take your music wherever you go.</p>
  </div>
</div> {% endcomment %}


{% if add.cr_5_desktop  %}
<div class="new-cr">
    <div class="desktop-image" style="background-image: url('{{add.cr_5_desktop}}'); "></div>
    <div class="mobile-image" style="background-image: url('{{add.cr_5_mobile}}');"></div>
  </div>

{% endif %}







{% if add.quote-wrap %}
  {% include 'quote-wrap' %}
{% endif  %}


{% if add.cr_6_desktop  %}

<div class="new-cr">
    <div class="desktop-image" style="background-image: url('{{add.cr_6_desktop}}'); "></div>
    <div class="mobile-image" style="background-image: url('{{add.cr_6_mobile}}');"></div>
  </div>
</div>

{% endif  %}


{% if add.cr_7_desktop  %}

<div class="new-cr">
    <div class="desktop-image" style="background-image: url('{{add.cr_7_desktop}}'); "></div>
    <div class="mobile-image" style="background-image: url('{{add.cr_7_mobile}}');"></div>
  </div>
</div>

{% endif  %}




{% if add.cr_9_desktop  %}

<div class="new-cr">
    <div class="desktop-image" style="background-image: url('{{add.cr_9_desktop}}'); "></div>
    <div class="mobile-image" style="background-image: url('{{add.cr_9_mobile}}');"></div>
  </div>
</div>

{% endif  %}


{% if add.cr_10_desktop  %}

<div class="new-cr">
    <div class="desktop-image lifestyle" style="background-image: url('{{add.cr_10_desktop}}'); "></div>
    <div class="mobile-image lifestyle" style="background-image: url('{{add.cr_10_mobile}}');"></div>
  </div>
</div>

{% endif  %}


<div class="bottom-text-wrap">
  <div class="wrapper">
    <h2>Choosing the right E-Scooter</h2>
    <p>You are currently viewing our Xr Foldable Electric Scooter. This scooter is meant for means of transportation and is one of our most cost effective means of personal transportation. This e-scooter is an upgrade from our previous model the GXL V2 and is sure to e be one of the most popular electric scooters of 2020. While anyone can have fun on the Xr we made this electric scooter for adults and it can support a weight of up to 220lbs. Check out the chart below to compare our other electric scooters and their features.</p>
  </div>
</div>


  <div class="table-img-wrap">
    <div class="desktop">
      <img class="table-img" src="https://cdn.shopify.com/s/files/1/0071/0406/9747/files/Comp_XrUltra_Desktop.jpg?v=1578312339" alt="">
    </div>
    <div class="mobile">
      <img class="table-img" src="https://cdn.shopify.com/s/files/1/0071/0406/9747/files/Comp_XrUltra__Mobile.jpg?v=1578312339" alt="">
    </div>
  </div>




  
  <div class="icon-banner">
  
    <div class="desktop-image" style="background-image: url('https://cdn.shopify.com/s/files/1/0078/8362/0407/files/Icon-Desktop_266d659e-34c5-4c4e-9ec7-137a7b1a9ba1.jpg?3298'); "></div>
    <div class="mobile-image" style="background-image: url('https://cdn.shopify.com/s/files/1/0078/8362/0407/files/Icon-Mobile_4028e960-5af4-42f8-952e-f81c1c8b7109.jpg?3298');"></div>
  </div>




{% include 'small-product-preview' %}

  {% comment %} <section class="small-product-preview-wrap">
  <div class="title-wrap">
    <h2>Break out of the mold!</h2>
  </div>
  <div class="small-product-preview">
    <div class="inner-wrap slider">
    {% for product in collections.frontpage.products limit:8 %}

      {% include 'product-grid-item-small' %}

    {% endfor %}
  </div>
  </div>
</section> {% endcomment %}

  <div class="review-wrap">
    <div id="shopify-product-reviews" data-id="{{product.id}}">{{ product.metafields.spr.reviews }}</div>
  </div>


</div>
</div>

<div class="product-slide-header">
        <div class="inner-wrap">
            <div class="title-wrap">
                <h2>{{product.title}}</h2>
            </div>
            <div class="var-wrap">

               <form action="/cart/add" method="post" enctype="multipart/form-data" id="AddToCartForm" class="form-vertical">

                {% comment %}
                  Add product variants as a dropdown.
                    - By default, each variant (or combination of variants) will display as its own <option>
                    - To separate these into multiple steps, which we suggest, use option_selection.js (see below)

                  You can leverage jQuery to add a callback on page load and each time the select element changes:
                    - Include option_selection.js (as seen at the bottom of this file)
                    - This allows you to use JavaScript anytime the variant dropdown changes
                    - This also separates out your variant options (ie. size, color, etc.) to separate select elements

                  For more information on products with multiple options, visit:
                    - http://docs.shopify.com/support/your-website/themes/can-i-make-my-theme-use-products-with-multiple-options#update-product-liquid
                {% endcomment %}
                <select name="id" id="productSelect" class="product-single__variants">
                  {% for variant in product.variants %}
                    {% if variant.available %}

                      {% comment %}
                        Note: if you use option_selection.js, your <select> tag will be overwritten, meaning what you have inside <option> will not reflect what you coded below.
                      {% endcomment %}
                      <option {% if variant == product.selected_or_first_available_variant %} selected="selected" {% endif %} data-sku="{{ variant.sku }}" value="{{ variant.id }}">{{ variant.title }} - {{ variant.price | money_with_currency }}</option>

                    {% else %}
                      <option disabled="disabled">
                        {{ variant.title }} - {{ 'products.product.sold_out' | t }}
                      </option>
                    {% endif %}
                  {% endfor %}
                </select>

                <div class="price-wrap">
                <div class="slide-swatch-wrap">
                  {% include 'swatch' with 'Color' %}
                  <p class="selected-color"><span class="{{product.selected_or_first_available_variant.title | downcase}}">{{product.selected_or_first_available_variant.title}}</span> Selected</p>
                </div>
                
                
                <div class="inner-price-wrap">
                  <span class="visually-hidden">{{ 'products.general.regular_price' | t }}</span>
                  <span id="ProductPrice" class="h2" itemprop="price" content="{{ current_variant.price | divided_by: 100.00 }}">
                    {{ current_variant.price | money }}
                  </span>
                

                {% if product.compare_at_price_max > product.price %}
                  {% comment %} <span class="visually-hidden">{{ 'products.general.sale_price' | t }}</span>
                  <span class="h2" id="ComparePrice">
                    <span class="red-line"> {{ current_variant.compare_at_price | money }}</span>
                  </span>
                  <h1>{{ current_variant.compare_at_price | money }}</h1> {% endcomment %}
                  <span class="red-line h2"> {{ current_variant.compare_at_price | money }}</span>
                {% endif %}
                  </div>
                </div> 

                <div class="product-description-footer">
                  <input type="number" id="Quantity" name="quantity" value="1" min="1" class="quantity-selector">
                  {% if product.available %}
                  <a href="#productStart" id="AddToCart" class="btn addon" >
                    <span id="AddToCartText">{{ 'products.product.add_to_cart' | t }}</span>
                  </a>
                  {% else %}
                  <button type="submit" name="add" id="AddToCart" class="btn disabled" onclick="cartReveal();" disabled="">
                    <span id="AddToCartText">Sold Out</span>
                  </button>
                  {% endif %}
                </div>

                  </div>
                </div>
                
              </form>


            </div>
        </div>
    </div>

    {% if add.topVideo %}

      <div class="top-video">
        {{add.topVideo}}
      </div>

    {% endif %}


{% comment %}
  To take advantage of a callback on the select dropdown, add option_selection.js
  and customize the JS in timber.productPage as needed.

  Currently, timber.productPage does the following:
    - Hides your <select> tag from above
    - Breaks out the product variants into separate product options, if more than one exists
    - Generates a <select> tag for each product option
    - Enables/disables elements based on variant availability

  Callback notes:
    - Keep the callback available to the global scope (window.selectCallback) so that advanced
      addons can override it.
      * E.g. multiple currencies http://docs.shopify.com/manual/configuration/store-customization/currencies-and-translations/currencies/how-to-toggle-between-two-currencies
{% endcomment %}
{{ 'option_selection.js' | shopify_asset_url | script_tag }}
<script>


  var selectCallback = function(variant, selector) {

    
    timber.productPage({
      money_format: "{{ shop.money_format }}",
      variant: variant,
      selector: selector
    });
  };

  jQuery(function($) {
    new Shopify.OptionSelectors('productSelect', {
      product: {{ product | json }},
      onVariantSelected: selectCallback,
      enableHistoryState: true
    });

    // Add label if only one product option and it isn't 'Title'. Could be 'Size'.
    {% if product.options.size == 1 and product.options.first != 'Title' %}
      $('.selector-wrapper:eq(0)').prepend('<label for="productSelect-option-0">{{ product.options.first | escape }}</label>');
    {% endif %}

    // Hide selectors if we only have 1 variant and its title contains 'Default'.
    {% if product.variants.size == 1 and product.variants.first.title contains 'Default' %}
      $('.selector-wrapper').hide();
    {% endif %}
  });
</script>


{% if add.topVideo %}
<script>
      // 2. This code loads the IFrame Player API code asynchronously.
      var tag = document.createElement('script');

      tag.src = "https://www.youtube.com/iframe_api";
      var firstScriptTag = document.getElementsByTagName('script')[0];
      firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

      // 3. This function creates an <iframe> (and YouTube player)
      //    after the API code downloads.
      var player;
      function onYouTubeIframeAPIReady() {
        player = new YT.Player('player', {
          height: '390',
          width: '640',
          videoId: '{{add.topVideo}}',
           playerVars: { 
              'autoplay': 0,
              'controls': 1, 
              'rel' : 0,
              'fs' : 0,
          },
          events: {
            'onReady': onPlayerReady,
            'onStateChange': onPlayerStateChange
          }
        });
      }

      // 4. The API will call this function when the video player is ready.
      function onPlayerReady(event) {
       // event.target.playVideo();
      }

      // 5. The API calls this function when the player's state changes.
      //    The function indicates that when playing a video (state=1),
      //    the player should play for six seconds and then stop.
      var done = false;
      function onPlayerStateChange(event) {
        console.log('video state change');
      }
      function stopVideo() {
        player.stopVideo();
      }
    </script>

{% endif %}