<!-- /templates/product.liquid -->
{% comment %}

  Rich snippets (itemscope, itemtype, etc.) for products are a theme requirement,
  and allow search engines to easily understand what the content is.

  For more information on these Scheme.org tags, visit:
    - http://schema.org/docs/gs.html

{% endcomment %}

{% layout 'product-x' %}
{% assign current_variant = product.selected_or_first_available_variant %}

{% assign add = product.metafields.add %}

<style>

  .selector-wrapper {
    display: none;
  }

</style>


{% if add.darkBlue %}

<style>
  .blue label {
    background-color: #1b2a43!important;
  }
</style>

{% endif %}

<div class="outer-product-wrap" itemscope itemtype="http://schema.org/Product">

  <meta itemprop="url" content="{{ shop.url }}{{ product.url }}">
  <meta itemprop="image" content="{{ product.featured_image.src | img_url: 'grande' }}">


    <svg class="hidden">
          <symbol id="icon-arrow" viewBox="0 0 24 24">
            <title>arrow</title>
            <polygon points="6.3,12.8 20.9,12.8 20.9,11.2 6.3,11.2 10.2,7.2 9,6 3.1,12 9,18 10.2,16.8 " />
          </symbol>
          <symbol id="icon-drop" viewBox="0 0 24 24">
            <title>drop</title>
            <path d="M12,21c-3.6,0-6.6-3-6.6-6.6C5.4,11,10.8,4,11.4,3.2C11.6,3.1,11.8,3,12,3s0.4,0.1,0.6,0.3c0.6,0.8,6.1,7.8,6.1,11.2C18.6,18.1,15.6,21,12,21zM12,4.8c-1.8,2.4-5.2,7.4-5.2,9.6c0,2.9,2.3,5.2,5.2,5.2s5.2-2.3,5.2-5.2C17.2,12.2,13.8,7.3,12,4.8z" />
            <path d="M12,18.2c-0.4,0-0.7-0.3-0.7-0.7s0.3-0.7,0.7-0.7c1.3,0,2.4-1.1,2.4-2.4c0-0.4,0.3-0.7,0.7-0.7c0.4,0,0.7,0.3,0.7,0.7C15.8,16.5,14.1,18.2,12,18.2z" />
          </symbol>
          <symbol id="icon-instagram" viewBox="0 0 24 24">
            <title>instagram</title>
            <path d="M17 1h-10c-3.3 0-6 2.7-6 6v10c0 3.3 2.7 6 6 6h10c3.3 0 6-2.7 6-6v-10c0-3.3-2.7-6-6-6zM21 17c0 2.2-1.8 4-4 4h-10c-2.2 0-4-1.8-4-4v-10c0-2.2 1.8-4 4-4h10c2.2 0 4 1.8 4 4v10z"></path>
            <path d="M12.8 7c-0.5-0.1-1-0.1-1.5 0-2.7 0.4-4.6 3-4.2 5.7 0.2 1.3 0.9 2.5 2 3.3 0.9 0.6 1.9 1 3 1 0.2 0 0.5 0 0.7-0.1 1.3-0.2 2.5-0.9 3.3-2s1.1-2.4 0.9-3.7c-0.3-2.2-2-3.9-4.2-4.2zM14.5 13.7c-0.5 0.6-1.2 1.1-2 1.2-1.6 0.2-3.2-0.9-3.4-2.5-0.3-1.6 0.9-3.2 2.5-3.4 0.1 0 0.3 0 0.4 0s0.3 0 0.4 0c1.3 0.2 2.3 1.2 2.5 2.5 0.2 0.8 0 1.6-0.4 2.2z"></path>
            <path d="M16.8 5.8c-0.2 0.2-0.3 0.4-0.3 0.7s0.1 0.5 0.3 0.7c0.2 0.2 0.5 0.3 0.7 0.3 0.3 0 0.5-0.1 0.7-0.3s0.3-0.5 0.3-0.7c0-0.3-0.1-0.5-0.3-0.7-0.4-0.4-1-0.4-1.4 0z"></path>
          </symbol>
          <symbol id="icon-twitter" viewBox="0 0 24 24">
            <title>twitter</title>
            <path d="M23.6 2.2c-0.3-0.2-0.8-0.2-1.1 0-0.7 0.5-1.5 0.9-2.3 1.2-2-1.8-5.1-1.9-7.2-0.1-1.3 1.1-2 2.6-2 4.2-2.9-0.2-5.5-1.7-7.2-4.1-0.2-0.3-0.5-0.4-0.9-0.4s-0.7 0.3-0.8 0.6c-0.1 0.1-1.1 2.5-1 5.4 0.1 2.5 1.1 5.7 4.8 8-1.5 0.7-3.2 1-4.9 1-0.4 0-0.9 0.3-1 0.7s0.1 0.9 0.5 1.1c2.5 1.4 5.2 2.1 7.7 2.1s4.9-0.6 7.1-1.9c4.3-2.4 6.7-7 6.7-12.5 0-0.2 0-0.3 0-0.5 1-1.1 1.7-2.4 2-3.8 0.1-0.4-0.1-0.8-0.4-1zM20.2 6c-0.2 0.2-0.3 0.6-0.3 0.9 0.1 0.2 0.1 0.4 0.1 0.6 0 4.8-2.1 8.7-5.7 10.8-2.8 1.6-6.1 2-9.4 1.2 1.3-0.4 2.5-0.9 3.6-1.7 0.4-0.2 0.5-0.5 0.5-0.9s-0.3-0.7-0.6-0.8c-5.8-2.6-5.6-7.5-5-10 2.2 2.2 5.3 3.5 8.6 3.4 0.5 0 1-0.5 1-1v-1c0-1 0.4-2 1.2-2.7 1.4-1.3 3.7-1.1 4.9 0.3 0.3 0.3 0.7 0.4 1 0.3 0.2-0.1 0.5-0.1 0.7-0.2-0.2 0.3-0.4 0.5-0.6 0.8z"/>
          </symbol>
          <symbol id="icon-facebook" viewBox="0 0 24 24">
            <title>facebook</title>
            <path d="M18 7c0.6 0 1-0.4 1-1v-4c0-0.6-0.4-1-1-1h-3c-3.3 0-6 2.7-6 6v2h-2c-0.6 0-1 0.4-1 1v4c0 0.6 0.4 1 1 1h2v7c0 0.6 0.4 1 1 1h4c0.6 0 1-0.4 1-1v-7h2c0.5 0 0.9-0.3 1-0.8l1-4c0.1-0.3 0-0.6-0.2-0.9s-0.5-0.3-0.8-0.3h-3v-2h3zM14 11h2.7l-0.5 2h-2.2c-0.6 0-1 0.4-1 1v7h-2v-7c0-0.6-0.4-1-1-1h-2v-2h2c0.6 0 1-0.4 1-1v-3c0-2.2 1.8-4 4-4h2v2h-2c-1.1 0-2 0.9-2 2v3c0 0.6 0.4 1 1 1z"/>
          </symbol>
          <symbol id="icon-cart">
            <title>cart</title>
            <path d="M11 21c0 1.105-0.895 2-2 2s-2-0.895-2-2c0-1.105 0.895-2 2-2s2 0.895 2 2z"></path>
            <path d="M22 21c0 1.105-0.895 2-2 2s-2-0.895-2-2c0-1.105 0.895-2 2-2s2 0.895 2 2z"></path>
            <path d="M23.8 5.4c-0.2-0.3-0.5-0.4-0.8-0.4h-16.2l-0.8-4.2c-0.1-0.5-0.5-0.8-1-0.8h-4c-0.6 0-1 0.4-1 1s0.4 1 1 1h3.2l0.8 4.2c0 0 0 0.1 0 0.1l1.7 8.3c0.3 1.4 1.5 2.4 2.9 2.4 0 0 0 0 0.1 0h9.7c1.5 0 2.7-1 3-2.4l1.6-8.4c0-0.3 0-0.6-0.2-0.8zM20.4 14.2c-0.1 0.5-0.5 0.8-1 0.8h-9.7c-0.5 0-0.9-0.3-1-0.8l-1.5-7.2h14.6l-1.4 7.2z"></path>
          </symbol>
          <symbol id="icon-caret" viewBox="0 0 16 24">
            <title>caret</title>
            <path d="M15.45 2.8L12.65 0l-12 12 12 12 2.8-2.8-9.2-9.2z"/>
          </symbol>
        </svg>
        <div class="desktop-product-slider">
          <div class="message">To see the box navigation please view on desktop</div>
          <div class="content content--fixed">
			    	<p class="tagline">Fine clothing since 1987</p>
				    <h4 class="category"></h4>
			    </div>
          <div class="slideshow">

          

          {% if add.slide_1_image != '' %}
            <div class="slide">
              <div class="slide__wrap">
                <div class="slide__img" style="background-image: url({{add.slide_1_image}});"></div>
                {% if add.overlay %}
                <div class="overlay"></div>
                {% endif %}
                <div class="slide__title-wrap">
                  <h3 class="slide__title">{{add.slide_1_title}}</h3>
                  {% comment %} <h4 class="slide__subtitle">Pivot gnarly ho-ho drop in mute-air shoveit airwalk</h4> {% endcomment %}
                </div>
              </div>
            </div>
          
          {% endif %}

            
        {% if add.slide_2_image  %}
            <div class="slide">
              <div class="slide__wrap">
                <div class="slide__img" style="background-image: url({{add.slide_2_image}});"></div>
                <div class="slide__title-wrap">
                  <h3 class="slide__title">Powerful. Stylish. Bold.</h3>
                </div>
              </div>
            </div>
        {% endif %}

          {% if add.slide_3_image  %}
            <div class="slide">
              <div class="slide__wrap">
                <div class="slide__img" style="background-image: url(img/3.jpg);"></div>
                <div class="slide__title-wrap">
                  <h3 class="slide__title">Flow Scarfs</h3>
                  <h4 class="slide__subtitle">Layback goofy footed transfer birdie Julien Stranger</h4>
                </div>
              </div>
            </div>

          {% endif %}

          {% if add.slide_4_image %}
            <div class="slide">
              <div class="slide__wrap">
                <div class="slide__img" style="background-image: url(img/4.jpg);"></div>
                <div class="slide__title-wrap">
                  <h3 class="slide__title">Back Secrets</h3>
                  <h4 class="slide__subtitle">Nollie risers salad grind frigid air the faction</h4>
                </div>
              </div>
            </div> 
            {% endif %}

          </div><!-- /slideshow -->

          
          <nav class="boxnav" {% if add.slide_2_image == 'blank' %} style="display: none;" {% endif %}>
            <button class="boxnav__item boxnav__item--prev">
              <svg class="icon icon--caret">
                <use xlink:href="#icon-caret"></use>
              </svg>
            </button>
            <div class="boxnav__item boxnav__item--label">
              <span class="boxnav__label boxnav__label--current">1</span>
              <span class="boxnav__label boxnav__label--total"></span>
            </div>
            <button class="boxnav__item boxnav__item--next">
              <svg class="icon icon--caret-rot">
                <use xlink:href="#icon-caret"></use>
              </svg>
            </button>
          </nav>
          
          <button class="action action--details">+ details</button>
          <!-- details -->
          <div class="details-wrap">

          {% if add.slide_1_image %}
            <div class="details">
              <div class="details__item details__item-img" data-direction="ttb">
                <div class="details__inner">
                  <img src="{{add.slide_1_preview_image}}" alt="{{product.title}}"/>
                </div>
              </div>

              <div class="details__item details__item-colors" data-direction="ttb">
                <div class="details__inner details__inner--grid details__inner--colors">
                  {% include 'swatch' with 'Color', section_name: 'top-swatch' %}
                </div>
              </div>
             
               <div class="details__item details__item--addtocart" data-direction="ttb">
                <div class="details__inner">
                  <button class="action action--addtocart">
                    Add to Cart
                  </button>
                </div>
              </div>
              
              <div class="details__item details__item-price">
                <div class="details__inner details__inner--price">{{ current_variant.price | money }}</div>
              </div>
              <div class="details__item details__item--close" data-direction="ttb">
                <div class="details__inner">
                  <button class="action action--close">Close</button>
                </div>
              </div>
            </div><!-- /details -->

            {% endif %}
            
            {% if add.slide_2_image %}
            <div class="details">
              <div class="details__item details__item-img" data-direction="ttb">
                <div class="details__inner">
                  <img src="add.slide_2_preview_image" alt="Some image"/>
                </div>
              </div>

              <div class="details__item details__item-colors" data-direction="ttb">
                <div class="details__inner details__inner--grid details__inner--colors">
                  {% include 'swatch' with 'Color', section_name: 'top-swatch' %}
                </div>
              </div>
             
               <div class="details__item details__item--addtocart" data-direction="ttb">
                <div class="details__inner">
                   <button class="action action--addtocart">
                      Add to Cart
                  </button>
                </div>
              </div> 
              
              <div class="details__item details__item-price">
                <div class="details__inner details__inner--price">{{ current_variant.price | money }}</div>
              </div>
              <div class="details__item details__item--close" data-direction="ttb">
                <div class="details__inner">
                  <button class="action action--close">Close</button>
                </div>
              </div>
            </div><!-- /details -->

            {% endif %}

            {% if add.slide_3_image %}
            <div class="details">
              <div class="details__item details__item-img" data-direction="ttb">
                <div class="details__inner">
                  <img src="{{add.slide_3_preview_image}}" alt="Some image"/>
                </div>
              </div>

              <div class="details__item details__item-colors" data-direction="ttb">
                <div class="details__inner details__inner--grid details__inner--colors">
                  {% include 'swatch' with 'Color', section_name: 'top-swatch' %}
                </div>
              </div>
             
              {% comment %} <div class="details__item details__item--addtocart" data-direction="ttb">
                <div class="details__inner">
                  <button class="action action--addtocart">
                    <svg class="icon icon--cart"><use xlink:href="#icon-cart"></use></svg>
                  </button>
                </div>
              </div> {% endcomment %}
              
              <div class="details__item details__item-price">
                <div class="details__inner details__inner--price">{{ current_variant.price | money }}</div>
              </div>
              <div class="details__item details__item--close" data-direction="ttb">
                <div class="details__inner">
                  <button class="action action--close">Close</button>
                </div>
              </div>
            </div><!-- /details -->

            {% endif %}


            {% if add.slide_4_image %}

            <div class="details">
              <div class="details__item details__item-img" data-direction="ttb">
                <div class="details__inner">
                  <img src="{{add.slide_4_preview_image}}" alt="Some image"/>
                </div>
              </div>

              <div class="details__item details__item-colors" data-direction="ttb">
                <div class="details__inner details__inner--grid details__inner--colors">
                  {% include 'swatch' with 'Color', section_name: 'top-swatch' %}
                </div>
              </div>
             
              {% comment %} <div class="details__item details__item--addtocart" data-direction="ttb">
                <div class="details__inner">
                  <button class="action action--addtocart">
                    <svg class="icon icon--cart"><use xlink:href="#icon-cart"></use></svg>
                  </button>
                </div>
              </div> {% endcomment %}
              
              <div class="details__item details__item-price">
                <div class="details__inner details__inner--price">{{ current_variant.price | money }}</div>
              </div>
              <div class="details__item details__item--close" data-direction="ttb">
                <div class="details__inner">
                  <button class="action action--close">Close</button>
                </div>
              </div>
            </div><!-- /details -->
            
            {% endif %}
          </div>
        </div>







  {% comment %} END X {% endcomment %}

  {% comment %}
    Get first variant, or deep linked one
  {% endcomment %}
<div id="slideshow-wrap">
  {% comment %}
    Get first variant, or deep linked one
  {% endcomment %}

  <div class="no-pad-breadcrumb" id="productStart">
    {% include 'breadcrumb' %}
  </div>

  <div class="grid product-single px">

    
    <div class="grid__item large--one-half text-center">
      {% comment %} <div class="product-single__photos" id="ProductPhoto">
        {% assign featured_image = current_variant.featured_image | default: product.featured_image %}
        <img src="{{ featured_image | img_url: 'large' }}" alt="{{ featured_image.alt | escape }}" id="ProductPhotoImg">
      </div> {% endcomment %}
  
  
      <div class="product-image-slider-wrap">
        <div class="product-image-slider">
          {% for image in product.images %}
              <div class="p-slide-wrap {{image.alt | downcase}}">
                <span class="product-single__thumbnail">
                    <img src="{{ image.src | img_url: 'master' }}" class="hide" alt="{{ image.alt | escape }}">
                  </span>
              </div>
            {% endfor %}
        </div>
        <div class="arrow-wrap hide">
          <div class="prev">
            <img src="{{ 'right-arrow-blue.png' | asset_url }}" alt="Previous Product Image" class="img-responsive">
          </div>
          <div class="next">
            <img src="{{ 'right-arrow-blue.png' | asset_url }}" alt="Next Product Image" class="img-responsive">
          </div>
        </div>
      </div>

      
      


      {% comment %}
        Create thumbnails if we have more than one product image
      {% endcomment %}
      {% comment %} {% if product.images.size > 1 %}
        <ul class="product-single__thumbnails grid-uniform" id="ProductThumbs">

          {% for image in product.images %}
            <li class="grid__item one-quarter">
              <a href="{{ image.src | img_url: 'large' }}" class="product-single__thumbnail">
                <img src="{{ image.src | img_url: 'compact' }}" alt="{{ image.alt | escape }}">
              </a>
            </li>
          {% endfor %}

        </ul>
      {% endif %} {% endcomment %}
    </div>

    <div class="grid__item large--one-half product-info">
      <div class="inner-wrap">
        <div class="title-wrap">
          <h1 class="product-title" itemprop="name">{{ product.title }} <span><span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span></span></h1>
        </div>
        <div class="product-description rte" itemprop="description">
          {{ product.description }}
        </div>
      {% include 'swatch' with 'Color' %}
      <p class="selected-color"><span class="{{product.selected_or_first_available_variant.title | downcase}}">{{product.selected_or_first_available_variant.title}}</span> Selected</p>
      <div class="small-cart-wrap" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
        <meta itemprop="priceCurrency" content="{{ shop.currency }}">

        <link itemprop="availability" href="http://schema.org/{% if product.available %}InStock{% else %}OutOfStock{% endif %}">
        
        {% comment %}
          ID addToCartForm is a selector for the ajax cart plugin
        {% endcomment %}
        <form action="/cart/add" method="post" enctype="multipart/form-data" id="AddToCartForm" class="form-vertical">

          {% comment %}
            Add product variants as a dropdown.
              - By default, each variant (or combination of variants) will display as its own <option>
              - To separate these into multiple steps, which we suggest, use option_selection.js (see below)

            You can leverage jQuery to add a callback on page load and each time the select element changes:
              - Include option_selection.js (as seen at the bottom of this file)
              - This allows you to use JavaScript anytime the variant dropdown changes
              - This also separates out your variant options (ie. size, color, etc.) to separate select elements

            For more information on products with multiple options, visit:
              - http://docs.shopify.com/support/your-website/themes/can-i-make-my-theme-use-products-with-multiple-options#update-product-liquid
          {% endcomment %}
          <select name="id" id="productSelect" class="product-single__variants">
            {% for variant in product.variants %}
              {% if variant.available %}

                {% comment %}
                  Note: if you use option_selection.js, your <select> tag will be overwritten, meaning what you have inside <option> will not reflect what you coded below.
                {% endcomment %}
                <option {% if variant == product.selected_or_first_available_variant %} selected="selected" {% endif %} data-sku="{{ variant.sku }}" value="{{ variant.id }}">{{ variant.title }} - {{ variant.price | money_with_currency }}</option>

              {% else %}
                <option disabled="disabled">
                  {{ variant.title }} - {{ 'products.product.sold_out' | t }}
                </option>
              {% endif %}
            {% endfor %}
          </select>

          <span class="visually-hidden">{{ 'products.general.regular_price' | t }}</span>
          <span id="ProductPrice" class="h2" itemprop="price" content="{{ current_variant.price | divided_by: 100.00 }}">
            {{ current_variant.price | money }}
          </span>

          {% if product.compare_at_price_max > product.price %}
            {% comment %} <span class="visually-hidden">{{ 'products.general.sale_price' | t }}</span>
            <span class="h2" id="ComparePrice">
              <span class="red-line"> {{ current_variant.compare_at_price | money }}</span>
            </span>
            <h1>{{ current_variant.compare_at_price | money }}</h1> {% endcomment %}
             <span class="red-line h2"> {{ current_variant.compare_at_price | money }}</span>
          {% endif %}

          <div class="map-pin"><a href="/pages/store-locator" target="_blank"><i class="fa fa-map-pin"></i> Find Nearest Store</a></div>

          <div class="product-description-footer">
            <input type="number" id="Quantity" name="quantity" value="1" min="1" class="quantity-selector">
            <button type="submit" name="add" id="AddToCart" class="btn" onClick="cartReveal();" >
              <span id="AddToCartText">{{ 'products.product.add_to_cart' | t }}</span>
            </button>
          </div>

          <div class="other-info-wrap">

            <div class="secure-wrap">
              <h4><i class="fa fa-lock"></i> Safe & secure checkout</h4>
            </div>
            <div class="icon-wrap">
              
            <div class="product-icon">
                <div class="image">
                  <i class="fa fa-calendar" aria-hidden="true"></i>
                </div>
                <div class="text">30 day return</div>
              </div>

            <div class="product-icon">
                <div class="image">
                  <i class="fa fa-check-circle" aria-hidden="true"></i>
                </div>
                <div class="text">90 day limited warranty</div>
              </div>

              <div class="product-icon">
                <div class="image">
                  <i class="fa fa-phone-square" aria-hidden="true"></i>
                </div>
                <div class="text">US-based support</div>
              </div>

              <div class="product-icon">
                <div class="image">
                  <i class="fa fa-shipping-fast" aria-hidden="true"></i>
                </div>
                <div class="text" style="padding: 0px 25px;">Free Shipping</div>
              </div>


              
            </div>
            </div>
          </div>
          
        </form>
          </div>
      </div>

      

      {% comment %}
        If the user is on a collection product page (ie with /collections/collection-handle/products/product-handle)
        in the URL, we can show next/previous links to other products in the collection.
      {% endcomment %}
      {% comment %} {% if collection %}
        {% if collection.previous_product or collection.next_product %}
          <p>
            {% if collection.previous_product %}
              <span class="left">
                {{ 'products.general.previous_product_html' | t | link_to: collection.previous_product }}
              </span>
            {% endif %}
            {% if collection.next_product %}
              <span class="right">
                {{ 'products.general.next_product_html' | t | link_to: collection.next_product }}
              </span>
            {% endif %}
          </p>
        {% endif %}
      {% endif %} {% endcomment %}

    </div>
  </div>



  {% comment %} <div class="owner-info-wrap">
    <div class="title-wrap">
      <h3>Owner Info</h3>
    </div>
    <div class="inner-wrap">

      <div class="info-wrap">
        <div class="image"></div>
        <div class="text"></div>
      </div>

      <div class="info-wrap">
        <div class="image"></div>
        <div class="text"></div>
      </div>

    </div>
  </div> {% endcomment %}

  <section class="fw-banner product-banner" style="background-image: url('{{add.fw-image}}')"></section>

  <section class="feature-split-grid">
    <div class="half-banner" style="background-image: url('{{add.featured_image}}')">
    </div>
    <div class="text-wrap">
      <div class="inner-wrap">
        <div class="title-wrap">
          <h1>Technology &amp; Features <span>{{add.featured_blurb}}</span></h1>
        </div>
        <div class="text-body">
            
          {% if add.blurb_1_title  %}
            <div class="icon-blurb-wrap">
              <div class="tech-icon">
                {% if add.blurb_1_icon == 'tire' %}
                  <img class="tire-icon" src="https://cdn.shopify.com/s/files/1/0071/0406/9747/files/car-wheel_1.png?13566156503524715669" alt="Tire">
                {% elsif add.blurb_1_icon == 'ul' %}
                  <img class="tire-icon" src="https://cdn.shopify.com/s/files/1/0071/0406/9747/files/ul.png?15821839500346403726" alt="UL Certified">
                {% else %}
                  <i class="fa fa-{{add.blurb_1_icon}}"></i>
                {% endif %}
              </div>
              <div class="text">
                <h4>{{add.blurb_1_title}}</h4>
                <p>{{add.blurb_1_body}}</p>
              </div>
            </div>
          {% endif %}
          
          {% if add.blurb_2_title  %}
            <div class="icon-blurb-wrap">
              <div class="tech-icon">
                {% if add.blurb_2_icon == 'tire' %}
                  <img class="tire-icon" src="https://cdn.shopify.com/s/files/1/0071/0406/9747/files/car-wheel_1.png?13566156503524715669" alt="Tire">
                {% elsif add.blurb_2_icon == 'ul' %}
                  <img class="tire-icon" src="https://cdn.shopify.com/s/files/1/0071/0406/9747/files/ul.png?15821839500346403726" alt="UL Certified">
                {% else %}
                  <i class="fa fa-{{add.blurb_2_icon}}"></i>
                {% endif %}
              </div>
              <div class="text">
                <h4>{{add.blurb_2_title}}</h4>
                <p>{{add.blurb_2_body}}</p>
              </div>
            </div>
          {% endif %}


          {% if add.blurb_3_title  %}

            <div class="icon-blurb-wrap">
              <div class="tech-icon">
                {% if add.blurb_3_icon == 'tire' %}
                  <img class="tire-icon" src="https://cdn.shopify.com/s/files/1/0071/0406/9747/files/car-wheel_1.png?13566156503524715669" alt="Tire">
                {% elsif add.blurb_3_icon == 'ul' %}
                  <img class="tire-icon" src="https://cdn.shopify.com/s/files/1/0071/0406/9747/files/ul.png?15821839500346403726" alt="UL Certified">
                {% else %}
                  <i class="fa fa-{{add.blurb_3_icon}}"></i>
                {% endif %}
              </div>
              <div class="text">
                <h4>{{add.blurb_3_title}}</h4>
                <p>{{add.blurb_3_body}}</p>
              </div>
            </div>

          {% endif %}

          {% if add.blurb_4_title  %}

            <div class="icon-blurb-wrap">
              <div class="tech-icon">
                {% if add.blurb_4_icon == 'tire' %}
                  <img class="tire-icon" src="https://cdn.shopify.com/s/files/1/0071/0406/9747/files/car-wheel_1.png?13566156503524715669" alt="Tire">
                {% elsif add.blurb_4_icon == 'ul' %}
                  <img class="tire-icon" src="https://cdn.shopify.com/s/files/1/0071/0406/9747/files/ul.png?15821839500346403726" alt="UL Certified">
                {% else %}
                  <i class="fa fa-{{add.blurb_4_icon}}"></i>
                {% endif %}
                
              </div>
              <div class="text">
                <h4>{{add.blurb_4_title}}</h4>
                <p>{{add.blurb_4_body}}</p>
              </div>
            </div>
          {% endif %}
          
          </div>
        </div>
    </div>
  </section>

  <div class="video-wrap">
    {{add.iframe}}
  </div>

  <div  {% if add.cr_1_invert  %} class="content-row invert" {% else %} class="content-row" {% endif %}>
    <div class="inner-wrap">
        <div class="content-wrap">
          {{ add.cr_1_blurb }}

          {% comment %} <div class="btn-wrap">
            <a href="#" class="btn-black">Shop</a>
          </div> {% endcomment %}
        </div>
        <div class="image-wrap">
          <div class="side-image" style="background-image: url('{{ add.cr_1_image }}')"></div>
        </div>
    </div>
  </div>
  
  {% if add.cr_2_blurb  %}
  <div {% if add.cr_2_invert  %} class="content-row flipped invert" {% else %} class="content-row flipped" {% endif %} >
    <div class="inner-wrap">
        <div class="content-wrap">
          {{ add.cr_2_blurb }}
        </div>
        <div class="image-wrap">
          <div class="side-image" style="background-image: url('{{ add.cr_2_image }}')"></div>
        </div>
    </div>
  </div>

  {% endif  %}


  {% if add.cr_3_blurb  %}

  <div {% if add.cr_3_invert  %} class="content-row invert" {% else %} class="content-row" {% endif %}>
    <div class="inner-wrap">
        <div class="content-wrap">
          {{ add.cr_3_blurb }}
        </div>
        <div class="image-wrap">
          <div class="side-image" style="background-image: url('{{ add.cr_3_image }}')"></div>
        </div>
    </div>
  </div>

  {% endif   %}

  

{% include 'compare-table' %}

  {% comment %} <section class="small-product-preview-wrap">
  <div class="title-wrap">
    <h2>Break out of the mold!</h2>
  </div>
  <div class="small-product-preview">
    <div class="inner-wrap slider">
    {% for product in collections.frontpage.products limit:8 %}

      {% include 'product-grid-item-small' %}

    {% endfor %}
  </div>
  </div>
</section> {% endcomment %}

  <div class="review-wrap">
    <div id="shopify-product-reviews" data-id="{{product.id}}">{{ product.metafields.spr.reviews }}</div>
  </div>


</div>
</div>

<div class="product-slide-header">
        <div class="inner-wrap">
            <div class="title-wrap">
                <h2>{{product.title}}</h2>
            </div>
            <div class="var-wrap">

               <form action="/cart/add" method="post" enctype="multipart/form-data" id="AddToCartForm" class="form-vertical">

                {% comment %}
                  Add product variants as a dropdown.
                    - By default, each variant (or combination of variants) will display as its own <option>
                    - To separate these into multiple steps, which we suggest, use option_selection.js (see below)

                  You can leverage jQuery to add a callback on page load and each time the select element changes:
                    - Include option_selection.js (as seen at the bottom of this file)
                    - This allows you to use JavaScript anytime the variant dropdown changes
                    - This also separates out your variant options (ie. size, color, etc.) to separate select elements

                  For more information on products with multiple options, visit:
                    - http://docs.shopify.com/support/your-website/themes/can-i-make-my-theme-use-products-with-multiple-options#update-product-liquid
                {% endcomment %}
                <select name="id" id="productSelect" class="product-single__variants">
                  {% for variant in product.variants %}
                    {% if variant.available %}

                      {% comment %}
                        Note: if you use option_selection.js, your <select> tag will be overwritten, meaning what you have inside <option> will not reflect what you coded below.
                      {% endcomment %}
                      <option {% if variant == product.selected_or_first_available_variant %} selected="selected" {% endif %} data-sku="{{ variant.sku }}" value="{{ variant.id }}">{{ variant.title }} - {{ variant.price | money_with_currency }}</option>

                    {% else %}
                      <option disabled="disabled">
                        {{ variant.title }} - {{ 'products.product.sold_out' | t }}
                      </option>
                    {% endif %}
                  {% endfor %}
                </select>

                <div class="price-wrap">
                <div class="slide-swatch-wrap">
                  {% include 'swatch' with 'Color' %}
                  <p class="selected-color"><span class="{{product.selected_or_first_available_variant.title | downcase}}">{{product.selected_or_first_available_variant.title}}</span> Selected</p>
                </div>
                
                
                <div class="inner-price-wrap">
                  <span class="visually-hidden">{{ 'products.general.regular_price' | t }}</span>
                  <span id="ProductPrice" class="h2" itemprop="price" content="{{ current_variant.price | divided_by: 100.00 }}">
                    {{ current_variant.price | money }}
                  </span>
                

                {% if product.compare_at_price_max > product.price %}
                  {% comment %} <span class="visually-hidden">{{ 'products.general.sale_price' | t }}</span>
                  <span class="h2" id="ComparePrice">
                    <span class="red-line"> {{ current_variant.compare_at_price | money }}</span>
                  </span>
                  <h1>{{ current_variant.compare_at_price | money }}</h1> {% endcomment %}
                  <span class="red-line h2"> {{ current_variant.compare_at_price | money }}</span>
                {% endif %}
                  </div>
                </div> 

                <div class="product-description-footer">
                  <input type="number" id="Quantity" name="quantity" value="1" min="1" class="quantity-selector">
                  {% if product.available %}
                  <a href="#productStart" id="AddToCart" class="btn addon" >
                    <span id="AddToCartText ">{{ 'products.product.add_to_cart' | t }}</span>
                  </a>
                  {% else %}
                  <button type="submit" name="add" id="AddToCart" class="btn disabled" onclick="cartReveal();" disabled="">
                    <span id="AddToCartText">Sold Out</span>
                  </button>
                  {% endif %}
                </div>

                  </div>
                </div>
                
              </form>


            </div>
        </div>
    </div>


{% comment %}
  To take advantage of a callback on the select dropdown, add option_selection.js
  and customize the JS in timber.productPage as needed.

  Currently, timber.productPage does the following:
    - Hides your <select> tag from above
    - Breaks out the product variants into separate product options, if more than one exists
    - Generates a <select> tag for each product option
    - Enables/disables elements based on variant availability

  Callback notes:
    - Keep the callback available to the global scope (window.selectCallback) so that advanced
      addons can override it.
      * E.g. multiple currencies http://docs.shopify.com/manual/configuration/store-customization/currencies-and-translations/currencies/how-to-toggle-between-two-currencies
{% endcomment %}
{{ 'option_selection.js' | shopify_asset_url | script_tag }}
<script>
  var selectCallback = function(variant, selector) {
    timber.productPage({
      money_format: "{{ shop.money_format }}",
      variant: variant,
      selector: selector
    });
  };

  jQuery(function($) {
    new Shopify.OptionSelectors('productSelect', {
      product: {{ product | json }},
      onVariantSelected: selectCallback,
      enableHistoryState: true
    });

    // Add label if only one product option and it isn't 'Title'. Could be 'Size'.
    {% if product.options.size == 1 and product.options.first != 'Title' %}
      $('.selector-wrapper:eq(0)').prepend('<label for="productSelect-option-0">{{ product.options.first | escape }}</label>');
    {% endif %}

    // Hide selectors if we only have 1 variant and its title contains 'Default'.
    {% if product.variants.size == 1 and product.variants.first.title contains 'Default' %}
      $('.selector-wrapper').hide();
    {% endif %}
  });


 


</script>
